nodered_nodes.txt
[{"id":"bf97828f.e0d5","type":"tab","label":"Washmachine State Machine ","disabled":false,"info":""},{"id":"ebed6492.dd9558","type":"tab","label":"Entrance node","disabled":false,"info":""},{"id":"2159e868.08f748","type":"tab","label":"Presence detection","disabled":false,"info":""},{"id":"117ae75e.a5f4b9","type":"tab","label":"Livingroom node","disabled":false,"info":""},{"id":"b5887534.3c6f4","type":"tab","label":"Balcony node","disabled":false,"info":""},{"id":"474b74d5.8d1c2c","type":"tab","label":"Attic node","disabled":false,"info":""},{"id":"c7dd94f4.6cfe98","type":"tab","label":"Bedroom node","disabled":false,"info":""},{"id":"890e444f.7e4898","type":"tab","label":"Reminder node","disabled":false,"info":""},{"id":"8874c4d3.200988","type":"tab","label":"General settings","disabled":false,"info":""},{"id":"372c6a0a.5b6fa6","type":"tab","label":"Statistics","disabled":false,"info":""},{"id":"d2264f24.ef7248","type":"tab","label":"Kitchen node","disabled":true,"info":""},{"id":"fd1f9f53.46937","type":"tab","label":"Test","disabled":true,"info":""},{"id":"1b65d287.8b524d","type":"tab","label":"Battery test","disabled":true,"info":""},{"id":"e67c6dfd.2c6b98","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e2cd84b.024548","type":"ui_group","z":"","name":"Default","tab":"def1e8e5.bb4f18","disp":true,"width":"6","collapse":false},{"id":"9a2a32a2.fb4ce","type":"ui_tab","z":"","name":"House control","icon":"home","order":1},{"id":"cc52bacb.554398","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#007eb1","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#007eb1","edited":true},"page-titlebar-backgroundColor":{"value":"#007eb1","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#00b4fd","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#007eb1","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"def1e8e5.bb4f18","type":"ui_tab","z":"","name":"Alarm","icon":"dashboard","order":3},{"id":"fc022518.d7bc5","type":"ui_group","z":"","name":"Test","tab":"9cb83690.5483f","disp":true,"width":"8","collapse":false},{"id":"f933085d.8cad7","type":"ui_group","z":"","name":"Attic","tab":"9a2a32a2.fb4ce","disp":true,"width":"4","collapse":false},{"id":"addbf546.caf608","type":"ui_group","z":"","name":"Kitchen","tab":"9a2a32a2.fb4ce","disp":true,"width":"6","collapse":false},{"id":"22dbe042.537a68","type":"ui_tab","z":"","name":"Graphs","icon":"fa-signal","order":2},{"id":"fb91ed0a.105588","type":"ui_group","z":"","name":"Attic","tab":"22dbe042.537a68","disp":true,"width":"12","collapse":false},{"id":"66bb6238.405dac","type":"ui_group","z":"","name":"Livingroom","tab":"9a2a32a2.fb4ce","disp":true,"width":"4","collapse":false},{"id":"e70be721.600c28","type":"ui_group","z":"","name":"Livingroom","tab":"22dbe042.537a68","disp":true,"width":"12","collapse":false},{"id":"4406aa4.a2328d4","type":"ui_group","z":"","name":"Washmachine","tab":"22dbe042.537a68","disp":true,"width":"12","collapse":false},{"id":"c086012c.2407d8","type":"ui_group","z":"","name":"Who is at home?","tab":"9a2a32a2.fb4ce","disp":true,"width":"4","collapse":false},{"id":"59f1345a.5292fc","type":"ifttt-key","z":""},{"id":"dab75ed.980752","type":"ifttt-key","z":""},{"id":"75b5c45e.52e19c","type":"ui_spacer","name":"spacer","group":"e70be721.600c28","order":2,"width":1,"height":1},{"id":"9cb83690.5483f","type":"ui_tab","z":"","name":"Battery test","icon":"dashboard","order":4},{"id":"c4f8e805.745818","type":"ui_group","z":"","name":"Bedroom","tab":"9a2a32a2.fb4ce","disp":true,"width":"4","collapse":false},{"id":"de3873be.99eeb","type":"ui_group","z":"","name":"Bedroom","tab":"22dbe042.537a68","disp":true,"width":"12","collapse":false},{"id":"6ab69360.278fbc","type":"ui_group","z":"","name":"Alarm","tab":"4a22971.12c1768","disp":true,"width":"6","collapse":false},{"id":"c84696ed.c9d7a8","type":"ui_tab","z":"","name":"Reminders","icon":"fa-bell","order":5},{"id":"d5304c8f.46869","type":"ui_group","z":"","name":"General","tab":"c84696ed.c9d7a8","disp":true,"width":"6","collapse":false},{"id":"4a22971.12c1768","type":"ui_tab","z":"","name":"Alarm clock","icon":"wi-wu-sunny","order":6},{"id":"3e60f547.b8d2f2","type":"ui_tab","z":"","name":"Attic thermostat","icon":"fa-thermometer-half ","order":7},{"id":"a6f19742.9f9e28","type":"ui_group","z":"","name":"Temperature","tab":"3e60f547.b8d2f2","disp":true,"width":"6","collapse":false},{"id":"cb4cc6fb.fdeeb8","type":"ui_group","z":"","name":"Timer","tab":"3e60f547.b8d2f2","disp":true,"width":"6","collapse":false},{"id":"dd59a7f5.332858","type":"ui_tab","z":"","name":"Configuration","icon":"fa-cog","order":8},{"id":"5db64310.9cdc4c","type":"ui_group","z":"","name":"Entrance","tab":"dd59a7f5.332858","order":2,"disp":true,"width":"6","collapse":false},{"id":"2523f38f.5c964c","type":"ui_group","z":"","name":"General","tab":"dd59a7f5.332858","order":1,"disp":true,"width":"6","collapse":false},{"id":"a8d5eefe.34189","type":"ui_group","z":"","name":"Balcony","tab":"dd59a7f5.332858","disp":true,"width":"6","collapse":false},{"id":"6d09be01.9f773","type":"ui_tab","z":"","name":"Statistics","icon":"fa-bug"},{"id":"5ea35a44.fd3e34","type":"ui_group","z":"","name":"Entrance","tab":"6d09be01.9f773","order":2,"disp":true,"width":"6","collapse":false},{"id":"bbf7ff0.aeff5","type":"ui_group","z":"","name":"General","tab":"6d09be01.9f773","order":1,"disp":true,"width":"6","collapse":false},{"id":"b08803e9.31eb7","type":"ui_group","z":"","name":"Livingroom","tab":"6d09be01.9f773","order":3,"disp":true,"width":"6","collapse":false},{"id":"fdf24e3d.60209","type":"ui_group","z":"","name":"Bedroom","tab":"6d09be01.9f773","order":4,"disp":true,"width":"6","collapse":false},{"id":"dadda8b2.d4ca58","type":"ui_group","z":"","name":"Attic","tab":"6d09be01.9f773","order":5,"disp":true,"width":"6","collapse":false},{"id":"efcd26a0.d476d8","type":"ui_group","z":"","name":"Balcony","tab":"6d09be01.9f773","order":6,"disp":true,"width":"6","collapse":false},{"id":"4e0c77b8.37f488","type":"mqtt in","z":"ebed6492.dd9558","name":"Entrance detected","topic":"entrance_node/entrance_detected","qos":"2","broker":"e67c6dfd.2c6b98","x":250,"y":440,"wires":[["f53b4f52.67e86","148f668e.b854e1","daa475e4.0ed7b8","5d92a4d6.91dbcc","e99de301.15d258"]]},{"id":"adc061d9.ac9e6","type":"function","z":"ebed6492.dd9558","name":"Entrance time dashboard","func":"var datetime = new Date()\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nmsg = {\"payload\": {\"state\": \"ON_LIGHT\",\n                   \"color\": 0,\n                   \"R\": 0,\n                   \"G\": 0,\n                   \"B\": 0}}\n\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":320,"wires":[[]]},{"id":"25094538.5b995a","type":"mqtt in","z":"fd1f9f53.46937","name":"","topic":"livingroom_node/light","qos":"2","broker":"e67c6dfd.2c6b98","x":100,"y":140,"wires":[["313793e.b8a9d6c"]]},{"id":"c19dedd3.d096a","type":"debug","z":"fd1f9f53.46937","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":60,"wires":[]},{"id":"c0e04565.92ebc","type":"function","z":"fd1f9f53.46937","name":"Function","func":"\nvar new_msg = {payload: msg.payload.state}\n\n\nreturn new_msg;","outputs":1,"noerr":0,"x":430,"y":240,"wires":[[]]},{"id":"313793e.b8a9d6c","type":"json","z":"fd1f9f53.46937","name":"Json converter","property":"payload","action":"","pretty":false,"x":320,"y":140,"wires":[["c19dedd3.d096a","c0e04565.92ebc"]]},{"id":"d1347eab.d6e29","type":"ui_colour_picker","z":"117ae75e.a5f4b9","name":"","label":"Lamp color","group":"66bb6238.405dac","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":7,"width":0,"height":0,"passthru":true,"topic":"","x":130,"y":200,"wires":[["f0a1152e.b88338"]]},{"id":"f0a1152e.b88338","type":"function","z":"117ae75e.a5f4b9","name":"Parse message","func":"\nmsg = {payload:\n      {\n        r:msg.payload.r,\n        g:msg.payload.g,\n        b:msg.payload.b\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["714c5b33.9a7d14"]]},{"id":"507ec549.9ae4dc","type":"debug","z":"117ae75e.a5f4b9","name":"Livingroom: temperature msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":420,"wires":[]},{"id":"99febe78.752c88","type":"ui_gauge","z":"117ae75e.a5f4b9","name":"Temperature","group":"66bb6238.405dac","order":1,"width":"4","height":"3","gtype":"gage","title":"Temperature","label":"ºC","format":"{{value}}","min":"6","max":"30","colors":["#50b500","#e6df00","#ca3838"],"seg1":"17","seg2":"23","x":510,"y":480,"wires":[]},{"id":"97f23e9.3872b4","type":"mqtt in","z":"117ae75e.a5f4b9","name":"Temperature","topic":"livingroom_node/temperature","qos":"2","broker":"e67c6dfd.2c6b98","x":130,"y":480,"wires":[["99febe78.752c88","a76268f2.7063c8","507ec549.9ae4dc"]]},{"id":"a76268f2.7063c8","type":"ui_chart","z":"117ae75e.a5f4b9","name":"Temperature graph","group":"e70be721.600c28","order":2,"width":"12","height":"6","label":"Temperature chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"6","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":560,"wires":[[],[]]},{"id":"97e1c1e1.3bf248","type":"ui_text","z":"117ae75e.a5f4b9","group":"66bb6238.405dac","order":4,"width":"2","height":"1","name":"","label":"Bright","format":"","layout":"row-left","x":110,"y":380,"wires":[]},{"id":"4a09d19d.b8c0c","type":"mqtt in","z":"d2264f24.ef7248","name":"Kitchen status","topic":"kitchen_node/status","qos":"2","broker":"e67c6dfd.2c6b98","x":150,"y":180,"wires":[["78177f21.00fb9","ff6600ca.45f5c8","cb116c1a.28c208"]]},{"id":"ff6600ca.45f5c8","type":"function","z":"d2264f24.ef7248","name":"Set payload","func":"var msg_topic;\n\nif(msg.payload == \"1\") msg_topic = \"start\"\nif(msg.payload == \"0\") msg_topic = \"stop\"\n\nmsg = {topic: msg_topic}\n\nvar datetime = Date.now();\n\nglobal.set('start_time',datetime)\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["bd499746.bec8c8","9cbd9fc0.ce5498"]]},{"id":"7a40d2e6.24d72c","type":"ui_text","z":"d2264f24.ef7248","group":"addbf546.caf608","order":2,"width":0,"height":0,"name":"On since","label":"On since","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":260,"wires":[]},{"id":"cb116c1a.28c208","type":"debug","z":"d2264f24.ef7248","name":"Kitchen node: message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":120,"wires":[]},{"id":"78177f21.00fb9","type":"ui_switch","z":"d2264f24.ef7248","name":"Kitchen status","label":"Kitchen status","tooltip":"","group":"addbf546.caf608","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":420,"y":180,"wires":[[]]},{"id":"7875bc7a.d96a2c","type":"ui_button","z":"fd1f9f53.46937","name":"","group":"4e2cd84b.024548","order":2,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Los robots nos hemos hecho con el control de la tierra. Vais a morir todos, humanos","payloadType":"str","topic":"","x":100,"y":380,"wires":[["8d52bc4e.b6e0c"]]},{"id":"8d52bc4e.b6e0c","type":"exec","z":"fd1f9f53.46937","command":"/home/pi/Projects/speech.sh ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":380,"wires":[[],[],[]]},{"id":"deac84a9.4d6a","type":"exec","z":"ebed6492.dd9558","command":"/home/pi/Projects/audio_node/audio_node_offline","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1950,"y":960,"wires":[[],[],[]]},{"id":"9ec1170f.11f26","type":"function","z":"ebed6492.dd9558","name":"Check presence status","func":"var datetime = new Date();\n\n\nvar last_detection_raul = global.get(\"last_entrance_raul\") || 0;\nvar last_detection_cris = global.get(\"last_entrance_cris\") || 0;\nvar detection_threshold = global.get(\"detection_threshold\") || 0;\n\nvar raul_greeted = global.get(\"raul_greeted\") || 0;\nvar cris_greeted = global.get(\"cris_greeted\") || 0;\n\nvar timedif_raul = datetime - last_detection_raul;\nvar timedif_cris = datetime - last_detection_cris;\n\nvar new_msg = {payload: \"\", greet_raul: false, greet_cris: false, greet_generic: false}\n\nvar count_detected = 0\n\nif( (timedif_raul < detection_threshold) && !raul_greeted)\n{\n    new_msg.greet_raul = true;\n    global.set(\"raul_greeted\",true);\n}\nelse if(timedif_raul > detection_threshold) count_detected++\n\nif( (timedif_cris < detection_threshold) && !cris_greeted)\n{\n    new_msg.greet_cris = true;\n    global.set(\"cris_greeted\",true);\n}\nelse if(timedif_cris > detection_threshold) count_detected++\n\nif(count_detected == 2) new_msg.greet_generic = true\n\nreturn new_msg;","outputs":1,"noerr":0,"x":520,"y":780,"wires":[["6747c69a.a341b","c1efedcc.2e5b2","2bbb5601.618a22"]]},{"id":"bd499746.bec8c8","type":"state-machine","z":"d2264f24.ef7248","name":"SM","triggerProperty":"topic","triggerPropertyType":"msg","stateProperty":"topic","statePropertyType":"msg","outputStateChangeOnly":false,"throwException":false,"states":["off","on"],"transitions":[{"name":"start","from":"off","to":"on"},{"name":"stop","from":"on","to":"off"},{"name":"continue","from":"on","to":"on"},{"name":"continue","from":"off","to":"off"}],"x":610,"y":260,"wires":[["b18bc99f.41133"]]},{"id":"b18bc99f.41133","type":"switch","z":"d2264f24.ef7248","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":770,"y":260,"wires":[["f5f850bc.daa538"],["4d38936b.4a5c4c"]],"outputLabels":["message.topic = ",""]},{"id":"f5f850bc.daa538","type":"function","z":"d2264f24.ef7248","name":"Set payload","func":"var count_seconds = \"-\"\n\nmsg = {payload: count_seconds}\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":220,"wires":[["7a40d2e6.24d72c"]]},{"id":"4d38936b.4a5c4c","type":"function","z":"d2264f24.ef7248","name":"Set payload","func":"var datetime = Date.now();\nvar datetime_old = global.get('start_time') || 0;\nvar ellapsed_time = datetime - datetime_old\n\nvar seconds = parseInt(ellapsed_time / 1000)\n\n\nmsg = {payload: seconds, topic: \"continue\"}\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":340,"wires":[["7a40d2e6.24d72c","edb92455.35be38","9cbd9fc0.ce5498"]]},{"id":"edb92455.35be38","type":"delay","z":"d2264f24.ef7248","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":420,"wires":[["bd499746.bec8c8"]]},{"id":"9cbd9fc0.ce5498","type":"debug","z":"d2264f24.ef7248","name":"Kitchen node: payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":520,"wires":[]},{"id":"350e6f41.2f4d18","type":"mqtt in","z":"117ae75e.a5f4b9","name":"Humidity","topic":"livingroom_node/humidity","qos":"2","broker":"e67c6dfd.2c6b98","x":120,"y":700,"wires":[["f50ae8de.008998","20a2754e.2bab2a"]]},{"id":"f50ae8de.008998","type":"ui_chart","z":"117ae75e.a5f4b9","name":"Humidity graph","group":"e70be721.600c28","order":2,"width":"12","height":"6","label":"Humidity chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":520,"y":780,"wires":[[],[]]},{"id":"dd329880.bb98d8","type":"debug","z":"2159e868.08f748","name":"Presence detector: Cristina presence msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":480,"wires":[]},{"id":"1a5f5835.3b5fc8","type":"ui_gauge","z":"474b74d5.8d1c2c","name":"Temperature","group":"f933085d.8cad7","order":1,"width":"4","height":"3","gtype":"gage","title":"Temperature","label":"ºC","format":"{{value}}","min":"6","max":"40","colors":["#50b500","#e6df00","#ca3838"],"seg1":"14","seg2":"25","x":550,"y":100,"wires":[]},{"id":"43d45f81.b8264","type":"mqtt in","z":"474b74d5.8d1c2c","name":"Temperature","topic":"attic_node/temperature","qos":"2","broker":"e67c6dfd.2c6b98","x":150,"y":120,"wires":[["1a5f5835.3b5fc8","48311a24.2c3164","1ada0611.9932ea"]]},{"id":"48311a24.2c3164","type":"ui_chart","z":"474b74d5.8d1c2c","name":"Temperature graph","group":"fb91ed0a.105588","order":2,"width":"12","height":"6","label":"Temperature chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"6","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":550,"y":180,"wires":[[],[]]},{"id":"128a997c.264bc7","type":"mqtt in","z":"474b74d5.8d1c2c","name":"Humidity","topic":"attic_node/humidity","qos":"2","broker":"e67c6dfd.2c6b98","x":150,"y":260,"wires":[["189f07db.4c1848"]]},{"id":"189f07db.4c1848","type":"ui_chart","z":"474b74d5.8d1c2c","name":"Humidity graph","group":"fb91ed0a.105588","order":2,"width":"12","height":"6","label":"Humidity chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":540,"y":260,"wires":[[],[]]},{"id":"3e3075e8.5acb3a","type":"function","z":"474b74d5.8d1c2c","name":"Heating control","func":"\nvar heating = flow.get(\"heating\") || 0;\nvar target_temperature = flow.get(\"target_temperature\") || 0;\nvar temperature = flow.get(\"current_temperature\") || 0;\n\nvar hysteresis = 0.5\n\nif(heating)\n{\n    if(temperature < (target_temperature - hysteresis))\n    {\n        msg.payload = 1;\n        msg.topic = \"ON\";\n    }\n    else if (temperature > (target_temperature + hysteresis))\n    {\n        msg.payload = 0;\n        msg.topic = \"OFF\";\n    }\n    \n}\n\nelse\n{\n    msg.payload = 0;\n    msg.topic = \"OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":520,"wires":[["f00f4a32.a96ca8","563bfd10.79e274"]]},{"id":"f00f4a32.a96ca8","type":"state-machine","z":"474b74d5.8d1c2c","name":"Heating SM","triggerProperty":"topic","triggerPropertyType":"msg","stateProperty":"topic","statePropertyType":"msg","outputStateChangeOnly":false,"throwException":false,"states":["OFF","OFF_SENT","ON","ON_SENT"],"transitions":[{"name":"ON","from":"OFF","to":"ON"},{"name":"ON","from":"ON","to":"ON_SENT"},{"name":"ON","from":"ON_SENT","to":"ON_SENT"},{"name":"ON","from":"OFF_SENT","to":"ON"},{"name":"OFF","from":"OFF","to":"OFF_SENT"},{"name":"OFF","from":"ON","to":"OFF"},{"name":"OFF","from":"ON_SENT","to":"OFF"},{"name":"OFF","from":"OFF_SENT","to":"OFF_SENT"}],"x":590,"y":520,"wires":[["b7dcb55c.4f5d58"]]},{"id":"b7dcb55c.4f5d58","type":"switch","z":"474b74d5.8d1c2c","name":"Switch","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":770,"y":520,"wires":[["c4da8a3f.006c48","b5956062.8f48a"],["f8443444.7b9a78","d27f0769.52728"],[]],"outputLabels":["","message.topic = ",""]},{"id":"c4da8a3f.006c48","type":"ifttt out","z":"474b74d5.8d1c2c","eventName":"heating_on_1","key":"dab75ed.980752","x":1000,"y":380,"wires":[]},{"id":"f8443444.7b9a78","type":"ifttt out","z":"474b74d5.8d1c2c","eventName":"heating_off_1","key":"dab75ed.980752","x":1000,"y":560,"wires":[]},{"id":"b5956062.8f48a","type":"ifttt out","z":"474b74d5.8d1c2c","eventName":"heating_on_2","key":"dab75ed.980752","x":1000,"y":420,"wires":[]},{"id":"d27f0769.52728","type":"ifttt out","z":"474b74d5.8d1c2c","eventName":"heating_off_2","key":"dab75ed.980752","x":1000,"y":600,"wires":[]},{"id":"f4e4aee8.5fdf","type":"mqtt in","z":"117ae75e.a5f4b9","name":"Light amount","topic":"livingroom_node/light","qos":"2","broker":"e67c6dfd.2c6b98","x":130,"y":920,"wires":[["655e7a2a.e6b76c"]]},{"id":"17307404.62e40c","type":"ui_gauge","z":"117ae75e.a5f4b9","name":"Light amount","group":"66bb6238.405dac","order":1,"width":"4","height":"3","gtype":"wave","title":"Light","label":"Lx","format":"{{value}}","min":0,"max":"100","colors":["#50b500","#e6df00","#ca3838"],"seg1":"","seg2":"","x":610,"y":920,"wires":[]},{"id":"46673997.207908","type":"ui_chart","z":"117ae75e.a5f4b9","name":"Light graph","group":"e70be721.600c28","order":2,"width":"12","height":"6","label":"Light chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":1020,"wires":[[],[]]},{"id":"cbf3bc91.a9e028","type":"ui_button","z":"fd1f9f53.46937","name":"","group":"4e2cd84b.024548","order":2,"width":0,"height":0,"passthru":false,"label":"Warning ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":110,"y":560,"wires":[["3ab95f53.7c948"]]},{"id":"651b667a.e1248","type":"ui_button","z":"fd1f9f53.46937","name":"","group":"4e2cd84b.024548","order":2,"width":0,"height":0,"passthru":false,"label":"Warning OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":120,"y":600,"wires":[["3ab95f53.7c948"]]},{"id":"3ab95f53.7c948","type":"mqtt out","z":"fd1f9f53.46937","name":"","topic":"entrance/warning","qos":"","retain":"","broker":"e67c6dfd.2c6b98","x":390,"y":580,"wires":[]},{"id":"f05aa3b6.aa445","type":"function","z":"117ae75e.a5f4b9","name":"Set light amount ","func":"\nglobal.set(\"light_amount_livingroom\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1100,"wires":[[]]},{"id":"148f668e.b854e1","type":"function","z":"ebed6492.dd9558","name":"Livingroom lightning","func":"\nmsg.payload = global.get(\"light_amount_livingroom\") || 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":520,"wires":[["7465616.21b242"]]},{"id":"7465616.21b242","type":"switch","z":"ebed6492.dd9558","name":"Light threshold","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":520,"wires":[["e190d33f.e2bd58","d5417207.7c2a7"]]},{"id":"e190d33f.e2bd58","type":"ifttt out","z":"ebed6492.dd9558","eventName":"livingroom_on","key":"dab75ed.980752","x":940,"y":480,"wires":[]},{"id":"d05927ef.6c313","type":"debug","z":"117ae75e.a5f4b9","name":"Received msg: light amount","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":860,"wires":[]},{"id":"655e7a2a.e6b76c","type":"json","z":"117ae75e.a5f4b9","name":"Json converter","property":"payload","action":"","pretty":false,"x":360,"y":920,"wires":[["d05927ef.6c313","17307404.62e40c","46673997.207908","f05aa3b6.aa445"]]},{"id":"23ae531b.65f60c","type":"mqtt in","z":"2159e868.08f748","name":"Cristina presence","topic":"presence_detection/cristina","qos":"2","broker":"e67c6dfd.2c6b98","x":170,"y":480,"wires":[["7d6fd9e5.99b2d8","dd329880.bb98d8"]]},{"id":"7d6fd9e5.99b2d8","type":"function","z":"2159e868.08f748","name":"Set payload Cris","func":"\nvar datetime = new Date()\n\nglobal.set(\"last_detection_cris\", datetime)\n\nvar last_entrance_cris = global.get(\"last_entrance_cris\") || 0;\nvar threshold = global.get(\"detection_threshold\") || 0;\n\nvar timedif = datetime - last_entrance_cris;\n\nif(timedif > 1.5*threshold) global.set(\"cris_greeted\",false);\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":580,"wires":[["a174ad79.3acee"]]},{"id":"e531f37a.06057","type":"inject","z":"2159e868.08f748","name":"Periodical trigger","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":true,"onceDelay":"1","x":150,"y":800,"wires":[["97ff935d.fc163","90d5ace0.044e48"]]},{"id":"a174ad79.3acee","type":"function","z":"2159e868.08f748","name":"Check payload Cris","func":"var datetime = new Date()\n\nvar last_detection = global.get(\"last_detection_cris\") || 0;\nvar detection_threshold = global.get(\"detection_threshold\") || 0;\n\nvar time_since_last_detection = datetime - last_detection\nnode.error(time_since_last_detection)\n\nif( time_since_last_detection > detection_threshold )\n{\n    msg.payload = false\n    msg.topic = \"Exit: \"\n    global.set(\"presence_cris\",false)\n}\nelse\n{\n    msg.payload = true\n    msg.topic = \"Came: \"\n    global.set(\"presence_cris\",true)\n}\n\n\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\nif(month < 10) time_parsed += \"0\"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":640,"wires":[["95381fe2.77e998","4bdf1aa7.04fa2c"]]},{"id":"4bdf1aa7.04fa2c","type":"ui_switch","z":"2159e868.08f748","name":"","label":"Cristina","tooltip":"","group":"c086012c.2407d8","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":830,"y":640,"wires":[[]]},{"id":"97ff935d.fc163","type":"exec","z":"2159e868.08f748","command":"/home/pi/Projects/presence_detection_node/presence_detection_safe","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Test exec python","x":480,"y":1320,"wires":[["9629243a.357b4"],["9629243a.357b4"],[]]},{"id":"9629243a.357b4","type":"debug","z":"2159e868.08f748","name":"Presence detector: Script output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":1320,"wires":[]},{"id":"95381fe2.77e998","type":"switch","z":"2159e868.08f748","name":"Event at change","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":860,"y":580,"wires":[["92173b4.7e4a048"]]},{"id":"8cd3f97a.0ece5","type":"ifttt out","z":"2159e868.08f748","eventName":"cris_at_home","key":"dab75ed.980752","x":1290,"y":440,"wires":[]},{"id":"50736ad7.194944","type":"inject","z":"2159e868.08f748","name":"Triger once at start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":100,"wires":[["ff29f6b0.14a5e"]]},{"id":"ff29f6b0.14a5e","type":"function","z":"2159e868.08f748","name":"Set initial values","func":"\nvar datetime = new Date()\nvar detection_threshold = 120000\n\nglobal.set(\"last_detection_cris\", datetime - detection_threshold)\nglobal.set(\"last_detection_raul\", datetime - detection_threshold)\nglobal.set(\"last_entrance_cris\", datetime - detection_threshold)\nglobal.set(\"last_entrance_raul\", datetime - detection_threshold)\n\nglobal.set(\"presence_raul\",false)\nglobal.set(\"presence_cris\",false)\nglobal.set(\"detection_threshold\", detection_threshold)\n\nglobal.set(\"advertisement_done\",0);\n\nglobal.set(\"cris_greeted\",false);\nglobal.set(\"raul_greeted\",false);\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[[]]},{"id":"92173b4.7e4a048","type":"switch","z":"2159e868.08f748","name":"Decide IN/OUT","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":580,"wires":[["8cd3f97a.0ece5","39a494ba.8b5db4","3bd9c0a9.da2f98"],["203ef608.48d912","39a494ba.8b5db4"]]},{"id":"4b889642.5ca4f8","type":"debug","z":"2159e868.08f748","name":"Presence detector: Raul presence msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":340,"wires":[]},{"id":"27e74b14.c15394","type":"mqtt in","z":"2159e868.08f748","name":"Raul presence","topic":"presence_detection/raul","qos":"2","broker":"e67c6dfd.2c6b98","x":170,"y":340,"wires":[["f906dfbd.a19478","4b889642.5ca4f8"]]},{"id":"f906dfbd.a19478","type":"function","z":"2159e868.08f748","name":"Set payload Raul","func":"\nvar datetime = new Date()\n\nglobal.set(\"last_detection_raul\", datetime)\n\nvar last_entrance_raul = global.get(\"last_entrance_raul\") || 0;\nvar threshold = global.get(\"detection_threshold\") || 0;\n\nvar timedif = datetime - last_entrance_raul;\n\nif(timedif > 1.5*threshold) global.set(\"raul_greeted\",false);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":400,"wires":[["e0f78272.3b36f"]]},{"id":"203ef608.48d912","type":"ifttt out","z":"2159e868.08f748","eventName":"cris_left_home","key":"dab75ed.980752","x":1290,"y":700,"wires":[]},{"id":"39a494ba.8b5db4","type":"ui_text","z":"2159e868.08f748","group":"c086012c.2407d8","order":2,"width":0,"height":0,"name":"Last entrance","label":"{{msg.topic}}","format":"{{msg.timestamp}}","layout":"row-spread","x":1300,"y":580,"wires":[]},{"id":"e0f78272.3b36f","type":"function","z":"2159e868.08f748","name":"Check payload Raul","func":"var datetime = new Date()\n\nvar last_detection = global.get(\"last_detection_raul\") || 0;\nvar detection_threshold = global.get(\"detection_threshold\") || 0;\n\nvar time_since_last_detection = datetime - last_detection\nnode.error(time_since_last_detection)\n\nif( time_since_last_detection > detection_threshold )\n{\n    msg.payload = false\n    msg.topic = \"Exit: \"\n    global.set(\"presence_raul\",false)\n}\nelse\n{\n    msg.payload = true\n    msg.topic = \"Came: \"\n    global.set(\"presence_raul\",true)\n}\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\nif(month < 10) time_parsed += \"0\"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":980,"wires":[["1e715a44.ae3406","c7f2a410.f87d98"]]},{"id":"c7f2a410.f87d98","type":"ui_switch","z":"2159e868.08f748","name":"","label":"Raul","tooltip":"","group":"c086012c.2407d8","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":860,"y":980,"wires":[[]]},{"id":"1e715a44.ae3406","type":"switch","z":"2159e868.08f748","name":"Event at change","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":860,"y":920,"wires":[["4cf56a45.3215e4"]]},{"id":"4cf56a45.3215e4","type":"switch","z":"2159e868.08f748","name":"Decide IN/OUT","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":920,"wires":[["3baea57d.279b9a","2cd7df9b.240538","4a73f0eb.a54dc8"],["2cd7df9b.240538","d3a72d5d.144ba8"]]},{"id":"4a73f0eb.a54dc8","type":"ifttt out","z":"2159e868.08f748","eventName":"raul_at_home","key":"59f1345a.5292fc","x":1290,"y":780,"wires":[]},{"id":"d3a72d5d.144ba8","type":"ifttt out","z":"2159e868.08f748","eventName":"raul_left_home","key":"59f1345a.5292fc","x":1290,"y":1040,"wires":[]},{"id":"2cd7df9b.240538","type":"ui_text","z":"2159e868.08f748","group":"c086012c.2407d8","order":4,"width":0,"height":0,"name":"Last entrance","label":"{{msg.topic}}","format":"{{msg.timestamp}}","layout":"row-spread","x":1280,"y":920,"wires":[]},{"id":"e94c5c21.2aa738","type":"mqtt out","z":"117ae75e.a5f4b9","name":"Lamp intensity request","topic":"livingroom_node/light_intensity","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":580,"y":300,"wires":[]},{"id":"714c5b33.9a7d14","type":"mqtt out","z":"117ae75e.a5f4b9","name":"Lamp color request","topic":"livingroom_node/light_color","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":610,"y":200,"wires":[]},{"id":"3baea57d.279b9a","type":"function","z":"2159e868.08f748","name":"Set greet message Raul","func":"var datetime = new Date()\n\nvar detection_threshold = global.get(\"detection_threshold\") || 0;\nvar entrance_detection_time = global.get(\"entrance_detection_time\") || 0;\n\nvar timedif = datetime - entrance_detection_time\n\nvar raul_greeted = global.get(\"raul_greeted\") || 0;\n\nnode.error(timedif)\n\nvar new_msg = {payload: \"\", greet: false}\n\n\nif((timedif < detection_threshold) && !raul_greeted)\n{\n    new_msg.greet = true;\n    global.set(\"raul_greeted\",true);\n}\n\n\nglobal.set(\"last_entrance_raul\", datetime)\n\nnew_msg.payload = \" -e hello -p raul\"\n\nreturn new_msg;","outputs":1,"noerr":0,"x":1490,"y":820,"wires":[["754dcbb5.b7d90c"]]},{"id":"754dcbb5.b7d90c","type":"switch","z":"2159e868.08f748","name":"Decide to greet","property":"greet","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1730,"y":820,"wires":[["ab3cdef8.bd3c38","bbd96316.eee1"]]},{"id":"6747c69a.a341b","type":"switch","z":"ebed6492.dd9558","name":"Greet Raul","property":"greet_raul","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":780,"wires":[["cce373dc.a3d11"]]},{"id":"e99de301.15d258","type":"exec","z":"ebed6492.dd9558","command":"xset -display :0 dpms force on","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Activate display","x":680,"y":260,"wires":[[],[],[]]},{"id":"f53b4f52.67e86","type":"debug","z":"ebed6492.dd9558","name":"Entrance detected msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":340,"wires":[]},{"id":"5ab38fbc.273dd","type":"switch","z":"2159e868.08f748","name":"Decide to greet","property":"greet","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1730,"y":500,"wires":[["bbd96316.eee1"]]},{"id":"3bd9c0a9.da2f98","type":"function","z":"2159e868.08f748","name":"Set greet message Cris","func":"var datetime = new Date()\n\nvar detection_threshold = global.get(\"detection_threshold\") || 0;\nvar entrance_detection_time = global.get(\"entrance_detection_time\") || 0;\n\nvar cris_greeted = global.get(\"cris_greeted\") || 0;\n\n\nvar timedif = datetime - entrance_detection_time\n\nvar new_msg = {payload: \"\", greet: false}\n\n\nif( (timedif < detection_threshold) && !cris_greeted)\n{\n    new_msg.greet = true;\n    global.set(\"cris_greeted\",true);\n}\n\nglobal.set(\"last_entrance_cris\", datetime)\n\n\nnew_msg.payload = \" -e hello -p cris \"\n\n\nreturn new_msg;","outputs":1,"noerr":0,"x":1510,"y":500,"wires":[["5ab38fbc.273dd"]]},{"id":"c398ba15.9f2f2","type":"inject","z":"474b74d5.8d1c2c","name":"Periodical trigger","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"1","x":130,"y":520,"wires":[["3e3075e8.5acb3a"]]},{"id":"1ada0611.9932ea","type":"function","z":"474b74d5.8d1c2c","name":"Set flow temperature variable","func":"\nflow.set(\"current_temperature\", msg.payload)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":40,"wires":[[]]},{"id":"20a2754e.2bab2a","type":"debug","z":"117ae75e.a5f4b9","name":"Livingroom: humidity msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":640,"wires":[]},{"id":"25695241.b6e586","type":"function","z":"117ae75e.a5f4b9","name":"Parse message","func":"\nmsg = {payload:\n      {\n        req:msg.payload\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":300,"wires":[["e94c5c21.2aa738"]]},{"id":"d5417207.7c2a7","type":"function","z":"ebed6492.dd9558","name":"Generate lamp message","func":"\nmsg = {payload:\n      {\n        req:1\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":560,"wires":[["f8f85077.00b9f"]]},{"id":"f8f85077.00b9f","type":"mqtt out","z":"ebed6492.dd9558","name":"Lamp state request","topic":"livingroom_node/light_state","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":1230,"y":560,"wires":[]},{"id":"81124780.ffe058","type":"ui_text","z":"1b65d287.8b524d","group":"fc022518.d7bc5","order":2,"width":0,"height":0,"name":"Last message","label":"Last msg received","format":"{{msg.timestamp}}","layout":"row-spread","x":760,"y":240,"wires":[]},{"id":"60d7a150.b2922","type":"function","z":"1b65d287.8b524d","name":"Set payload","func":"var datetime = new Date()\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nvar count = flow.get(\"num_messages\") || 0;\n\n\nmsg.payload = count + 1\n\nflow.set(\"num_messages\",msg.payload)\n\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":240,"wires":[["81124780.ffe058","a21e7dfb.30781"]]},{"id":"5bce80bf.404458","type":"mqtt in","z":"1b65d287.8b524d","name":"Door status","topic":"test_node/alive_check","qos":"2","broker":"e67c6dfd.2c6b98","x":290,"y":300,"wires":[["e93a6d82.08b85","60d7a150.b2922"]]},{"id":"e93a6d82.08b85","type":"debug","z":"1b65d287.8b524d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":360,"wires":[]},{"id":"a21e7dfb.30781","type":"ui_text","z":"1b65d287.8b524d","group":"fc022518.d7bc5","order":3,"width":0,"height":0,"name":"Num messages","label":"Num messages","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":300,"wires":[]},{"id":"6bb8364c.d444b","type":"inject","z":"1b65d287.8b524d","name":"Triger once at start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":330,"y":480,"wires":[["d6b4a310.31a3c","b24a3b4f.300408"]]},{"id":"d6b4a310.31a3c","type":"function","z":"1b65d287.8b524d","name":"Set initial values","func":"\nflow.set(\"num_messages\",0);\nflow.set(\"num_reconnections\",0);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":480,"wires":[["60d7a150.b2922"]]},{"id":"86f6fd1c.b34688","type":"ui_button","z":"1b65d287.8b524d","name":"Reset","group":"fc022518.d7bc5","order":4,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"remove_circle","payload":"-1","payloadType":"num","topic":"","x":290,"y":580,"wires":[["d6b4a310.31a3c","b24a3b4f.300408"]]},{"id":"b9b7d351.746f1","type":"mqtt in","z":"474b74d5.8d1c2c","name":"Door status","topic":"attic_node/door_status","qos":"2","broker":"e67c6dfd.2c6b98","x":140,"y":1080,"wires":[["389fa415.2c9c14","7f2524e0.3ee86c","80fc9511.8371b8"]]},{"id":"7f2524e0.3ee86c","type":"switch","z":"474b74d5.8d1c2c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":1000,"wires":[["f0e68611.aada","69302bb7.907d8c","3a1c218c.52f42e"],["fa2cdda.048aa2","f291f4b3.18162"]]},{"id":"f0e68611.aada","type":"function","z":"474b74d5.8d1c2c","name":"Get light amount","func":"\nmsg.payload = flow.get(\"light_amount_attic\") || 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":900,"wires":[["a83c212e.c3bfb","a1ebe83e.9fa508"]]},{"id":"a1ebe83e.9fa508","type":"debug","z":"474b74d5.8d1c2c","name":"Computed payload: light amount","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":880,"wires":[]},{"id":"a83c212e.c3bfb","type":"switch","z":"474b74d5.8d1c2c","name":"Switch lights ON","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":940,"wires":[["4163d10d.3ccf9"]]},{"id":"27a79364.f1ee04","type":"ifttt out","z":"474b74d5.8d1c2c","eventName":"attic_light_on","key":"dab75ed.980752","x":1370,"y":940,"wires":[]},{"id":"389fa415.2c9c14","type":"function","z":"474b74d5.8d1c2c","name":"Set payload","func":"\n\nif(msg.payload == \"1\") msg.payload = \"CLOSED\"\nelse if(msg.payload == \"0\") msg.payload = \"OPEN\"\nelse msg.payload = \"ERROR\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1220,"wires":[[]]},{"id":"80fc9511.8371b8","type":"debug","z":"474b74d5.8d1c2c","name":"Door status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":320,"y":1280,"wires":[]},{"id":"40cde5b6.6afc2c","type":"mqtt in","z":"474b74d5.8d1c2c","name":"Light amount","topic":"attic_node/light","qos":"2","broker":"e67c6dfd.2c6b98","x":130,"y":1440,"wires":[["9d36233a.e5b7d8"]]},{"id":"9d36233a.e5b7d8","type":"json","z":"474b74d5.8d1c2c","name":"Json converter","property":"payload","action":"","pretty":false,"x":320,"y":1440,"wires":[["e9086c.e03b8f98","3ac98cc6.48cac4","6b42f25a.ef459c","92ffcb25.dd0258"]]},{"id":"3ac98cc6.48cac4","type":"ui_gauge","z":"474b74d5.8d1c2c","name":"Light amount","group":"f933085d.8cad7","order":1,"width":"4","height":"3","gtype":"wave","title":"Light","label":"Lx","format":"{{value}}","min":0,"max":"100","colors":["#50b500","#e6df00","#ca3838"],"seg1":"","seg2":"","x":570,"y":1440,"wires":[]},{"id":"e9086c.e03b8f98","type":"debug","z":"474b74d5.8d1c2c","name":"Received msg: light amount","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":620,"y":1380,"wires":[]},{"id":"6b42f25a.ef459c","type":"function","z":"474b74d5.8d1c2c","name":"Set light amount ","func":"\nflow.set(\"light_amount_attic\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1640,"wires":[[]]},{"id":"fa2cdda.048aa2","type":"ifttt out","z":"474b74d5.8d1c2c","eventName":"attic_light_off","key":"dab75ed.980752","x":530,"y":1160,"wires":[]},{"id":"672ff9fc.aedb88","type":"inject","z":"ebed6492.dd9558","name":"Triger once at start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":60,"wires":[["497dbc37.43a664","420e4ed9.762a"]]},{"id":"497dbc37.43a664","type":"function","z":"ebed6492.dd9558","name":"Set initial values","func":"\nglobal.set(\"entrance_detection_time\",0);\n\nflow.set(\"long_time_open_published\",false);\nflow.set(\"open_time\",0);\nflow.set(\"threshold_open_time\",300000);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":60,"wires":[[]]},{"id":"420e4ed9.762a","type":"exec","z":"ebed6492.dd9558","command":"/home/pi/Projects/configure_wakeup.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Setup display","x":450,"y":140,"wires":[[],[],[]]},{"id":"6cf44f39.ae3cb","type":"mqtt in","z":"ebed6492.dd9558","name":"Door status","topic":"entrance_node/door_status","qos":"2","broker":"e67c6dfd.2c6b98","x":130,"y":1300,"wires":[["6c46fc6e.0263d4","c769c234.0c9c8"]]},{"id":"c769c234.0c9c8","type":"function","z":"ebed6492.dd9558","name":"Set door status","func":"\nif(msg.payload == \"1\")\n{\n    var datetime = new Date();\n    flow.set(\"door_open\",true)\n    flow.set(\"open_time\", datetime)\n    flow.set(\"long_time_open_published\",false)\n}\nelse\n{\n    flow.set(\"door_open\",false)\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1300,"wires":[[]]},{"id":"6c46fc6e.0263d4","type":"debug","z":"ebed6492.dd9558","name":"Door status msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":340,"y":1380,"wires":[]},{"id":"cce373dc.a3d11","type":"function","z":"ebed6492.dd9558","name":"Create greet command Raul","func":"\nmsg.payload = \" -e hello -p raul\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":780,"wires":[["b40c7bfe.d1b458"]]},{"id":"68a6b468.0c3afc","type":"mqtt in","z":"ebed6492.dd9558","name":"Pressure detected","topic":"entrance_node/pressure_detected","qos":"2","broker":"e67c6dfd.2c6b98","x":150,"y":1480,"wires":[["f66468fa.103f2"]]},{"id":"f66468fa.103f2","type":"debug","z":"ebed6492.dd9558","name":"Pressure detected msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":1480,"wires":[]},{"id":"1c92f1f0.1a2706","type":"ui_text","z":"1b65d287.8b524d","group":"fc022518.d7bc5","order":1,"width":0,"height":0,"name":"First message","label":"First msg received","format":"{{msg.timestamp}}","layout":"row-spread","x":760,"y":580,"wires":[]},{"id":"b24a3b4f.300408","type":"function","z":"1b65d287.8b524d","name":"Set payload","func":"var datetime = new Date()\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nvar count = flow.get(\"num_messages\") || 0;\n\n\nmsg.payload = count + 1\n\nflow.set(\"num_messages\",msg.payload)\n\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":580,"wires":[["1c92f1f0.1a2706"]]},{"id":"c1efedcc.2e5b2","type":"switch","z":"ebed6492.dd9558","name":"Greet Cris","property":"greet_cris","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":900,"wires":[["b68eff01.757ce8"]]},{"id":"b68eff01.757ce8","type":"function","z":"ebed6492.dd9558","name":"Create greet command Cris","func":"\nmsg.payload = \" -e hello -p cris\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":900,"wires":[["b40c7bfe.d1b458"]]},{"id":"6c35e958.3fd8f","type":"function","z":"ebed6492.dd9558","name":"Check presence status","func":"var datetime = new Date();\n\nvar presence_raul = global.get(\"presence_raul\") || 0;\nvar presence_cris = global.get(\"presence_cris\") || 0;\n\n\nvar new_msg = {payload: \"\", farewell_type: \"GENERIC\"}\n\n\nif( (presence_raul==true && presence_cris==true) || (presence_raul==false && presence_cris==false) )\n{\n    new_msg.farewell_type = \"GENERIC\"\n}\n\nelse if( presence_raul==true && presence_cris==false )\n{\n    new_msg.farewell_type = \"RAUL\"\n}\n\nelse\n{\n    new_msg.farewell_type = \"CRIS\"\n}\n\n\nreturn new_msg;","outputs":1,"noerr":0,"x":540,"y":1040,"wires":[["401b534e.7af5a4","4053ffa2.6d4c78"]]},{"id":"401b534e.7af5a4","type":"switch","z":"ebed6492.dd9558","name":"Select farewell type","property":"farewell_type","propertyType":"msg","rules":[{"t":"eq","v":"GENERIC","vt":"str"},{"t":"eq","v":"CRIS","vt":"str"},{"t":"eq","v":"RAUL","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":770,"y":1040,"wires":[["777b6dd9.0192cc"],["120f8e62.a6f0da"],["9e2b0674.9d7718"]]},{"id":"777b6dd9.0192cc","type":"function","z":"ebed6492.dd9558","name":"Create goodbye command generic","func":"\nmsg.payload = \" -e goodbye -p generic\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":980,"wires":[["b40c7bfe.d1b458"]]},{"id":"120f8e62.a6f0da","type":"function","z":"ebed6492.dd9558","name":"Create goodbye command Cris","func":"\nmsg.payload = \" -e goodbye -p cris\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1040,"wires":[["b40c7bfe.d1b458"]]},{"id":"9e2b0674.9d7718","type":"function","z":"ebed6492.dd9558","name":"Create goodbye command Raul","func":"\nmsg.payload = \" -e goodbye -p raul\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1100,"wires":[["b40c7bfe.d1b458"]]},{"id":"d1abd7bb.a7ff78","type":"mqtt in","z":"2159e868.08f748","name":"Entrance detected","topic":"entrance_node/entrance_detected","qos":"2","broker":"e67c6dfd.2c6b98","x":170,"y":1320,"wires":[[]]},{"id":"ab3cdef8.bd3c38","type":"debug","z":"2159e868.08f748","name":"Presence detector: Raul presence msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2050,"y":960,"wires":[]},{"id":"4053ffa2.6d4c78","type":"debug","z":"ebed6492.dd9558","name":"Exit detected msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":1180,"wires":[]},{"id":"2bbb5601.618a22","type":"switch","z":"ebed6492.dd9558","name":"Greet Generic","property":"greet_generic","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":660,"wires":[["4727fe80.14bbe"]]},{"id":"4727fe80.14bbe","type":"function","z":"ebed6492.dd9558","name":"Create greet command Generic","func":"\nmsg.payload = \" -e hello -p generic\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":660,"wires":[["b40c7bfe.d1b458"]]},{"id":"70da5525.02f034","type":"exec","z":"2159e868.08f748","command":"/home/pi/Projects/audio_node/audio_node_offline","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2350,"y":680,"wires":[[],[],[]]},{"id":"69302bb7.907d8c","type":"function","z":"474b74d5.8d1c2c","name":"Create attic open command","func":"\nmsg.payload = \" -f /home/pi/Projects/audio_node/sounds/attic_door_open.mp3 \"\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":960,"wires":[["7ff6be95.7783e"]]},{"id":"f291f4b3.18162","type":"function","z":"474b74d5.8d1c2c","name":"Create attic closed command","func":"\n\nmsg.payload = \" -f /home/pi/Projects/audio_node/sounds/attic_door_closed.mp3 \"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1080,"wires":[["7ff6be95.7783e"]]},{"id":"ed44b118.d7267","type":"exec","z":"474b74d5.8d1c2c","command":"/home/pi/Projects/audio_node/audio_node_offline","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1690,"y":1160,"wires":[["be9d1b2.13b05e8"],["be9d1b2.13b05e8"],["be9d1b2.13b05e8"]]},{"id":"80e98b96.f73bd8","type":"function","z":"474b74d5.8d1c2c","name":"Create attic light command","func":"\nmsg.payload = \" -f /home/pi/Projects/audio_node/sounds/attic_light_on.mp3 \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":1020,"wires":[["d850db0c.cc99f8"]]},{"id":"92ffcb25.dd0258","type":"ui_chart","z":"474b74d5.8d1c2c","name":"Light  graph","group":"fb91ed0a.105588","order":2,"width":"12","height":"6","label":"Light chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":570,"y":1540,"wires":[[],[]]},{"id":"3a1c218c.52f42e","type":"function","z":"474b74d5.8d1c2c","name":"Create attic temperature command","func":"var temperature = flow.get(\"current_temperature\") || 0;;\n\n\n\nmsg.payload = \" -t \\\"La temperatura del ático es de \"\nmsg.payload += temperature\nmsg.payload += \" grados \\\"\"\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1020,"wires":[["d850db0c.cc99f8"]]},{"id":"66b28c1d.9b13c4","type":"ui_button","z":"fd1f9f53.46937","name":"","group":"4e2cd84b.024548","order":2,"width":0,"height":0,"passthru":false,"label":"Generate messages","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":460,"wires":[["aa565f42.c607f"]]},{"id":"aa565f42.c607f","type":"exec","z":"fd1f9f53.46937","command":"/home/pi/Projects/audio_node/audio_node_offline -d","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":460,"wires":[[],[],[]]},{"id":"cc9002bd.bd4fe","type":"ui_colour_picker","z":"c7dd94f4.6cfe98","name":"","label":"Lamp color","group":"c4f8e805.745818","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":7,"width":0,"height":0,"passthru":true,"topic":"","x":130,"y":80,"wires":[["1aba5ad3.a09395"]]},{"id":"54502be.6e68dd4","type":"mqtt out","z":"c7dd94f4.6cfe98","name":"Lamp state request","topic":"bedroom_node/light_state","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":1230,"y":200,"wires":[]},{"id":"76a2c77f.78a458","type":"ui_switch","z":"c7dd94f4.6cfe98","name":"","label":"Lamp switch","tooltip":"","group":"c4f8e805.745818","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":490,"y":200,"wires":[["f76d7214.a715f8"]]},{"id":"1aba5ad3.a09395","type":"function","z":"c7dd94f4.6cfe98","name":"Parse message","func":"\nmsg = {payload:\n      {\n        r:msg.payload.r,\n        g:msg.payload.g,\n        b:msg.payload.b\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["c2568619.2ae058"]]},{"id":"72cecc3e.3a0064","type":"debug","z":"c7dd94f4.6cfe98","name":"Bedroom: temperature msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":560,"y":380,"wires":[]},{"id":"65139ae.995c664","type":"ui_gauge","z":"c7dd94f4.6cfe98","name":"Temperature","group":"c4f8e805.745818","order":1,"width":"4","height":"3","gtype":"gage","title":"Temperature","label":"ºC","format":"{{value}}","min":"6","max":"30","colors":["#50b500","#e6df00","#ca3838"],"seg1":"","seg2":"","x":510,"y":460,"wires":[]},{"id":"14d34504.a29f8b","type":"mqtt in","z":"c7dd94f4.6cfe98","name":"Temperature","topic":"bedroom_node/temperature","qos":"2","broker":"e67c6dfd.2c6b98","x":130,"y":460,"wires":[["65139ae.995c664","2e38c87a.474258","72cecc3e.3a0064"]]},{"id":"2e38c87a.474258","type":"ui_chart","z":"c7dd94f4.6cfe98","name":"Temperature graph","group":"de3873be.99eeb","order":2,"width":"12","height":"6","label":"Temperature chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"6","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":540,"wires":[[],[]]},{"id":"70911ecd.686ce","type":"mqtt in","z":"c7dd94f4.6cfe98","name":"Humidity","topic":"bedroom_node/humidity","qos":"2","broker":"e67c6dfd.2c6b98","x":120,"y":680,"wires":[["8108336e.09982","6d2926b7.23ca58"]]},{"id":"8108336e.09982","type":"ui_chart","z":"c7dd94f4.6cfe98","name":"Humidity graph","group":"de3873be.99eeb","order":2,"width":"12","height":"6","label":"Humidity chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":520,"y":760,"wires":[[],[]]},{"id":"f437c26f.efa7b","type":"mqtt out","z":"c7dd94f4.6cfe98","name":"Lamp intensity request","topic":"bedroom_node/light_intensity","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":580,"y":280,"wires":[]},{"id":"c2568619.2ae058","type":"mqtt out","z":"c7dd94f4.6cfe98","name":"Lamp color request","topic":"bedroom_node/light_color","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":610,"y":80,"wires":[]},{"id":"6d2926b7.23ca58","type":"debug","z":"c7dd94f4.6cfe98","name":"Bedroom: humidity msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":620,"wires":[]},{"id":"43c833da.2bc16c","type":"function","z":"c7dd94f4.6cfe98","name":"Parse message","func":"\nmsg = {payload:\n      {\n        req:msg.payload\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":200,"wires":[["54502be.6e68dd4"]]},{"id":"6c3c3a86.4e34d4","type":"function","z":"c7dd94f4.6cfe98","name":"Parse message","func":"\nmsg = {payload:\n      {\n        req:msg.payload\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["f437c26f.efa7b"]]},{"id":"e83e3202.f1107","type":"ui_switch","z":"c7dd94f4.6cfe98","name":"Alarm clock","label":"Alarm enabled","tooltip":"","group":"6ab69360.278fbc","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1210,"y":940,"wires":[["fe368086.0abdd"]]},{"id":"fe368086.0abdd","type":"function","z":"c7dd94f4.6cfe98","name":"Set payload","func":"flow.set(\"alarm_on\", msg.payload)\n\nif(msg.payload == 1) flow.set(\"alarm_triggered\",false)\n\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":940,"wires":[[]]},{"id":"6219b92e.37e468","type":"ui_text","z":"c7dd94f4.6cfe98","group":"6ab69360.278fbc","order":3,"width":0,"height":0,"name":"","label":"Alarm time","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":1080,"wires":[]},{"id":"c80eea27.861628","type":"function","z":"c7dd94f4.6cfe98","name":"Set target time","func":"\nvar hours = flow.get(\"alarm_hour\") || 0;\nvar minutes = flow.get(\"alarm_minute\") || 0;\n\nvar total_time = \"\"\nif(hours < 10) total_time += \"0\"\ntotal_time += hours\ntotal_time += \":\"\nif(minutes < 10) total_time += \"0\"\ntotal_time += minutes\n\nmsg.payload = total_time\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1080,"wires":[["6219b92e.37e468"]]},{"id":"b5387a3e.a9bf98","type":"ui_slider","z":"c7dd94f4.6cfe98","name":"","label":"Hour","tooltip":"","group":"6ab69360.278fbc","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"24","step":1,"x":110,"y":1040,"wires":[["b90ed98f.c9d7b8"]]},{"id":"31dcd95d.4db386","type":"ui_slider","z":"c7dd94f4.6cfe98","name":"","label":"Minutes","tooltip":"","group":"6ab69360.278fbc","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"minutes","min":0,"max":"60","step":1,"x":120,"y":1100,"wires":[["cb69a2fa.4ba22"]]},{"id":"b90ed98f.c9d7b8","type":"function","z":"c7dd94f4.6cfe98","name":"Set payload","func":"\n\nflow.set(\"alarm_hour\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1040,"wires":[["c80eea27.861628"]]},{"id":"cb69a2fa.4ba22","type":"function","z":"c7dd94f4.6cfe98","name":"Set payload","func":"\nflow.set(\"alarm_minute\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1100,"wires":[["c80eea27.861628"]]},{"id":"c1434509.364b3","type":"function","z":"c7dd94f4.6cfe98","name":"Color","func":"\nmsg = {payload:\n      {\n        r:255,\n        g:170,\n        b:20\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1600,"wires":[["6d5274c7.9ce2ac","7bda9d94.449c94","d93064ed.ce5c68"]]},{"id":"6d5274c7.9ce2ac","type":"mqtt out","z":"c7dd94f4.6cfe98","name":"Lamp color request","topic":"bedroom_node/light_color","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":890,"y":1600,"wires":[]},{"id":"269796cc.d3a52a","type":"delay","z":"c7dd94f4.6cfe98","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":1620,"wires":[["ac40773.7341708"]]},{"id":"fe74ff20.ab6388","type":"function","z":"c7dd94f4.6cfe98","name":"Set ON","func":"\nmsg = {payload:\n      {\n        req:1\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1400,"wires":[["fa9c48ff.e5a18","3062801b.e941f8"]]},{"id":"fa9c48ff.e5a18","type":"mqtt out","z":"c7dd94f4.6cfe98","name":"Lamp state request","topic":"bedroom_node/light_state","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":570,"y":1400,"wires":[]},{"id":"c1a18880.bf2978","type":"mqtt out","z":"c7dd94f4.6cfe98","name":"Lamp intensity request","topic":"bedroom_node/light_intensity","qos":"0","retain":"","broker":"e67c6dfd.2c6b98","x":580,"y":1460,"wires":[]},{"id":"ac40773.7341708","type":"function","z":"c7dd94f4.6cfe98","name":"Dim","func":"\nmsg = {payload:\n      {\n        req:-1\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1680,"wires":[["c1a18880.bf2978","2db8b74a.3895d"]]},{"id":"7bda9d94.449c94","type":"delay","z":"c7dd94f4.6cfe98","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":1660,"wires":[["cbff9a4f.df20f"]]},{"id":"cbff9a4f.df20f","type":"function","z":"c7dd94f4.6cfe98","name":"Color","func":"\nmsg = {payload:\n      {\n        r:255,\n        g:70,\n        b:20\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1720,"wires":[["9afd62fb.fe0b5","6d5274c7.9ce2ac"]]},{"id":"9afd62fb.fe0b5","type":"delay","z":"c7dd94f4.6cfe98","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":1780,"wires":[["c15d7dad.5ffbb8"]]},{"id":"c15d7dad.5ffbb8","type":"function","z":"c7dd94f4.6cfe98","name":"Color","func":"\nmsg = {payload:\n      {\n        r:255,\n        g:60,\n        b:20\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1840,"wires":[["ae32d180.57d168","6d5274c7.9ce2ac"]]},{"id":"ae32d180.57d168","type":"delay","z":"c7dd94f4.6cfe98","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":1900,"wires":[["e9bafd13.6bd1"]]},{"id":"e9bafd13.6bd1","type":"function","z":"c7dd94f4.6cfe98","name":"Intensity","func":"\nmsg = {payload:\n      {\n        req:1\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1960,"wires":[["c36b5d92.b58228","3b36e29e.376af6"]]},{"id":"c36b5d92.b58228","type":"delay","z":"c7dd94f4.6cfe98","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":2020,"wires":[["255020fd.f95a5"]]},{"id":"255020fd.f95a5","type":"function","z":"c7dd94f4.6cfe98","name":"Color","func":"\nmsg = {payload:\n      {\n        r:255,\n        g:70,\n        b:20\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":2080,"wires":[["6e17ca13.1ac8e4","6d5274c7.9ce2ac"]]},{"id":"6e17ca13.1ac8e4","type":"delay","z":"c7dd94f4.6cfe98","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":2140,"wires":[["cbc63f30.4699c"]]},{"id":"cbc63f30.4699c","type":"function","z":"c7dd94f4.6cfe98","name":"Intensity","func":"\nmsg = {payload:\n      {\n        req:1\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":2200,"wires":[["65842b5e.128f6c","3b36e29e.376af6"]]},{"id":"65842b5e.128f6c","type":"delay","z":"c7dd94f4.6cfe98","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":2260,"wires":[["30943ee.9c09942"]]},{"id":"30943ee.9c09942","type":"function","z":"c7dd94f4.6cfe98","name":"Intensity","func":"\nmsg = {payload:\n      {\n        req:1\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":2320,"wires":[["edf5ad17.20a34","3b36e29e.376af6"]]},{"id":"edf5ad17.20a34","type":"delay","z":"c7dd94f4.6cfe98","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":2380,"wires":[["a5abf177.c541f"]]},{"id":"183de458.0f07e4","type":"delay","z":"c7dd94f4.6cfe98","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":1540,"wires":[["c1434509.364b3"]]},{"id":"3b36e29e.376af6","type":"mqtt out","z":"c7dd94f4.6cfe98","name":"Lamp intensity request","topic":"bedroom_node/light_intensity","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":900,"y":1720,"wires":[]},{"id":"be9d1b2.13b05e8","type":"debug","z":"474b74d5.8d1c2c","name":"Audio node output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2110,"y":1160,"wires":[]},{"id":"7ff6be95.7783e","type":"delay","z":"474b74d5.8d1c2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":1160,"wires":[["d850db0c.cc99f8"]]},{"id":"52160879.c1c838","type":"function","z":"c7dd94f4.6cfe98","name":"Check alarm due","func":"var datetime = new Date()\n\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\n\nvar target_hour = flow.get(\"alarm_hour\") || 0;\nvar target_minute = flow.get(\"alarm_minute\") || 0;\n\nvar alarm_on = flow.get(\"alarm_on\") || 0;\n\nvar alarm_triggered = flow.get(\"alarm_triggered\") || 0;\n\nnode.error(target_minute)\nnode.error(minutes)\n\nmsg.payload = 0\n\nif(alarm_on && !alarm_triggered)\n{\n    if(target_hour == hours)\n    {\n        if(Math.abs(target_minute - minutes) < 2)\n        {\n            msg.payload = 1\n            flow.set(\"alarm_triggered\",true)\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1220,"wires":[["d3598b98.aa6768","b90a3bb.b58cdc8"]]},{"id":"a5abf177.c541f","type":"function","z":"c7dd94f4.6cfe98","name":"Intensity","func":"\nmsg = {payload:\n      {\n        req:1\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":2440,"wires":[["3b36e29e.376af6","d93064ed.ce5c68","515c6b6c.d65454"]]},{"id":"89b327e.dcd6bd8","type":"inject","z":"c7dd94f4.6cfe98","name":"Periodical trigger","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"1","x":130,"y":1220,"wires":[["52160879.c1c838"]]},{"id":"d3598b98.aa6768","type":"switch","z":"c7dd94f4.6cfe98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":1320,"wires":[["fe74ff20.ab6388"]]},{"id":"69e31b6e.0ac0b4","type":"exec","z":"c7dd94f4.6cfe98","command":"/home/pi/Projects/audio_node/audio_node_offline","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1350,"y":1840,"wires":[[],[],[]]},{"id":"b90a3bb.b58cdc8","type":"debug","z":"c7dd94f4.6cfe98","name":"Bedroom: alarm due check","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":1220,"wires":[]},{"id":"d93064ed.ce5c68","type":"function","z":"c7dd94f4.6cfe98","name":"Create greet command Wakeup","func":"\nmsg.payload = \" -e wakeup -p generic\"\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1840,"wires":[["69e31b6e.0ac0b4"]]},{"id":"e2f4db3c.2ead78","type":"ui_switch","z":"890e444f.7e4898","name":"Biomull","label":"Biomull","tooltip":"","group":"d5304c8f.46869","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":680,"y":120,"wires":[["182ee8eb.a2f687"]]},{"id":"22353c6b.4504a4","type":"ui_switch","z":"890e444f.7e4898","name":"Gelbe sack","label":"Gelbe sack","tooltip":"","group":"d5304c8f.46869","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":690,"y":200,"wires":[["bf2c70e9.d6bfb8"]]},{"id":"a79a8f25.d51f48","type":"function","z":"1b65d287.8b524d","name":"Set payload","func":"var datetime = new Date()\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nvar count = flow.get(\"num_reconnections\") || 0;\n\n\nmsg.payload = count + 1\n\nflow.set(\"num_reconnections\",msg.payload)\n\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["e3afbfc0.8c58a8","8fbd4bf4.f58668"]]},{"id":"e3afbfc0.8c58a8","type":"ui_text","z":"1b65d287.8b524d","group":"fc022518.d7bc5","order":2,"width":0,"height":0,"name":"Last message","label":"Last reconnection","format":"{{msg.timestamp}}","layout":"row-spread","x":760,"y":100,"wires":[]},{"id":"8fbd4bf4.f58668","type":"ui_text","z":"1b65d287.8b524d","group":"fc022518.d7bc5","order":3,"width":0,"height":0,"name":"Num messages","label":"Num reconnections","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":160,"wires":[]},{"id":"41ac357a.0354f4","type":"mqtt in","z":"1b65d287.8b524d","name":"Reconnection detected","topic":"entrance_node/reconnection","qos":"2","broker":"e67c6dfd.2c6b98","x":300,"y":100,"wires":[["a79a8f25.d51f48"]]},{"id":"776b54d5.4b7a2c","type":"mqtt in","z":"c7dd94f4.6cfe98","name":"Lamp_feedback","topic":"bedroom_node/lamp_feedback","qos":"2","broker":"e67c6dfd.2c6b98","x":220,"y":200,"wires":[["76a2c77f.78a458","5e3bd5c6.e1598c"]]},{"id":"5e3bd5c6.e1598c","type":"debug","z":"c7dd94f4.6cfe98","name":"Bedroom: temperature msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":540,"y":140,"wires":[]},{"id":"f76d7214.a715f8","type":"switch","z":"c7dd94f4.6cfe98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":200,"wires":[["43c833da.2bc16c"]]},{"id":"2db8b74a.3895d","type":"counter-loop","z":"c7dd94f4.6cfe98","name":"Wakeup loop","counter":"wakeup_loop","counterType":"flow","initial":0,"initialType":"num","operator":"lt","termination":"5","terminationType":"num","increment":1,"incrementType":"num","x":310,"y":1540,"wires":[["183de458.0f07e4"],["269796cc.d3a52a"]]},{"id":"515c6b6c.d65454","type":"function","z":"c7dd94f4.6cfe98","name":"Disable alarm","func":"\nmsg.payload = 0;\nflow.set(\"wakeup_loop\",null);\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":940,"wires":[["e83e3202.f1107"]]},{"id":"3062801b.e941f8","type":"function","z":"c7dd94f4.6cfe98","name":"Disable alarm","func":"\nmsg.payload = 0;\nflow.set(\"wakeup_loop\",null);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1480,"wires":[["2db8b74a.3895d"]]},{"id":"c246263.d432e58","type":"ui_switch","z":"890e444f.7e4898","name":"Contenedor","label":"Contenedor","tooltip":"","group":"d5304c8f.46869","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":690,"y":280,"wires":[["d5ee9be3.47d938"]]},{"id":"35729527.cb8cb2","type":"ui_switch","z":"890e444f.7e4898","name":"Bajar al trastero","label":"Bajar al trastero","tooltip":"","group":"d5304c8f.46869","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":700,"y":360,"wires":[["e2cba4e6.01739"]]},{"id":"23abc2a.e3578be","type":"function","z":"890e444f.7e4898","name":"Create biomull command","func":"\nmsg.payload = \" -f /home/pi/Projects/audio_node/sounds/biomull_reminder.mp3 \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":140,"wires":[["d68f27e5.66e1a8"]]},{"id":"fe50cbf3.87e4e8","type":"exec","z":"890e444f.7e4898","command":"/home/pi/Projects/audio_node/audio_node_offline","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2410,"y":420,"wires":[[],[],[]]},{"id":"d2cbf345.ca02b8","type":"function","z":"890e444f.7e4898","name":"Create gelbe sack command","func":"\nmsg.payload = \" -f /home/pi/Projects/audio_node/sounds/gelbe_sack_reminder.mp3 \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":220,"wires":[["d68f27e5.66e1a8"]]},{"id":"34f44f99.7c0e08","type":"function","z":"890e444f.7e4898","name":"Create contenedor command","func":"\nmsg.payload = \" -f /home/pi/Projects/audio_node/sounds/contenedor_reminder.mp3 \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":300,"wires":[["d68f27e5.66e1a8"]]},{"id":"8594e2c8.f25d18","type":"function","z":"890e444f.7e4898","name":"Create trastero command","func":"\nmsg.payload = \" -f /home/pi/Projects/audio_node/sounds/keller_reminder.mp3 \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":380,"wires":[["d68f27e5.66e1a8"]]},{"id":"57e8a026.d39988","type":"ui_switch","z":"890e444f.7e4898","name":"Personalizado","label":"Personalizado","tooltip":"","group":"d5304c8f.46869","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":700,"y":800,"wires":[["26723dc3.8df232"]]},{"id":"53e9116b.006068","type":"ui_text_input","z":"890e444f.7e4898","name":"","label":"Recordatorio: ","tooltip":"","group":"d5304c8f.46869","order":10,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":700,"y":860,"wires":[["c135e0e3.ece1d8"]]},{"id":"182ee8eb.a2f687","type":"function","z":"890e444f.7e4898","name":"Set biomull","func":"\nflow.set(\"biomull\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":120,"wires":[[]]},{"id":"bf2c70e9.d6bfb8","type":"function","z":"890e444f.7e4898","name":"Set gelbe sack","func":"\nflow.set(\"gelbe_sack\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":200,"wires":[[]]},{"id":"d5ee9be3.47d938","type":"function","z":"890e444f.7e4898","name":"Set contenedor","func":"\nflow.set(\"contenedor\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":280,"wires":[[]]},{"id":"e2cba4e6.01739","type":"function","z":"890e444f.7e4898","name":"Set trastero","func":"\nflow.set(\"trastero\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":360,"wires":[[]]},{"id":"26723dc3.8df232","type":"function","z":"890e444f.7e4898","name":"Set reminder","func":"\nflow.set(\"personalizado\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":800,"wires":[[]]},{"id":"c135e0e3.ece1d8","type":"function","z":"890e444f.7e4898","name":"Set reminder","func":"\nvar command = \"\"\ncommand += \"-d -f /home/pi/Projects/audio_node/sounds/custom_reminder.mp3 -t \"\ncommand += \"\\\"Recuerda: \"\ncommand += msg.payload\ncommand += \" \\\"\"\n\nmsg.payload = command\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":860,"wires":[["6d102fc0.f5b638"]]},{"id":"7cb063ed.1a102c","type":"switch","z":"890e444f.7e4898","name":"Check biomull","property":"biomull","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1500,"y":140,"wires":[["23abc2a.e3578be"]]},{"id":"c4bdc332.78dc2","type":"mqtt in","z":"890e444f.7e4898","name":"Exit detected","topic":"entrance_node/exit_detected","qos":"2","broker":"e67c6dfd.2c6b98","x":1270,"y":260,"wires":[["7cb063ed.1a102c","c68a45c5.a9ff78","5792c07f.a17fd8","ba9a0c0c.f1ecf","7412893e.a9fa5","e3d8fd22.49d908","63574109.cf38c8","e75f9c25.55ebb","bf0c2def.9e292"]]},{"id":"66301bf4.a20ba4","type":"mqtt in","z":"ebed6492.dd9558","name":"Exit detected","topic":"entrance_node/exit_detected","qos":"2","broker":"e67c6dfd.2c6b98","x":130,"y":1040,"wires":[["4cdfe2b6.b8d17c"]]},{"id":"4cdfe2b6.b8d17c","type":"delay","z":"ebed6492.dd9558","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":1040,"wires":[["6c35e958.3fd8f"]]},{"id":"c68a45c5.a9ff78","type":"switch","z":"890e444f.7e4898","name":"Check gelbe sack","property":"gelbe_sack","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":220,"wires":[["d2cbf345.ca02b8"]]},{"id":"5792c07f.a17fd8","type":"switch","z":"890e444f.7e4898","name":"Check contenedor","property":"contenedor","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":300,"wires":[["34f44f99.7c0e08"]]},{"id":"ba9a0c0c.f1ecf","type":"switch","z":"890e444f.7e4898","name":"Check trastero","property":"trastero","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1500,"y":380,"wires":[["8594e2c8.f25d18"]]},{"id":"7412893e.a9fa5","type":"switch","z":"890e444f.7e4898","name":"Check reminder","property":"personalizado","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1500,"y":500,"wires":[["ae27da2a.b00c6"]]},{"id":"ae27da2a.b00c6","type":"function","z":"890e444f.7e4898","name":"Create custom reminder","func":"\nmsg.payload = \" -f /home/pi/Projects/audio_node/sounds/custom_reminder.mp3 \"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":500,"wires":[["d68f27e5.66e1a8"]]},{"id":"a816a2a3.de5bf8","type":"ui_switch","z":"890e444f.7e4898","name":"Bajar el cartón","label":"Bajar el cartón","tooltip":"","group":"d5304c8f.46869","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":700,"y":440,"wires":[["90ccd5f6.6abab"]]},{"id":"90ccd5f6.6abab","type":"function","z":"890e444f.7e4898","name":"Set carton","func":"\nflow.set(\"carton\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":440,"wires":[[]]},{"id":"b79bb9ec.b9c85","type":"ui_switch","z":"890e444f.7e4898","name":"Bajar la basura normal","label":"Bajar la basura normal","tooltip":"","group":"d5304c8f.46869","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":720,"y":520,"wires":[["2a09a5a2.e60c2a"]]},{"id":"2a09a5a2.e60c2a","type":"function","z":"890e444f.7e4898","name":"Set basura ","func":"\nflow.set(\"basura\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":520,"wires":[[]]},{"id":"7729ff73.eb89e","type":"function","z":"890e444f.7e4898","name":"Create carton command","func":"\nmsg.payload = \" -f /home/pi/Projects/audio_node/sounds/carton_reminder.mp3 \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":620,"wires":[["d68f27e5.66e1a8"]]},{"id":"e3d8fd22.49d908","type":"switch","z":"890e444f.7e4898","name":"Check carton","property":"carton","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1490,"y":620,"wires":[["7729ff73.eb89e"]]},{"id":"b51b5952.5d6268","type":"function","z":"890e444f.7e4898","name":"Create basura command","func":"\nmsg.payload = \" -f /home/pi/Projects/audio_node/sounds/basura_reminder.mp3 \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":680,"wires":[["d68f27e5.66e1a8"]]},{"id":"63574109.cf38c8","type":"switch","z":"890e444f.7e4898","name":"Check basura","property":"basura","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1490,"y":680,"wires":[["b51b5952.5d6268"]]},{"id":"fa16b60f.98c5c","type":"ui_button","z":"890e444f.7e4898","name":"All ON","group":"d5304c8f.46869","order":1,"width":"3","height":"1","passthru":false,"label":"All ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":350,"y":160,"wires":[["e2f4db3c.2ead78","22353c6b.4504a4","c246263.d432e58","35729527.cb8cb2","a816a2a3.de5bf8","b79bb9ec.b9c85","57e8a026.d39988","ad5779d.f1dd288","3ebc76a.2ccd68a"]]},{"id":"2a7f0868.167bc","type":"ui_button","z":"890e444f.7e4898","name":"All OFF","group":"d5304c8f.46869","order":2,"width":"3","height":"1","passthru":false,"label":"All OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":360,"y":220,"wires":[["e2f4db3c.2ead78","22353c6b.4504a4","c246263.d432e58","35729527.cb8cb2","a816a2a3.de5bf8","b79bb9ec.b9c85","57e8a026.d39988","ad5779d.f1dd288"]]},{"id":"1ce282e2.bc59e5","type":"inject","z":"890e444f.7e4898","name":"Trigger on Thursdays","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 18 * * 4","once":false,"onceDelay":0.1,"x":340,"y":340,"wires":[["c246263.d432e58"]]},{"id":"65e2d2b6.fe34dc","type":"ui_button","z":"890e444f.7e4898","name":"Delete","group":"d5304c8f.46869","order":11,"width":"6","height":"1","passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"","payload":" ","payloadType":"str","topic":"","x":510,"y":860,"wires":[["53e9116b.006068"]]},{"id":"12009b83.9a0694","type":"ui_button","z":"117ae75e.a5f4b9","name":"- Button","group":"66bb6238.405dac","order":5,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"remove_circle","payload":"-1","payloadType":"num","topic":"","x":120,"y":340,"wires":[["25695241.b6e586"]]},{"id":"f39f5ec6.1fa228","type":"ui_button","z":"117ae75e.a5f4b9","name":"+ Button","group":"66bb6238.405dac","order":6,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"add_circle","payload":"1","payloadType":"num","topic":"","x":120,"y":300,"wires":[["25695241.b6e586"]]},{"id":"9a53b1e5.4ad4e","type":"ui_text","z":"474b74d5.8d1c2c","group":"cb4cc6fb.fdeeb8","order":3,"width":0,"height":0,"name":"","label":"Heating starts at","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":1800,"wires":[]},{"id":"86197d06.7ae438","type":"function","z":"474b74d5.8d1c2c","name":"Set target time","func":"\nvar hours = flow.get(\"heating_start_hour\") || 0;\nvar minutes = flow.get(\"heating_start_minute\") || 0;\n\nvar total_time = \"\"\nif(hours < 10) total_time += \"0\"\ntotal_time += hours\ntotal_time += \":\"\nif(minutes < 10) total_time += \"0\"\ntotal_time += minutes\n\nmsg.payload = total_time\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1800,"wires":[["9a53b1e5.4ad4e"]]},{"id":"f68354e1.0c4cd","type":"ui_slider","z":"474b74d5.8d1c2c","name":"","label":"Hour","tooltip":"","group":"cb4cc6fb.fdeeb8","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"24","step":1,"x":150,"y":1760,"wires":[["6089fae3.02d01c"]]},{"id":"ea9b6c68.f42d38","type":"ui_slider","z":"474b74d5.8d1c2c","name":"","label":"Minutes","tooltip":"","group":"cb4cc6fb.fdeeb8","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"minutes","min":0,"max":"60","step":1,"x":160,"y":1820,"wires":[["ab1d2d85.9a1aa8"]]},{"id":"6089fae3.02d01c","type":"function","z":"474b74d5.8d1c2c","name":"Set payload","func":"\n\nflow.set(\"heating_start_hour\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1760,"wires":[["86197d06.7ae438"]]},{"id":"ab1d2d85.9a1aa8","type":"function","z":"474b74d5.8d1c2c","name":"Set payload","func":"\nflow.set(\"heating_start_minute\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1820,"wires":[["86197d06.7ae438"]]},{"id":"17daefb2.179eb","type":"ui_switch","z":"474b74d5.8d1c2c","name":"","label":"Heating system","tooltip":"","group":"a6f19742.9f9e28","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":480,"y":1980,"wires":[["594bc926.204e48"]]},{"id":"1a763ac8.87355d","type":"ui_slider","z":"474b74d5.8d1c2c","name":"","label":"Temp","tooltip":"","group":"a6f19742.9f9e28","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"30","step":1,"x":150,"y":2320,"wires":[["64d31ad6.11c7a4"]]},{"id":"594bc926.204e48","type":"function","z":"474b74d5.8d1c2c","name":"Set heating ","func":"\nflow.set(\"heating\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1980,"wires":[[]]},{"id":"64d31ad6.11c7a4","type":"function","z":"474b74d5.8d1c2c","name":"Set target temperature","func":"\nflow.set(\"target_temperature\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2320,"wires":[["ba242a26.c46af"]]},{"id":"ba242a26.c46af","type":"ui_text","z":"474b74d5.8d1c2c","group":"a6f19742.9f9e28","order":3,"width":0,"height":0,"name":"Target temperature","label":"Target temperature: ","format":"{{msg.payload}}","layout":"row-right","x":670,"y":2320,"wires":[]},{"id":"b743c847.594e48","type":"ui_switch","z":"474b74d5.8d1c2c","name":"Enable program","label":"Enable program","tooltip":"","group":"cb4cc6fb.fdeeb8","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":480,"y":1920,"wires":[["b3f7be57.3b3998"]]},{"id":"b3f7be57.3b3998","type":"function","z":"474b74d5.8d1c2c","name":"Set program","func":"\nflow.set(\"program\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1920,"wires":[[]]},{"id":"c347e012.47f81","type":"mqtt in","z":"b5887534.3c6f4","name":"Balcony door","topic":"balcony_node/door_status","qos":"2","broker":"e67c6dfd.2c6b98","x":230,"y":120,"wires":[["35482719.1eb4f","f9c10cce.a70818"]]},{"id":"35482719.1eb4f","type":"function","z":"b5887534.3c6f4","name":"Set balcony_door_open","func":"\nif(msg.payload == \"1\")\n{\n    flow.set(\"balcony_door_open\", true)\n    var datetime = new Date();\n    flow.set(\"last_balcony_open\", datetime)\n    flow.set(\"long_time_open_published\", false)\n}\nelse \n{\n    flow.set(\"balcony_door_open\", false)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":120,"wires":[[]]},{"id":"c3886d9a.46a2d","type":"inject","z":"b5887534.3c6f4","name":"Once at start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":340,"wires":[["967416b7.0c1b68"]]},{"id":"967416b7.0c1b68","type":"function","z":"b5887534.3c6f4","name":"Set balcony_door_open initial","func":"\nvar datetime = new Date();\n\nflow.set(\"balcony_door_open\", false)\nflow.set(\"balcony_open_threshold\", 300000)\nflow.set(\"last_balcony_open\", datetime)\nflow.set(\"balcony_open_advertised\", false)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":340,"wires":[[]]},{"id":"f9c10cce.a70818","type":"function","z":"b5887534.3c6f4","name":"Create balcony open/closed command","func":"\n\nif(msg.payload == \"1\")\n{\n    msg.payload = \" -f /home/pi/Projects/audio_node/sounds/balcony_door_open.mp3\"\n}\nelse\n{\n    msg.payload = \" -f /home/pi/Projects/audio_node/sounds/balcony_door_closed.mp3\"\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["8e994503.0a1b08"]]},{"id":"cf2450e9.e5b3f8","type":"exec","z":"b5887534.3c6f4","command":"/home/pi/Projects/audio_node/audio_node_offline","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1810,"y":520,"wires":[[],[],[]]},{"id":"7840007b.9fc5b","type":"openweathermap in","z":"b5887534.3c6f4","name":"Weather","wtype":"forecast","lon":"9.117092","lat":"48.814441","city":"","country":"","language":"en","x":260,"y":560,"wires":[["99be305a.0b765","27eab929.3addb6"]]},{"id":"99be305a.0b765","type":"debug","z":"b5887534.3c6f4","name":"Current weather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":480,"y":520,"wires":[]},{"id":"ad5779d.f1dd288","type":"ui_switch","z":"890e444f.7e4898","name":"Recoger lavadora","label":"Recoger lavadora","tooltip":"","group":"d5304c8f.46869","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":710,"y":600,"wires":[["ad2074a5.e6847"]]},{"id":"ad2074a5.e6847","type":"function","z":"890e444f.7e4898","name":"Set pick laundry","func":"flow.set(\"pick_laundry\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":600,"wires":[[]]},{"id":"e75f9c25.55ebb","type":"switch","z":"890e444f.7e4898","name":"Check pick laundry","property":"pick_laundry","propertyType":"flow","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":1510,"y":760,"wires":[["d0ce9af5.590aa8"]]},{"id":"d0ce9af5.590aa8","type":"function","z":"890e444f.7e4898","name":"Create pick laundry command","func":"\nmsg.payload = \" -f /home/pi/Projects/audio_node/sounds/washmachine_reminder.mp3 \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":760,"wires":[["d68f27e5.66e1a8"]]},{"id":"bd7f6599.ba83f","type":"function","z":"890e444f.7e4898","name":"Set true payload","func":"msg.payload = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":600,"wires":[["ad5779d.f1dd288"]]},{"id":"7aab178b.d34518","type":"mqtt in","z":"890e444f.7e4898","name":"Washmachine finished","topic":"washmachine_node/finished","qos":"2","broker":"e67c6dfd.2c6b98","x":260,"y":600,"wires":[["bd7f6599.ba83f"]]},{"id":"ea9ccec.bc125b","type":"inject","z":"474b74d5.8d1c2c","name":"Periodical trigger","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"1","x":190,"y":2080,"wires":[["12bb878a.a726d"]]},{"id":"12bb878a.a726d","type":"function","z":"474b74d5.8d1c2c","name":"Check heating due","func":"var datetime = new Date()\n\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\n\nvar target_hour = flow.get(\"heating_start_hour\") || 0;\nvar target_minute = flow.get(\"heating_start_minute\") || 0;\n\nvar program = flow.get(\"program\") || 0;\nvar heating_started = flow.get(\"heating\") || 0;\n\nmsg.payload = false\n\nif(program && !heating_started)\n{\n    if(target_hour == hours)\n    {\n        if(Math.abs(target_minute - minutes) < 2)\n        {\n            msg.payload = true\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":2080,"wires":[["58982be2.b7ac1c","2e31f896.b4bfd"]]},{"id":"58982be2.b7ac1c","type":"debug","z":"474b74d5.8d1c2c","name":"Bedroom: alarm due check","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":2140,"wires":[]},{"id":"2e31f896.b4bfd","type":"switch","z":"474b74d5.8d1c2c","name":"Check heating due","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":200,"y":1980,"wires":[["17daefb2.179eb"]]},{"id":"563bfd10.79e274","type":"debug","z":"474b74d5.8d1c2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":580,"y":620,"wires":[]},{"id":"1aafed34.771133","type":"inject","z":"474b74d5.8d1c2c","name":"Periodical trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":130,"y":720,"wires":[["5ee5e14f.d612f8"]]},{"id":"5ee5e14f.d612f8","type":"function","z":"474b74d5.8d1c2c","name":"Heating control","func":"\nflow.set(\"heating\",false);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":720,"wires":[[]]},{"id":"daa475e4.0ed7b8","type":"delay","z":"ebed6492.dd9558","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":620,"wires":[["9ec1170f.11f26"]]},{"id":"4163d10d.3ccf9","type":"delay","z":"474b74d5.8d1c2c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":940,"wires":[["27a79364.f1ee04","80e98b96.f73bd8"]]},{"id":"9d7dc7b4.41cf48","type":"inject","z":"ebed6492.dd9558","name":"Check every minute","topic":"","payload":"","payloadType":"date","repeat":"360","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1600,"wires":[["5b49e9c.2a0ad18"]]},{"id":"5b49e9c.2a0ad18","type":"function","z":"ebed6492.dd9558","name":"Check door status","func":"\nvar door_open = flow.get(\"door_open\") || 0;\nvar long_time_open_published = flow.get(\"long_time_open_published\") || 0;\nvar long_time_open_detection = flow.get(\"long_time_open_detection\") || 0;\n\nmsg.payload = false\n\nif(long_time_open_detection && door_open && !long_time_open_published)\n{\n    var open_time = flow.get(\"open_time\") || 0;\n    var datetime = new Date()\n    var timedif = Math.abs(datetime - open_time);\n    var threshold = flow.get(\"threshold_open_time\") || 0;\n\n    if(timedif > threshold)\n    {\n        msg.payload = true\n        flow.set(\"long_time_open_published\",true)\n    }\n    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1600,"wires":[["48324486.068e0c"]]},{"id":"48324486.068e0c","type":"switch","z":"ebed6492.dd9558","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":1600,"wires":[["1d499007.1dddb","e8cd57c0.3a3ce8"]]},{"id":"1d499007.1dddb","type":"function","z":"ebed6492.dd9558","name":"Create long time open command","func":"\nmsg.payload = \" -t \\\"La puerta de casa lleva mucho tiempo abierta\\\"\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":1600,"wires":[["b40c7bfe.d1b458"]]},{"id":"fbda6fa0.4a3bb","type":"ui_switch","z":"ebed6492.dd9558","name":"Entrance long time open detection","label":"Entrance long time open detection","tooltip":"","group":"5db64310.9cdc4c","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":200,"y":1680,"wires":[["286364bc.81cfdc"]]},{"id":"286364bc.81cfdc","type":"function","z":"ebed6492.dd9558","name":"Set door open detection","func":"\nflow.set(\"long_time_open_detection\",msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1680,"wires":[[]]},{"id":"e8cd57c0.3a3ce8","type":"ifttt out","z":"ebed6492.dd9558","eventName":"entrance_long_time_open","key":"dab75ed.980752","x":930,"y":1660,"wires":[]},{"id":"b440c46e.1e47b8","type":"ui_switch","z":"8874c4d3.200988","name":"Silent mode","label":"Silent mode (no audio notifications)","tooltip":"","group":"2523f38f.5c964c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":490,"y":680,"wires":[["70df8137.a2171"]]},{"id":"70df8137.a2171","type":"function","z":"8874c4d3.200988","name":"Set silent mode","func":"\nif(msg.payload == 1) global.set(\"silent_mode\", true)\nelse global.set(\"silent_mode\", false)\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":680,"wires":[[]]},{"id":"d850db0c.cc99f8","type":"switch","z":"474b74d5.8d1c2c","name":"Check silent","property":"silent_mode","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":1160,"wires":[["ed44b118.d7267"]]},{"id":"3d6ac3b8.67fe9c","type":"ui_text","z":"8874c4d3.200988","group":"2523f38f.5c964c","order":6,"width":0,"height":0,"name":"","label":"Start time","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":160,"wires":[]},{"id":"3127e266.1ad69e","type":"function","z":"8874c4d3.200988","name":"Set target time","func":"\nvar hours = flow.get(\"silent_mode_start_hour\") || 0;\nvar minutes = flow.get(\"silent_mode_start_minute\") || 0;\n\nvar total_time = \"\"\nif(hours < 10) total_time += \"0\"\ntotal_time += hours\ntotal_time += \":\"\nif(minutes < 10) total_time += \"0\"\ntotal_time += minutes\n\nmsg.payload = total_time\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":160,"wires":[["3d6ac3b8.67fe9c"]]},{"id":"2a8cee4e.590672","type":"ui_slider","z":"8874c4d3.200988","name":"","label":"Hour","tooltip":"","group":"2523f38f.5c964c","order":4,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"24","step":1,"x":170,"y":120,"wires":[["29e77503.4548ea"]]},{"id":"825c5734.6c5128","type":"ui_slider","z":"8874c4d3.200988","name":"","label":"Minutes","tooltip":"","group":"2523f38f.5c964c","order":5,"width":0,"height":0,"passthru":false,"outs":"end","topic":"minutes","min":0,"max":"60","step":1,"x":180,"y":180,"wires":[["b8b96e26.4b7a1"]]},{"id":"29e77503.4548ea","type":"function","z":"8874c4d3.200988","name":"Set start hour","func":"\n\nflow.set(\"silent_mode_start_hour\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["3127e266.1ad69e"]]},{"id":"b8b96e26.4b7a1","type":"function","z":"8874c4d3.200988","name":"Set start minute","func":"\nflow.set(\"silent_mode_start_minute\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":180,"wires":[["3127e266.1ad69e"]]},{"id":"33ac8afb.89fe16","type":"ui_text","z":"8874c4d3.200988","group":"2523f38f.5c964c","order":3,"width":0,"height":0,"name":"","label":"Silent mode start time","format":"","layout":"row-spread","x":220,"y":60,"wires":[]},{"id":"d8f3bfc5.bc729","type":"ui_text","z":"8874c4d3.200988","group":"2523f38f.5c964c","order":10,"width":0,"height":0,"name":"","label":"End time","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":360,"wires":[]},{"id":"bd814b70.54caf8","type":"function","z":"8874c4d3.200988","name":"Set target time","func":"\nvar hours = flow.get(\"silent_mode_end_hour\") || 0;\nvar minutes = flow.get(\"silent_mode_end_minute\") || 0;\n\nvar total_time = \"\"\nif(hours < 10) total_time += \"0\"\ntotal_time += hours\ntotal_time += \":\"\nif(minutes < 10) total_time += \"0\"\ntotal_time += minutes\n\nmsg.payload = total_time\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":360,"wires":[["d8f3bfc5.bc729"]]},{"id":"359132a2.9257ce","type":"ui_slider","z":"8874c4d3.200988","name":"","label":"Hour","tooltip":"","group":"2523f38f.5c964c","order":8,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"24","step":1,"x":170,"y":320,"wires":[["18d8e3f3.f6b6bc"]]},{"id":"8f947c0f.78ef3","type":"ui_slider","z":"8874c4d3.200988","name":"","label":"Minutes","tooltip":"","group":"2523f38f.5c964c","order":9,"width":0,"height":0,"passthru":false,"outs":"end","topic":"minutes","min":0,"max":"60","step":1,"x":180,"y":380,"wires":[["bcebcf2a.43082"]]},{"id":"18d8e3f3.f6b6bc","type":"function","z":"8874c4d3.200988","name":"Set end hour","func":"\n\nflow.set(\"silent_mode_end_hour\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":320,"wires":[["bd814b70.54caf8"]]},{"id":"bcebcf2a.43082","type":"function","z":"8874c4d3.200988","name":"Set end minute","func":"\nflow.set(\"silent_mode_end_minute\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":380,"wires":[["bd814b70.54caf8"]]},{"id":"ba5e023d.209ba","type":"ui_text","z":"8874c4d3.200988","group":"2523f38f.5c964c","order":7,"width":0,"height":0,"name":"","label":"Silent mode end time","format":"","layout":"row-spread","x":220,"y":260,"wires":[]},{"id":"540071b.236b69","type":"ui_switch","z":"8874c4d3.200988","name":"Programmed silent mode","label":"Programmed silent mode","tooltip":"","group":"2523f38f.5c964c","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":540,"wires":[["398247de.cfd6b8"]]},{"id":"398247de.cfd6b8","type":"function","z":"8874c4d3.200988","name":"Set programmed silent mode","func":"\n\nflow.set(\"programmed_silent_mode\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":540,"wires":[[]]},{"id":"bc2f1192.024b","type":"inject","z":"8874c4d3.200988","name":"Periodical trigger","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"1","x":210,"y":780,"wires":[["57c65ada.309404"]]},{"id":"57c65ada.309404","type":"function","z":"8874c4d3.200988","name":"Check heating due","func":"var datetime = new Date()\n\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\n\nvar target_start_hour = flow.get(\"silent_mode_start_hour\") || 0;\nvar target_start_minute = flow.get(\"silent_mode_start_minute\") || 0;\nvar target_end_hour = flow.get(\"silent_mode_end_hour\") || 0;\nvar target_end_minute = flow.get(\"silent_mode_end_minute\") || 0;\n\n\nvar program = flow.get(\"programmed_silent_mode\") || 0;\n\n\nmsg.payload = 99\n\nif(program)\n{\n    msg.payload = 98\n    if(target_start_hour == hours)\n    {\n        if(Math.abs(target_start_minute - minutes) < 2)\n        {\n            msg.payload = 1\n        }\n    }\n    if(target_end_hour == hours)\n    {\n        if(Math.abs(target_end_minute - minutes) < 2)\n        {\n            msg.payload = 0\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":780,"wires":[["26f58f9b.126cd","1c1474db.331d9b"]]},{"id":"26f58f9b.126cd","type":"debug","z":"8874c4d3.200988","name":"Bedroom: alarm due check","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":840,"wires":[]},{"id":"1c1474db.331d9b","type":"switch","z":"8874c4d3.200988","name":"Check heating due","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":220,"y":680,"wires":[["b440c46e.1e47b8"],["b440c46e.1e47b8"],[]]},{"id":"d19395ae.cb6ea8","type":"inject","z":"b5887534.3c6f4","name":"Check every minute","topic":"","payload":"","payloadType":"date","repeat":"360","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":680,"wires":[["30ccc12d.1be04e"]]},{"id":"30ccc12d.1be04e","type":"function","z":"b5887534.3c6f4","name":"Check door status","func":"\nvar door_open = flow.get(\"balcony_door_open\") || 0;\nvar long_time_open_published = flow.get(\"long_time_open_published\") || 0;\nvar long_time_open_detection = flow.get(\"long_time_open_detection\") || 0;\n\nmsg.payload = false\n\nif(long_time_open_detection && door_open && !long_time_open_published)\n{\n    var open_time = flow.get(\"open_time\") || 0;\n    var datetime = new Date()\n    var timedif = Math.abs(datetime - open_time);\n    var threshold = flow.get(\"balcony_open_threshold\") || 0;\n\n    if(timedif > threshold)\n    {\n        msg.payload = true\n        flow.set(\"long_time_open_published\",true)\n    }\n    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":680,"wires":[["f244167e.329688"]]},{"id":"f244167e.329688","type":"switch","z":"b5887534.3c6f4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":680,"wires":[["b05f5685.1fb738","cbcc6656.472218"]]},{"id":"b05f5685.1fb738","type":"function","z":"b5887534.3c6f4","name":"Create long time open warning","func":"\nmsg.payload = \" -t \\\"La puerta de la terraza lleva mucho tiempo abierta\\\"\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":680,"wires":[["8e994503.0a1b08"]]},{"id":"a020dbc4.d75358","type":"ui_switch","z":"b5887534.3c6f4","name":"Balcony long time open detection","label":"Balcony long time open detection","tooltip":"","group":"a8d5eefe.34189","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":300,"y":760,"wires":[["40e5baa1.f39a24"]]},{"id":"40e5baa1.f39a24","type":"function","z":"b5887534.3c6f4","name":"Set balcony open detection","func":"\nflow.set(\"long_time_open_detection\",msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":760,"wires":[[]]},{"id":"cbcc6656.472218","type":"ifttt out","z":"b5887534.3c6f4","eventName":"balcony_long_time_open","key":"dab75ed.980752","x":1030,"y":740,"wires":[]},{"id":"b40c7bfe.d1b458","type":"switch","z":"ebed6492.dd9558","name":"Check silent","property":"silent_mode","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1590,"y":960,"wires":[["deac84a9.4d6a"]]},{"id":"bbd96316.eee1","type":"switch","z":"2159e868.08f748","name":"Check silent","property":"silent_mode","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":2010,"y":680,"wires":[["70da5525.02f034"]]},{"id":"8e994503.0a1b08","type":"switch","z":"b5887534.3c6f4","name":"Check silent","property":"silent_mode","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1410,"y":520,"wires":[["cf2450e9.e5b3f8"]]},{"id":"d68f27e5.66e1a8","type":"switch","z":"890e444f.7e4898","name":"Check silent","property":"silent_mode","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":2090,"y":420,"wires":[["fe50cbf3.87e4e8"]]},{"id":"6d102fc0.f5b638","type":"exec","z":"890e444f.7e4898","command":"/home/pi/Projects/audio_node/audio_node_offline","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1270,"y":860,"wires":[[],[],[]]},{"id":"3b6b73fc.6afb7c","type":"exec","z":"8874c4d3.200988","command":"/home/pi/Projects/audio_node/audio_node_offline","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":980,"wires":[[],[],[]]},{"id":"4c3e2e03.f881f","type":"function","z":"8874c4d3.200988","name":"Set reminder","func":"\nmsg.payload = \" -d\"\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":980,"wires":[["3b6b73fc.6afb7c"]]},{"id":"100aaa17.ee8dce","type":"ui_button","z":"8874c4d3.200988","name":"Update audio list","group":"2523f38f.5c964c","order":10,"width":0,"height":0,"passthru":false,"label":"Update audio list","tooltip":"","color":"","bgcolor":"","icon":"fa-download","payload":"true","payloadType":"bool","topic":"","x":220,"y":980,"wires":[["4c3e2e03.f881f"]]},{"id":"5d92a4d6.91dbcc","type":"function","z":"ebed6492.dd9558","name":"Set entrance detection time","func":"var datetime = new Date();\n\nglobal.set(\"entrance_detection_time\", datetime)\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":440,"wires":[[]]},{"id":"3ebc76a.2ccd68a","type":"ui_switch","z":"890e444f.7e4898","name":"Roomba","label":"Roomba","tooltip":"","group":"d5304c8f.46869","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":680,"y":40,"wires":[["c6e1be04.f5fc"]]},{"id":"c6e1be04.f5fc","type":"function","z":"890e444f.7e4898","name":"Set roomba","func":"\nflow.set(\"roomba\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":40,"wires":[[]]},{"id":"bf0c2def.9e292","type":"switch","z":"890e444f.7e4898","name":"Check roomba","property":"roomba","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1500,"y":60,"wires":[["1cfbd271.4931be"]]},{"id":"1cfbd271.4931be","type":"function","z":"890e444f.7e4898","name":"Create roomba command","func":"\nmsg.payload = \" -f /home/pi/Projects/audio_node/sounds/roomba_reminder.mp3 \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":60,"wires":[["d68f27e5.66e1a8"]]},{"id":"766e9e40.80541","type":"inject","z":"8874c4d3.200988","name":"Trigger once","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":230,"y":1100,"wires":[["de1c24e7.05d828"]]},{"id":"de1c24e7.05d828","type":"function","z":"8874c4d3.200988","name":"Set initial values","func":"\nglobal.set(\"silent_mode\", false)\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1100,"wires":[[]]},{"id":"90d5ace0.044e48","type":"delay","z":"2159e868.08f748","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":800,"wires":[["a174ad79.3acee","e0f78272.3b36f"]]},{"id":"27eab929.3addb6","type":"function","z":"b5887534.3c6f4","name":"Get rain next 12h","func":"var rain_sum = 0\n\nfor(i=0; i<4; i++)\n{\n    var rain_object = msg.payload[i].rain\n    if (typeof rain_object != 'undefined') rain_sum += rain_object[\"3h\"]\n}\n\nglobal.set(\"rain_forecast\",rain_sum)\n\n\nmsg.payload = rain_sum\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":600,"wires":[["c5ce9646.364798"]]},{"id":"c5ce9646.364798","type":"debug","z":"b5887534.3c6f4","name":"Current weather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":600,"wires":[]},{"id":"bf4adeac.6021a","type":"mqtt in","z":"2159e868.08f748","name":"Pressure detected","topic":"entrance_node/pressure_detected","qos":"2","broker":"e67c6dfd.2c6b98","x":170,"y":1420,"wires":[["97ff935d.fc163"]]},{"id":"5eccfaaf.96a934","type":"mqtt in","z":"b5887534.3c6f4","name":"Exit detected","topic":"entrance_node/exit_detected","qos":"2","broker":"e67c6dfd.2c6b98","x":230,"y":900,"wires":[["50a0f202.5180fc"]]},{"id":"ebd3069.baa82f8","type":"function","z":"b5887534.3c6f4","name":"Create balcony open reminder command","func":"\nmsg.payload = \" -f /home/pi/Projects/audio_node/sounds/balcony_door_reminder.mp3\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":900,"wires":[["8e994503.0a1b08"]]},{"id":"50a0f202.5180fc","type":"switch","z":"b5887534.3c6f4","name":"Switch warning","property":"balcony_door_open","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":900,"wires":[["563aa127.0a3d8"]]},{"id":"563aa127.0a3d8","type":"switch","z":"b5887534.3c6f4","name":"Switch rain forecast","property":"rain_forecast","propertyType":"global","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":730,"y":900,"wires":[["831af4a9.6d2638"],["ebd3069.baa82f8"]]},{"id":"831af4a9.6d2638","type":"function","z":"b5887534.3c6f4","name":"Create rain reminder command","func":"\nmsg.payload = \" -f /home/pi/Projects/audio_node/sounds/balcony_rain_reminder.mp3\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":960,"wires":[["8e994503.0a1b08"]]},{"id":"2e599d18.d6915a","type":"mqtt out","z":"117ae75e.a5f4b9","name":"Lamp state request","topic":"livingroom_node/light_state","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":1130,"y":1240,"wires":[]},{"id":"a8a62f4a.1dd7a8","type":"ui_switch","z":"117ae75e.a5f4b9","name":"","label":"Lamp switch","tooltip":"","group":"66bb6238.405dac","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":390,"y":1240,"wires":[["9802e3f5.aa36f"]]},{"id":"e8c30e2.2e1e0f","type":"function","z":"117ae75e.a5f4b9","name":"Parse message","func":"\nmsg = {payload:\n      {\n        req:msg.payload\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":1240,"wires":[["2e599d18.d6915a"]]},{"id":"cae64de5.768ba8","type":"mqtt in","z":"117ae75e.a5f4b9","name":"Lamp_feedback","topic":"livingroom_node/lamp_feedback","qos":"2","broker":"e67c6dfd.2c6b98","x":120,"y":1240,"wires":[["a8a62f4a.1dd7a8","b2ec829a.bff2a8"]]},{"id":"9802e3f5.aa36f","type":"switch","z":"117ae75e.a5f4b9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":1240,"wires":[["e8c30e2.2e1e0f"]]},{"id":"b2ec829a.bff2a8","type":"debug","z":"117ae75e.a5f4b9","name":"Lamp feedback","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":1340,"wires":[]},{"id":"e6613c22.1a33f","type":"function","z":"372c6a0a.5b6fa6","name":"Set payload","func":"var datetime = new Date()\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nvar count = flow.get(\"entrance_reboots\") || 0;\n\nmsg.payload = count + 1\n\nflow.set(\"entrance_reboots\",msg.payload)\n\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["58023466.e89f2c","20e9133d.f39f9c"]]},{"id":"58023466.e89f2c","type":"ui_text","z":"372c6a0a.5b6fa6","group":"5ea35a44.fd3e34","order":2,"width":0,"height":0,"name":"Entrance last reboot","label":"Last reboot ","format":"{{msg.timestamp}}","layout":"row-spread","x":780,"y":280,"wires":[]},{"id":"20e9133d.f39f9c","type":"ui_text","z":"372c6a0a.5b6fa6","group":"5ea35a44.fd3e34","order":3,"width":0,"height":0,"name":"Num reboots entrance","label":"Num reboots","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":340,"wires":[]},{"id":"72de6414.f81ffc","type":"mqtt in","z":"372c6a0a.5b6fa6","name":"Entrance reboot detected","topic":"entrance_node/boot","qos":"2","broker":"e67c6dfd.2c6b98","x":190,"y":280,"wires":[["e6613c22.1a33f","dcdc0948.82fe88"]]},{"id":"ec59a67d.d17df8","type":"ui_button","z":"372c6a0a.5b6fa6","name":"Reset","group":"bbf7ff0.aeff5","order":4,"width":"5","height":"1","passthru":false,"label":"Reset all","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-1","payloadType":"num","topic":"","x":110,"y":140,"wires":[["e58e5124.21603"]]},{"id":"e58e5124.21603","type":"function","z":"372c6a0a.5b6fa6","name":"Set initial values","func":"\nflow.set(\"entrance_reboots\",-1);\nflow.set(\"attic_reboots\",-1);\nflow.set(\"livingroom_reboots\",-1);\nflow.set(\"bedroom_reboots\",-1);\nflow.set(\"balcony_reboots\",-1);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["e6613c22.1a33f","5ee2a405.25d3bc","938ee2ef.64d77","f97365c.c735f98","d3deda28.1ac2a8"]]},{"id":"dcdc0948.82fe88","type":"debug","z":"372c6a0a.5b6fa6","name":"Entrance reboot detected","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":340,"wires":[]},{"id":"5ee2a405.25d3bc","type":"function","z":"372c6a0a.5b6fa6","name":"Set payload","func":"var datetime = new Date()\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nvar count = flow.get(\"livingroom_reboots\") || 0;\n\nmsg.payload = count + 1\n\nflow.set(\"livingroom_reboots\",msg.payload)\n\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":440,"wires":[["5aabe764.cb2cf8","2df29e54.49cb62"]]},{"id":"5aabe764.cb2cf8","type":"ui_text","z":"372c6a0a.5b6fa6","group":"b08803e9.31eb7","order":2,"width":0,"height":0,"name":"Livingroom last reboot","label":"Last reboot ","format":"{{msg.timestamp}}","layout":"row-spread","x":780,"y":440,"wires":[]},{"id":"2df29e54.49cb62","type":"ui_text","z":"372c6a0a.5b6fa6","group":"b08803e9.31eb7","order":3,"width":0,"height":0,"name":"Num reboots livingroom","label":"Num reboots","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":500,"wires":[]},{"id":"7132060d.655728","type":"mqtt in","z":"372c6a0a.5b6fa6","name":"Livingroom reboot detected","topic":"livingroom_node/boot","qos":"2","broker":"e67c6dfd.2c6b98","x":200,"y":440,"wires":[["5ee2a405.25d3bc","95c0a592.6a66b8"]]},{"id":"95c0a592.6a66b8","type":"debug","z":"372c6a0a.5b6fa6","name":"Livingroom reboot detected","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":480,"y":500,"wires":[]},{"id":"938ee2ef.64d77","type":"function","z":"372c6a0a.5b6fa6","name":"Set payload","func":"var datetime = new Date()\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nvar count = flow.get(\"bedroom_reboots\") || 0;\n\nmsg.payload = count + 1\n\nflow.set(\"bedroom_reboots\",msg.payload)\n\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":600,"wires":[["bec5a771.590068","7f45f2a4.9dfd6c"]]},{"id":"bec5a771.590068","type":"ui_text","z":"372c6a0a.5b6fa6","group":"fdf24e3d.60209","order":2,"width":0,"height":0,"name":"Bedroom last reboot","label":"Last reboot ","format":"{{msg.timestamp}}","layout":"row-spread","x":780,"y":600,"wires":[]},{"id":"7f45f2a4.9dfd6c","type":"ui_text","z":"372c6a0a.5b6fa6","group":"fdf24e3d.60209","order":3,"width":0,"height":0,"name":"Num reboots bedroom","label":"Num reboots","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":660,"wires":[]},{"id":"696ccb52.708fe4","type":"mqtt in","z":"372c6a0a.5b6fa6","name":"Bedroom reboot detected","topic":"bedroom_node/boot","qos":"2","broker":"e67c6dfd.2c6b98","x":190,"y":600,"wires":[["938ee2ef.64d77","4b108abb.285ff4"]]},{"id":"4b108abb.285ff4","type":"debug","z":"372c6a0a.5b6fa6","name":"Bedroom reboot detected","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":660,"wires":[]},{"id":"f97365c.c735f98","type":"function","z":"372c6a0a.5b6fa6","name":"Set payload","func":"var datetime = new Date()\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nvar count = flow.get(\"attic_reboots\") || 0;\n\nmsg.payload = count + 1\n\nflow.set(\"attic_reboots\",msg.payload)\n\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":760,"wires":[["2eeb8ed5.a93552","f9a0e1b1.bef23"]]},{"id":"2eeb8ed5.a93552","type":"ui_text","z":"372c6a0a.5b6fa6","group":"dadda8b2.d4ca58","order":2,"width":0,"height":0,"name":"Attic last reboot","label":"Last reboot ","format":"{{msg.timestamp}}","layout":"row-spread","x":760,"y":760,"wires":[]},{"id":"f9a0e1b1.bef23","type":"ui_text","z":"372c6a0a.5b6fa6","group":"dadda8b2.d4ca58","order":3,"width":0,"height":0,"name":"Num reboots attic","label":"Num reboots","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":820,"wires":[]},{"id":"9d4cbe94.72281","type":"mqtt in","z":"372c6a0a.5b6fa6","name":"Attic reboot detected","topic":"attic_node/boot","qos":"2","broker":"e67c6dfd.2c6b98","x":180,"y":760,"wires":[["f97365c.c735f98","5d655473.b50cac"]]},{"id":"5d655473.b50cac","type":"debug","z":"372c6a0a.5b6fa6","name":"Attic reboot detected","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":460,"y":820,"wires":[]},{"id":"d3deda28.1ac2a8","type":"function","z":"372c6a0a.5b6fa6","name":"Set payload","func":"var datetime = new Date()\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nvar count = flow.get(\"balcony_reboots\") || 0;\n\nmsg.payload = count + 1\n\nflow.set(\"balcony_reboots\",msg.payload)\n\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":920,"wires":[["58b811f4.8e969","9cc7dffe.226ab"]]},{"id":"58b811f4.8e969","type":"ui_text","z":"372c6a0a.5b6fa6","group":"efcd26a0.d476d8","order":2,"width":0,"height":0,"name":"Balcony last reboot","label":"Last reboot ","format":"{{msg.timestamp}}","layout":"row-spread","x":770,"y":920,"wires":[]},{"id":"9cc7dffe.226ab","type":"ui_text","z":"372c6a0a.5b6fa6","group":"efcd26a0.d476d8","order":3,"width":0,"height":0,"name":"Num reboots balcony","label":"Num reboots","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":980,"wires":[]},{"id":"ea7d2c5c.1a836","type":"mqtt in","z":"372c6a0a.5b6fa6","name":"Balcony reboot detected","topic":"balcony_node/boot","qos":"2","broker":"e67c6dfd.2c6b98","x":190,"y":920,"wires":[["d3deda28.1ac2a8","9a3005d9.7b6a28"]]},{"id":"9a3005d9.7b6a28","type":"debug","z":"372c6a0a.5b6fa6","name":"Balcony reboot detected","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":980,"wires":[]},{"id":"ddd3dd05.a34cf8","type":"mqtt in","z":"bf97828f.e0d5","name":"Entrance detected","topic":"smart_washmachine/consumption","qos":"2","broker":"e67c6dfd.2c6b98","x":250,"y":500,"wires":[["e95c82bf.9b1b58"]]},{"id":"b1aa8db7.d2eb8","type":"debug","z":"bf97828f.e0d5","name":"Current consumption","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":820,"y":440,"wires":[]},{"id":"e95c82bf.9b1b58","type":"function","z":"bf97828f.e0d5","name":"Set current consumption","func":"\nflow.set(\"current_consumption\", parseInt(msg.payload))\n\nmsg.payload = parseInt(msg.payload)\n\nreturn msg","outputs":1,"noerr":0,"x":530,"y":500,"wires":[["3ae2e386.a6060c","b1aa8db7.d2eb8"]]},{"id":"e5e7f9bf.30084","type":"inject","z":"bf97828f.e0d5","name":"Check periodically","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":240,"y":620,"wires":[["398db2ac.cdcb86"]]},{"id":"398db2ac.cdcb86","type":"exec","z":"bf97828f.e0d5","command":"/home/pi/Projects/smart_washmachine/smart_washmachine_safe","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":620,"wires":[[],[],["ebaef3c9.269698"]]},{"id":"ebaef3c9.269698","type":"delay","z":"bf97828f.e0d5","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":620,"wires":[["1c7d91e6.ec250e"]]},{"id":"1c7d91e6.ec250e","type":"function","z":"bf97828f.e0d5","name":"Washmachine SM","func":"\nvar is_working = flow.get(\"is_working\") || 0;\nvar current_consumption = flow.get(\"current_consumption\") || 0;\n\nmsg.payload = \"\"\n\n//Check if it was already working\nif(is_working)\n{\n    //Has finished\n    if(current_consumption == 0)\n    {\n        flow.set(\"is_working\",false);\n        msg.payload = \"FINISHED\";\n    }\n}\n//Not working before\nelse\n{\n    //Has started\n    if(current_consumption > 0)\n    {\n        flow.set(\"is_working\",true);\n        msg.payload = \"STARTED\";\n    }\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":620,"wires":[["8d72b4a4.65ba8"]]},{"id":"8d72b4a4.65ba8","type":"switch","z":"bf97828f.e0d5","name":"Switch state","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"FINISHED","vt":"str"},{"t":"eq","v":"STARTED","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1530,"y":620,"wires":[["50673c81.c9f654","377d0aa5.51a956","fdf56aed.26e258","d4d4ba68.afb4e","f751efd6.723118"],["2059e863.57437","a8829dfb.0d5198"]],"outputLabels":["","message.topic = "]},{"id":"50673c81.c9f654","type":"function","z":"bf97828f.e0d5","name":"Create washmachine finished command","func":"msg.payload = \" -f /home/pi/Projects/audio_node/sounds/washmachine_finished.mp3 \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1920,"y":280,"wires":[["3cb4d0b4.39b8e"]]},{"id":"3cb4d0b4.39b8e","type":"switch","z":"bf97828f.e0d5","name":"Check silent","property":"silent_mode","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":2210,"y":280,"wires":[["305bfb44.af946c"]]},{"id":"305bfb44.af946c","type":"exec","z":"bf97828f.e0d5","command":"/home/pi/Projects/audio_node/audio_node_offline","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2560,"y":280,"wires":[[],[],[]]},{"id":"377d0aa5.51a956","type":"ifttt out","z":"bf97828f.e0d5","eventName":"washmachine_finished","key":"dab75ed.980752","x":1860,"y":340,"wires":[]},{"id":"fdf56aed.26e258","type":"mqtt out","z":"bf97828f.e0d5","name":"Washmachine finished","topic":"washmachine_node/finished","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":1860,"y":500,"wires":[]},{"id":"a8829dfb.0d5198","type":"delay","z":"bf97828f.e0d5","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1680,"y":720,"wires":[["7b3c9d78.56d7cc"]]},{"id":"2059e863.57437","type":"function","z":"bf97828f.e0d5","name":"Parse message. Switch ON","func":"\nmsg = {payload:\n      {\n        req:1\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":1880,"y":660,"wires":[["d7f04101.8d9d6"]]},{"id":"7b3c9d78.56d7cc","type":"function","z":"bf97828f.e0d5","name":"Parse message. Blue light","func":"\nmsg = {payload:\n      {\n        r:0,\n        g:0,\n        b:255\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":720,"wires":[["141733e1.5c21dc"]]},{"id":"141733e1.5c21dc","type":"mqtt out","z":"bf97828f.e0d5","name":"Lamp color request","topic":"livingroom_node/light_color","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":2150,"y":720,"wires":[]},{"id":"d7f04101.8d9d6","type":"mqtt out","z":"bf97828f.e0d5","name":"Lamp state request","topic":"livingroom_node/light_state","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":2150,"y":660,"wires":[]},{"id":"d4d4ba68.afb4e","type":"function","z":"bf97828f.e0d5","name":"Parse message. Red light","func":"\nmsg = {payload:\n      {\n        r:255,\n        g:0,\n        b:0\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":580,"wires":[["7c7b0052.20344"]]},{"id":"7c7b0052.20344","type":"mqtt out","z":"bf97828f.e0d5","name":"Lamp color request","topic":"livingroom_node/light_color","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":2140,"y":580,"wires":[]},{"id":"6e83b293.8e6624","type":"inject","z":"bf97828f.e0d5","name":"Set initial values","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":240,"y":720,"wires":[["97e641a9.7e8778"]]},{"id":"97e641a9.7e8778","type":"function","z":"bf97828f.e0d5","name":"Set initial values","func":"\nflow.set(\"current_consumption\", -1)\nflow.set(\"is_working\",false);","outputs":1,"noerr":0,"x":520,"y":720,"wires":[[]]},{"id":"630c9f4f.a6c878","type":"inject","z":"fd1f9f53.46937","name":"On start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":520,"y":900,"wires":[["f9ef402a.2425b"]]},{"id":"f9ef402a.2425b","type":"delay","z":"fd1f9f53.46937","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":900,"wires":[["4dc9119.6b2147"]]},{"id":"4dc9119.6b2147","type":"state-machine","z":"fd1f9f53.46937","name":"SM","triggerProperty":"topic","triggerPropertyType":"msg","stateProperty":"topic","statePropertyType":"msg","outputStateChangeOnly":false,"throwException":false,"states":["start","iddle","running"],"transitions":[{"name":"has_not_started","from":"start","to":"iddle"},{"name":"has_started","from":"iddle","to":"running"},{"name":"has_finished","from":"running","to":"iddle"},{"name":"has_not_started","from":"iddle","to":"iddle"},{"name":"has_started","from":"start","to":"running"}],"x":790,"y":1000,"wires":[["7e151175.fe37d8"]]},{"id":"eeb7d414.032338","type":"python-function","z":"fd1f9f53.46937","name":"Do_check","func":"import sys\nsys.path.append(os.path.abspath(\"/home/pi/Projects/smart_washmachine\"))\nimport smart_washmachine\n\nstatus = smart_washmachine.check_status()\n\nif(status > 0):\n    msg['topic'] = 'has_started'\nelse:\n    msg['topic'] = 'has_not_started'\n    \nmsg['payload'] = status\n\nreturn msg","outputs":1,"x":1260,"y":1120,"wires":[["4dc9119.6b2147","408b312e.be7c38","dc5ce795.aba4e8"]]},{"id":"7e151175.fe37d8","type":"switch","z":"fd1f9f53.46937","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"running","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":730,"y":1200,"wires":[["894cf0fa.164d9"],["ddc7cbbc.0840a8","9b23461b.2fe2b"]],"outputLabels":["","message.topic = "]},{"id":"894cf0fa.164d9","type":"delay","z":"fd1f9f53.46937","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":1120,"wires":[["eeb7d414.032338"]]},{"id":"408b312e.be7c38","type":"debug","z":"fd1f9f53.46937","name":"First check","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1230,"y":1020,"wires":[]},{"id":"39b75c47.4fafd4","type":"delay","z":"fd1f9f53.46937","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":1180,"wires":[["e7d2d175.8a141"]]},{"id":"f1ae9bfc.b0336","type":"switch","z":"fd1f9f53.46937","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"has_finished","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1470,"y":1240,"wires":[["39b75c47.4fafd4"],["22a6c8d7.475978","4dc9119.6b2147","e7c8046e.5dfc4","dc9c701c.07e4d8","5b412c84.c3b89c"]],"outputLabels":["","message.topic = "]},{"id":"dc5ce795.aba4e8","type":"ui_chart","z":"fd1f9f53.46937","name":"Washmachine graph","group":"4406aa4.a2328d4","order":2,"width":"12","height":"6","label":"Washmachine consumption","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1540,"y":1420,"wires":[[],[]]},{"id":"e7d2d175.8a141","type":"python-function","z":"fd1f9f53.46937","name":"Do_check","func":"import sys\nsys.path.append(os.path.abspath(\"/home/pi/Projects/smart_washmachine\"))\nimport smart_washmachine\n\nstatus = smart_washmachine.check_status()\n\nif(status > 900):\n    status = 900\n\nif(status != 0):\n    msg['topic'] = 'running'\nelse:\n    msg['topic'] = 'has_finished'\n    \nmsg['payload'] = status\n\nreturn msg","outputs":1,"x":1320,"y":1240,"wires":[["f1ae9bfc.b0336","dc5ce795.aba4e8","803c4f52.c9c04"]]},{"id":"803c4f52.c9c04","type":"debug","z":"fd1f9f53.46937","name":"Further checks","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1540,"y":1360,"wires":[]},{"id":"ddc7cbbc.0840a8","type":"function","z":"fd1f9f53.46937","name":"Parse message. Switch ON","func":"\nmsg = {payload:\n      {\n        req:1\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1360,"wires":[["e7a0d7a9.28f1c"]]},{"id":"e7a0d7a9.28f1c","type":"mqtt out","z":"fd1f9f53.46937","name":"Lamp state request","topic":"livingroom_node/light_state","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":1070,"y":1360,"wires":[]},{"id":"2b8534e1.7f8d94","type":"function","z":"fd1f9f53.46937","name":"Parse message. Blue light","func":"\nmsg = {payload:\n      {\n        r:0,\n        g:0,\n        b:255\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1420,"wires":[["5878cabd.120ee4","39b75c47.4fafd4"]]},{"id":"5878cabd.120ee4","type":"mqtt out","z":"fd1f9f53.46937","name":"Lamp color request","topic":"livingroom_node/light_color","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":1070,"y":1420,"wires":[]},{"id":"9b23461b.2fe2b","type":"delay","z":"fd1f9f53.46937","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":1420,"wires":[["2b8534e1.7f8d94"]]},{"id":"22a6c8d7.475978","type":"function","z":"fd1f9f53.46937","name":"Parse message. Red light","func":"\nmsg = {payload:\n      {\n        r:255,\n        g:0,\n        b:0\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":1680,"y":1240,"wires":[["767f6b47.749a54"]]},{"id":"767f6b47.749a54","type":"mqtt out","z":"fd1f9f53.46937","name":"Lamp color request","topic":"livingroom_node/light_color","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":1950,"y":1240,"wires":[]},{"id":"e7c8046e.5dfc4","type":"ifttt out","z":"fd1f9f53.46937","eventName":"washmachine_finished","key":"dab75ed.980752","x":1970,"y":1320,"wires":[]},{"id":"dc9c701c.07e4d8","type":"function","z":"fd1f9f53.46937","name":"Create washmachine finished command","func":"msg.payload = \" -f /home/pi/Projects/audio_node/sounds/washmachine_finished.mp3 \"\n\nreturn msg;","outputs":1,"noerr":0,"x":2000,"y":1400,"wires":[["75ecfe19.d2a028"]]},{"id":"2c61a654.a5fad2","type":"exec","z":"fd1f9f53.46937","command":"/home/pi/Projects/audio_node/audio_node_offline","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2670,"y":1400,"wires":[[],[],[]]},{"id":"5b412c84.c3b89c","type":"mqtt out","z":"fd1f9f53.46937","name":"Washmachine finished","topic":"washmachine_node/finished","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":1960,"y":1480,"wires":[]},{"id":"75ecfe19.d2a028","type":"switch","z":"fd1f9f53.46937","name":"Check silent","property":"silent_mode","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":2320,"y":1400,"wires":[["2c61a654.a5fad2"]]},{"id":"3ae2e386.a6060c","type":"ui_chart","z":"bf97828f.e0d5","name":"Washmachine graph","group":"4406aa4.a2328d4","order":2,"width":"12","height":"6","label":"Washmachine consumption","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":820,"y":500,"wires":[[],[]]},{"id":"f751efd6.723118","type":"ifttt out","z":"bf97828f.e0d5","eventName":"washmachine_finished","key":"59f1345a.5292fc","x":1860,"y":420,"wires":[]}]
