nodered_nodes.txt
[{"id":"bf97828f.e0d5","type":"tab","label":"Washmachine State Machine ","disabled":false,"info":""},{"id":"822cb4b.5d3f748","type":"tab","label":"MQTT example","disabled":true,"info":""},{"id":"42d52646.036d7","type":"tab","label":"IFTTT example","disabled":true,"info":""},{"id":"ebed6492.dd9558","type":"tab","label":"Entrance node","disabled":false,"info":""},{"id":"2159e868.08f748","type":"tab","label":"Presence detection","disabled":false,"info":""},{"id":"117ae75e.a5f4b9","type":"tab","label":"Livingroom node","disabled":false,"info":""},{"id":"d2264f24.ef7248","type":"tab","label":"Kitchen node","disabled":true,"info":""},{"id":"474b74d5.8d1c2c","type":"tab","label":"Attic node","disabled":false,"info":""},{"id":"73b98555.2a89b4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fd1f9f53.46937","type":"tab","label":"Test","disabled":false,"info":""},{"id":"1b65d287.8b524d","type":"tab","label":"Battery test","disabled":false,"info":""},{"id":"e67c6dfd.2c6b98","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e2cd84b.024548","type":"ui_group","z":"","name":"Default","tab":"def1e8e5.bb4f18","disp":true,"width":"6","collapse":false},{"id":"9a2a32a2.fb4ce","type":"ui_tab","z":"","name":"House control","icon":"dashboard","order":1},{"id":"cc52bacb.554398","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#007eb1","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#007eb1","edited":true},"page-titlebar-backgroundColor":{"value":"#007eb1","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#00b4fd","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#007eb1","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"def1e8e5.bb4f18","type":"ui_tab","z":"","name":"Alarm","icon":"dashboard","order":3},{"id":"fc022518.d7bc5","type":"ui_group","z":"","name":"Test","tab":"9cb83690.5483f","disp":true,"width":"8","collapse":false},{"id":"f933085d.8cad7","type":"ui_group","z":"","name":"Attic","tab":"9a2a32a2.fb4ce","disp":true,"width":"4","collapse":false},{"id":"addbf546.caf608","type":"ui_group","z":"","name":"Kitchen","tab":"9a2a32a2.fb4ce","disp":true,"width":"6","collapse":false},{"id":"22dbe042.537a68","type":"ui_tab","z":"","name":"Graphs","icon":"dashboard","order":2},{"id":"fb91ed0a.105588","type":"ui_group","z":"","name":"Attic","tab":"22dbe042.537a68","disp":true,"width":"12","collapse":false},{"id":"66bb6238.405dac","type":"ui_group","z":"","name":"Livingroom","tab":"9a2a32a2.fb4ce","disp":true,"width":"4","collapse":false},{"id":"e70be721.600c28","type":"ui_group","z":"","name":"Livingroom","tab":"22dbe042.537a68","disp":true,"width":"12","collapse":false},{"id":"4406aa4.a2328d4","type":"ui_group","z":"","name":"Washmachine","tab":"22dbe042.537a68","disp":true,"width":"12","collapse":false},{"id":"c086012c.2407d8","type":"ui_group","z":"","name":"Who is at home?","tab":"9a2a32a2.fb4ce","disp":true,"width":"4","collapse":false},{"id":"59f1345a.5292fc","type":"ifttt-key","z":""},{"id":"dab75ed.980752","type":"ifttt-key","z":""},{"id":"75b5c45e.52e19c","type":"ui_spacer","name":"spacer","group":"e70be721.600c28","order":2,"width":1,"height":1},{"id":"9cb83690.5483f","type":"ui_tab","z":"","name":"Battery test","icon":"dashboard"},{"id":"7c5067fd.67b7d8","type":"ui_group","z":"","name":"Entrance","tab":"9a2a32a2.fb4ce","disp":true,"width":"6","collapse":false},{"id":"9b642380.8c60a8","type":"inject","z":"bf97828f.e0d5","name":"On start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":100,"y":380,"wires":[["cf776694.43487"]]},{"id":"cf776694.43487","type":"delay","z":"bf97828f.e0d5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":380,"wires":[["4cd7e9b3.ddd588"]]},{"id":"4cd7e9b3.ddd588","type":"state-machine","z":"bf97828f.e0d5","name":"SM","triggerProperty":"topic","triggerPropertyType":"msg","stateProperty":"topic","statePropertyType":"msg","outputStateChangeOnly":false,"throwException":false,"states":["start","iddle","running"],"transitions":[{"name":"has_not_started","from":"start","to":"iddle"},{"name":"has_started","from":"iddle","to":"running"},{"name":"has_finished","from":"running","to":"iddle"},{"name":"has_not_started","from":"iddle","to":"iddle"},{"name":"has_started","from":"start","to":"running"}],"x":370,"y":480,"wires":[["d970580f.ec40f8"]]},{"id":"b2eee6a3.928608","type":"python-function","z":"bf97828f.e0d5","name":"Do_check","func":"import sys\nsys.path.append(os.path.abspath(\"/home/pi/Projects/smart_washmachine\"))\nimport smart_washmachine\n\nstatus = smart_washmachine.check_status()\n\nif(status > 0):\n    msg['topic'] = 'has_started'\nelse:\n    msg['topic'] = 'has_not_started'\n    \nmsg['payload'] = status\n\nreturn msg","outputs":1,"x":840,"y":600,"wires":[["4cd7e9b3.ddd588","c3d0e935.39ea2","27b6e8d4.f5ffc"]]},{"id":"d970580f.ec40f8","type":"switch","z":"bf97828f.e0d5","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"running","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":310,"y":680,"wires":[["47ca3573.cd0514"],["e5703fdc.bf47b","3b6ee168.bf286e"]],"outputLabels":["","message.topic = "]},{"id":"47ca3573.cd0514","type":"delay","z":"bf97828f.e0d5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":600,"wires":[["b2eee6a3.928608"]]},{"id":"c3d0e935.39ea2","type":"debug","z":"bf97828f.e0d5","name":"First check","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":500,"wires":[]},{"id":"92a92492.525cf8","type":"mqtt out","z":"822cb4b.5d3f748","name":"OutputTest","topic":"test/subtest_2","qos":"1","retain":"","broker":"e67c6dfd.2c6b98","x":750,"y":160,"wires":[]},{"id":"25d48da9.33d912","type":"mqtt in","z":"822cb4b.5d3f748","name":"InputTest","topic":"test/subtest_1","qos":"2","broker":"e67c6dfd.2c6b98","x":230,"y":160,"wires":[["7bb0987d.6d83a8","ff8da6a0.12d138"]]},{"id":"7bb0987d.6d83a8","type":"debug","z":"822cb4b.5d3f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":480,"wires":[]},{"id":"dd849cbf.0ce8e8","type":"ifttt out","z":"42d52646.036d7","eventName":"test_nodered","key":"dab75ed.980752","x":780,"y":280,"wires":[]},{"id":"cc1344b3.c68bb","type":"ui_button","z":"42d52646.036d7","name":"","group":"4e2cd84b.024548","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"value1\":\"hello\"}","payloadType":"json","topic":"","x":290,"y":280,"wires":[["dd849cbf.0ce8e8","249c1478.b102dc"]]},{"id":"249c1478.b102dc","type":"debug","z":"42d52646.036d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":400,"wires":[]},{"id":"56772d00.581094","type":"ui_text_input","z":"42d52646.036d7","name":"","label":"","tooltip":"","group":"4e2cd84b.024548","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":140,"y":400,"wires":[["5c723bb0.88e8e4"]]},{"id":"5c723bb0.88e8e4","type":"function","z":"42d52646.036d7","name":"Conversion de formato","func":"\nmsg = {\"payload\": {\"value1\": msg.payload}}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["249c1478.b102dc","dd849cbf.0ce8e8"]]},{"id":"ff8da6a0.12d138","type":"function","z":"822cb4b.5d3f748","name":"","func":"\nif(msg.payload = 1) msg.payload = 2\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["92a92492.525cf8"]]},{"id":"4e0c77b8.37f488","type":"mqtt in","z":"ebed6492.dd9558","name":"Entrance detected","topic":"entrance_node/entrance_detected","qos":"2","broker":"e67c6dfd.2c6b98","x":250,"y":440,"wires":[["db81b180.12ebe8","f53b4f52.67e86","adc061d9.ac9e6","148f668e.b854e1","9ec1170f.11f26"]]},{"id":"adc061d9.ac9e6","type":"function","z":"ebed6492.dd9558","name":"Entrance time dashboard","func":"var datetime = new Date()\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nmsg = {\"payload\": {\"state\": \"ON_LIGHT\",\n                   \"color\": 0,\n                   \"R\": 0,\n                   \"G\": 0,\n                   \"B\": 0}}\n\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":420,"wires":[["c1d0b6ff.c2b578"]]},{"id":"c1d0b6ff.c2b578","type":"ui_text","z":"ebed6492.dd9558","group":"7c5067fd.67b7d8","order":2,"width":0,"height":0,"name":"Last entrance","label":"Last entrance","format":"{{msg.timestamp}}","layout":"row-spread","x":750,"y":440,"wires":[]},{"id":"25094538.5b995a","type":"mqtt in","z":"fd1f9f53.46937","name":"","topic":"livingroom_node/light","qos":"2","broker":"e67c6dfd.2c6b98","x":100,"y":140,"wires":[["313793e.b8a9d6c"]]},{"id":"c19dedd3.d096a","type":"debug","z":"fd1f9f53.46937","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":60,"wires":[]},{"id":"6b72b093.60d288","type":"debug","z":"ebed6492.dd9558","name":"Last entrance","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"timestamp","x":750,"y":380,"wires":[]},{"id":"c0e04565.92ebc","type":"function","z":"fd1f9f53.46937","name":"Function","func":"\nvar new_msg = {payload: msg.payload.state}\n\n\nreturn new_msg;","outputs":1,"noerr":0,"x":430,"y":240,"wires":[[]]},{"id":"313793e.b8a9d6c","type":"json","z":"fd1f9f53.46937","name":"Json converter","property":"payload","action":"","pretty":false,"x":320,"y":140,"wires":[["c19dedd3.d096a","c0e04565.92ebc"]]},{"id":"d1347eab.d6e29","type":"ui_colour_picker","z":"117ae75e.a5f4b9","name":"","label":"Lamp color","group":"66bb6238.405dac","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":7,"width":0,"height":0,"passthru":true,"topic":"","x":130,"y":100,"wires":[["f0a1152e.b88338"]]},{"id":"d9336c96.4edb88","type":"mqtt out","z":"117ae75e.a5f4b9","name":"Lamp state request","topic":"livingroom_node/light_state","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":570,"y":200,"wires":[]},{"id":"282bc68c.6663ea","type":"ui_switch","z":"117ae75e.a5f4b9","name":"","label":"Lamp switch","tooltip":"","group":"66bb6238.405dac","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":130,"y":200,"wires":[["680b43a5.2dd734"]]},{"id":"f0a1152e.b88338","type":"function","z":"117ae75e.a5f4b9","name":"Parse message","func":"\nmsg = {payload:\n      {\n        r:msg.payload.r,\n        g:msg.payload.g,\n        b:msg.payload.b\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":100,"wires":[["714c5b33.9a7d14"]]},{"id":"507ec549.9ae4dc","type":"debug","z":"117ae75e.a5f4b9","name":"Livingroom: temperature msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":420,"wires":[]},{"id":"f39f5ec6.1fa228","type":"ui_button","z":"117ae75e.a5f4b9","name":"+ Button","group":"66bb6238.405dac","order":6,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"add_circle","payload":"1","payloadType":"num","topic":"","x":120,"y":300,"wires":[["25695241.b6e586"]]},{"id":"12009b83.9a0694","type":"ui_button","z":"117ae75e.a5f4b9","name":"- Button","group":"66bb6238.405dac","order":5,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"remove_circle","payload":"-1","payloadType":"num","topic":"","x":120,"y":340,"wires":[["25695241.b6e586"]]},{"id":"99febe78.752c88","type":"ui_gauge","z":"117ae75e.a5f4b9","name":"Temperature","group":"66bb6238.405dac","order":1,"width":"4","height":"3","gtype":"gage","title":"Temperature","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#50b500","#e6df00","#ca3838"],"seg1":"","seg2":"","x":510,"y":480,"wires":[]},{"id":"97f23e9.3872b4","type":"mqtt in","z":"117ae75e.a5f4b9","name":"Temperature","topic":"livingroom_node/temperature","qos":"2","broker":"e67c6dfd.2c6b98","x":130,"y":480,"wires":[["99febe78.752c88","a76268f2.7063c8","507ec549.9ae4dc"]]},{"id":"a76268f2.7063c8","type":"ui_chart","z":"117ae75e.a5f4b9","name":"Temperature graph","group":"e70be721.600c28","order":2,"width":"12","height":"6","label":"Temperature chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":560,"wires":[[],[]]},{"id":"97e1c1e1.3bf248","type":"ui_text","z":"117ae75e.a5f4b9","group":"66bb6238.405dac","order":4,"width":"2","height":"1","name":"","label":"Bright","format":"","layout":"row-left","x":110,"y":380,"wires":[]},{"id":"4a09d19d.b8c0c","type":"mqtt in","z":"d2264f24.ef7248","name":"Kitchen status","topic":"kitchen_node/status","qos":"2","broker":"e67c6dfd.2c6b98","x":150,"y":180,"wires":[["78177f21.00fb9","ff6600ca.45f5c8","cb116c1a.28c208"]]},{"id":"ff6600ca.45f5c8","type":"function","z":"d2264f24.ef7248","name":"Set payload","func":"var msg_topic;\n\nif(msg.payload == \"1\") msg_topic = \"start\"\nif(msg.payload == \"0\") msg_topic = \"stop\"\n\nmsg = {topic: msg_topic}\n\nvar datetime = Date.now();\n\nglobal.set('start_time',datetime)\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["bd499746.bec8c8","9cbd9fc0.ce5498"]]},{"id":"7a40d2e6.24d72c","type":"ui_text","z":"d2264f24.ef7248","group":"addbf546.caf608","order":2,"width":0,"height":0,"name":"On since","label":"On since","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":260,"wires":[]},{"id":"cb116c1a.28c208","type":"debug","z":"d2264f24.ef7248","name":"Kitchen node: message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":120,"wires":[]},{"id":"78177f21.00fb9","type":"ui_switch","z":"d2264f24.ef7248","name":"Kitchen status","label":"Kitchen status","tooltip":"","group":"addbf546.caf608","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":420,"y":180,"wires":[[]]},{"id":"7875bc7a.d96a2c","type":"ui_button","z":"fd1f9f53.46937","name":"","group":"4e2cd84b.024548","order":2,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Los robots nos hemos hecho con el control de la tierra. Vais a morir todos, humanos","payloadType":"str","topic":"","x":100,"y":380,"wires":[["8d52bc4e.b6e0c"]]},{"id":"8d52bc4e.b6e0c","type":"exec","z":"fd1f9f53.46937","command":"/home/pi/Projects/speech.sh ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":380,"wires":[[],[],[]]},{"id":"deac84a9.4d6a","type":"exec","z":"ebed6492.dd9558","command":"/home/pi/Projects/audio_node/audio_node_offline","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1600,"y":940,"wires":[[],[],[]]},{"id":"9ec1170f.11f26","type":"function","z":"ebed6492.dd9558","name":"Check presence status","func":"var datetime = new Date();\n\nvar last_detection_raul = global.get(\"last_entrance_raul\") || 0;\nvar last_detection_cris = global.get(\"last_entrance_cris\") || 0;\nvar detection_threshold = global.get(\"detection_threshold\") || 0;\n\nvar timedif_raul = datetime - last_detection_raul;\nvar timedif_cris = datetime - last_detection_cris;\n\nvar new_msg = {payload: \"\", greet_raul: false, greet_cris: false, greet_generic: false}\n\nvar count_detected = 0\n\nif(timedif_raul < detection_threshold)\n{\n    new_msg.greet_raul = true;\n}\nelse count_detected++\n\nif(timedif_cris < detection_threshold)\n{\n    new_msg.greet_cris = true;\n}\nelse count_detected++\n\nif(count_detected == 2) new_msg.greet_generic = true\n\nglobal.set(\"entrance_detection_time\", datetime)\n\nreturn new_msg;","outputs":1,"noerr":0,"x":520,"y":780,"wires":[["6747c69a.a341b","c1efedcc.2e5b2","2bbb5601.618a22"]]},{"id":"bd499746.bec8c8","type":"state-machine","z":"d2264f24.ef7248","name":"SM","triggerProperty":"topic","triggerPropertyType":"msg","stateProperty":"topic","statePropertyType":"msg","outputStateChangeOnly":false,"throwException":false,"states":["off","on"],"transitions":[{"name":"start","from":"off","to":"on"},{"name":"stop","from":"on","to":"off"},{"name":"continue","from":"on","to":"on"},{"name":"continue","from":"off","to":"off"}],"x":610,"y":260,"wires":[["b18bc99f.41133"]]},{"id":"b18bc99f.41133","type":"switch","z":"d2264f24.ef7248","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":770,"y":260,"wires":[["f5f850bc.daa538"],["4d38936b.4a5c4c"]],"outputLabels":["message.topic = ",""]},{"id":"f5f850bc.daa538","type":"function","z":"d2264f24.ef7248","name":"Set payload","func":"var count_seconds = \"-\"\n\nmsg = {payload: count_seconds}\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":220,"wires":[["7a40d2e6.24d72c"]]},{"id":"4d38936b.4a5c4c","type":"function","z":"d2264f24.ef7248","name":"Set payload","func":"var datetime = Date.now();\nvar datetime_old = global.get('start_time') || 0;\nvar ellapsed_time = datetime - datetime_old\n\nvar seconds = parseInt(ellapsed_time / 1000)\n\n\nmsg = {payload: seconds, topic: \"continue\"}\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":340,"wires":[["7a40d2e6.24d72c","edb92455.35be38","9cbd9fc0.ce5498"]]},{"id":"edb92455.35be38","type":"delay","z":"d2264f24.ef7248","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":420,"wires":[["bd499746.bec8c8"]]},{"id":"9cbd9fc0.ce5498","type":"debug","z":"d2264f24.ef7248","name":"Kitchen node: payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":520,"wires":[]},{"id":"1f113c19.9a5364","type":"delay","z":"bf97828f.e0d5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":720,"wires":[["7be35af1.7c351c"]]},{"id":"872d79b2.450c6","type":"ui_gauge","z":"117ae75e.a5f4b9","name":"Humidity","group":"66bb6238.405dac","order":1,"width":"4","height":"3","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#50b500","#e6df00","#ca3838"],"seg1":"","seg2":"","x":500,"y":700,"wires":[]},{"id":"350e6f41.2f4d18","type":"mqtt in","z":"117ae75e.a5f4b9","name":"Humidity","topic":"livingroom_node/humidity","qos":"2","broker":"e67c6dfd.2c6b98","x":120,"y":700,"wires":[["872d79b2.450c6","f50ae8de.008998","20a2754e.2bab2a"]]},{"id":"f50ae8de.008998","type":"ui_chart","z":"117ae75e.a5f4b9","name":"Humidity graph","group":"e70be721.600c28","order":2,"width":"12","height":"6","label":"Humidity chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":520,"y":780,"wires":[[],[]]},{"id":"dd329880.bb98d8","type":"debug","z":"2159e868.08f748","name":"Presence detector: Cristina presence msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":480,"wires":[]},{"id":"1a5f5835.3b5fc8","type":"ui_gauge","z":"474b74d5.8d1c2c","name":"Temperature","group":"f933085d.8cad7","order":1,"width":"4","height":"3","gtype":"gage","title":"Temperature","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#50b500","#e6df00","#ca3838"],"seg1":"","seg2":"","x":550,"y":100,"wires":[]},{"id":"43d45f81.b8264","type":"mqtt in","z":"474b74d5.8d1c2c","name":"Temperature","topic":"attic_node/temperature","qos":"2","broker":"e67c6dfd.2c6b98","x":150,"y":120,"wires":[["1a5f5835.3b5fc8","48311a24.2c3164","8caf0eba.83e9","1ada0611.9932ea"]]},{"id":"48311a24.2c3164","type":"ui_chart","z":"474b74d5.8d1c2c","name":"Temperature graph","group":"fb91ed0a.105588","order":2,"width":"12","height":"6","label":"Temperature chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":550,"y":180,"wires":[[],[]]},{"id":"e727bfd9.9ed77","type":"ui_gauge","z":"474b74d5.8d1c2c","name":"Humidity","group":"f933085d.8cad7","order":1,"width":"4","height":"3","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#50b500","#e6df00","#ca3838"],"seg1":"","seg2":"","x":520,"y":260,"wires":[]},{"id":"128a997c.264bc7","type":"mqtt in","z":"474b74d5.8d1c2c","name":"Humidity","topic":"attic_node/humidity","qos":"2","broker":"e67c6dfd.2c6b98","x":150,"y":260,"wires":[["e727bfd9.9ed77","189f07db.4c1848","8caf0eba.83e9"]]},{"id":"189f07db.4c1848","type":"ui_chart","z":"474b74d5.8d1c2c","name":"Humidity graph","group":"fb91ed0a.105588","order":2,"width":"12","height":"6","label":"Humidity chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":540,"y":340,"wires":[[],[]]},{"id":"6d45df44.ea667","type":"ui_switch","z":"474b74d5.8d1c2c","name":"","label":"Heating system","tooltip":"","group":"f933085d.8cad7","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":260,"y":640,"wires":[["1ad19fa0.a8977","8caf0eba.83e9"]]},{"id":"d9f0efd3.1c2cb","type":"ui_slider","z":"474b74d5.8d1c2c","name":"","label":"Temp","tooltip":"","group":"f933085d.8cad7","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"30","step":1,"x":210,"y":700,"wires":[["3712fe28.aef942"]]},{"id":"1ad19fa0.a8977","type":"function","z":"474b74d5.8d1c2c","name":"Set heating ","func":"\nflow.set(\"heating\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":640,"wires":[[]]},{"id":"3e3075e8.5acb3a","type":"function","z":"474b74d5.8d1c2c","name":"Heating control","func":"\nvar heating = flow.get(\"heating\") || 0;\nvar target_temperature = flow.get(\"target_temperature\") || 0;\nvar temperature = flow.get(\"current_temperature\") || 0;\n\nvar hysteresis = 0.5\n\nif(heating == 1)\n{\n    if(temperature < (target_temperature - hysteresis))\n    {\n        msg.payload = 1;\n        msg.topic = \"ON\";\n    }\n    else if (temperature > (target_temperature + hysteresis))\n    {\n        msg.payload = 0;\n        msg.topic = \"OFF\";\n    }\n    \n}\n\nelse\n{\n    msg.payload = 0;\n    msg.topic = \"OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":520,"wires":[["f00f4a32.a96ca8"]]},{"id":"3712fe28.aef942","type":"function","z":"474b74d5.8d1c2c","name":"Set target temperature","func":"\nflow.set(\"target_temperature\",msg.payload)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":700,"wires":[["49e52f7c.8527b"]]},{"id":"8caf0eba.83e9","type":"debug","z":"474b74d5.8d1c2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":500,"y":420,"wires":[]},{"id":"f00f4a32.a96ca8","type":"state-machine","z":"474b74d5.8d1c2c","name":"Heating SM","triggerProperty":"topic","triggerPropertyType":"msg","stateProperty":"topic","statePropertyType":"msg","outputStateChangeOnly":false,"throwException":false,"states":["OFF","OFF_SENT","ON","ON_SENT"],"transitions":[{"name":"ON","from":"OFF","to":"ON"},{"name":"ON","from":"ON","to":"ON_SENT"},{"name":"ON","from":"ON_SENT","to":"ON_SENT"},{"name":"ON","from":"OFF_SENT","to":"ON"},{"name":"OFF","from":"OFF","to":"OFF_SENT"},{"name":"OFF","from":"ON","to":"OFF"},{"name":"OFF","from":"ON_SENT","to":"OFF"},{"name":"OFF","from":"OFF_SENT","to":"OFF_SENT"}],"x":590,"y":520,"wires":[["b7dcb55c.4f5d58"]]},{"id":"b7dcb55c.4f5d58","type":"switch","z":"474b74d5.8d1c2c","name":"Switch","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":770,"y":520,"wires":[["c4da8a3f.006c48","b5956062.8f48a"],["f8443444.7b9a78","d27f0769.52728"],[]],"outputLabels":["","message.topic = ",""]},{"id":"c4da8a3f.006c48","type":"ifttt out","z":"474b74d5.8d1c2c","eventName":"heating_on_1","key":"dab75ed.980752","x":1000,"y":380,"wires":[]},{"id":"f8443444.7b9a78","type":"ifttt out","z":"474b74d5.8d1c2c","eventName":"heating_off_1","key":"dab75ed.980752","x":1000,"y":560,"wires":[]},{"id":"49e52f7c.8527b","type":"ui_text","z":"474b74d5.8d1c2c","group":"f933085d.8cad7","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":660,"y":800,"wires":[]},{"id":"b5956062.8f48a","type":"ifttt out","z":"474b74d5.8d1c2c","eventName":"heating_on_2","key":"dab75ed.980752","x":1000,"y":420,"wires":[]},{"id":"d27f0769.52728","type":"ifttt out","z":"474b74d5.8d1c2c","eventName":"heating_off_2","key":"dab75ed.980752","x":1000,"y":600,"wires":[]},{"id":"f4e4aee8.5fdf","type":"mqtt in","z":"117ae75e.a5f4b9","name":"Light amount","topic":"livingroom_node/light","qos":"2","broker":"e67c6dfd.2c6b98","x":70,"y":920,"wires":[["655e7a2a.e6b76c"]]},{"id":"17307404.62e40c","type":"ui_gauge","z":"117ae75e.a5f4b9","name":"Light amount","group":"66bb6238.405dac","order":1,"width":"4","height":"3","gtype":"wave","title":"Light amount","label":"Lx","format":"{{value}}","min":0,"max":"5000","colors":["#50b500","#e6df00","#ca3838"],"seg1":"","seg2":"","x":510,"y":920,"wires":[]},{"id":"46673997.207908","type":"ui_chart","z":"117ae75e.a5f4b9","name":"Light graph","group":"e70be721.600c28","order":2,"width":"12","height":"6","label":"Light chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":510,"y":1020,"wires":[[],[]]},{"id":"cbf3bc91.a9e028","type":"ui_button","z":"fd1f9f53.46937","name":"","group":"4e2cd84b.024548","order":2,"width":0,"height":0,"passthru":false,"label":"Warning ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":110,"y":560,"wires":[["3ab95f53.7c948"]]},{"id":"651b667a.e1248","type":"ui_button","z":"fd1f9f53.46937","name":"","group":"4e2cd84b.024548","order":2,"width":0,"height":0,"passthru":false,"label":"Warning OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":120,"y":600,"wires":[["3ab95f53.7c948"]]},{"id":"3ab95f53.7c948","type":"mqtt out","z":"fd1f9f53.46937","name":"","topic":"entrance/warning","qos":"","retain":"","broker":"e67c6dfd.2c6b98","x":390,"y":580,"wires":[]},{"id":"4ac36ba7.8bf0ec","type":"switch","z":"bf97828f.e0d5","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"has_finished","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1050,"y":720,"wires":[["1f113c19.9a5364"],["1b6ae8b0.65b627","4cd7e9b3.ddd588","ac787a8c.502568","ece832a8.c99bd"]],"outputLabels":["","message.topic = "]},{"id":"27b6e8d4.f5ffc","type":"ui_chart","z":"bf97828f.e0d5","name":"Washmachine graph","group":"4406aa4.a2328d4","order":2,"width":"12","height":"6","label":"Washmachine consumption","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"9000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1120,"y":900,"wires":[[],[]]},{"id":"7be35af1.7c351c","type":"python-function","z":"bf97828f.e0d5","name":"Do_check","func":"import sys\nsys.path.append(os.path.abspath(\"/home/pi/Projects/smart_washmachine\"))\nimport smart_washmachine\n\nstatus = smart_washmachine.check_status()\n\nif(status != 0):\n    msg['topic'] = 'running'\nelse:\n    msg['topic'] = 'has_finished'\n    \nmsg['payload'] = status\n\nreturn msg","outputs":1,"x":900,"y":720,"wires":[["4ac36ba7.8bf0ec","27b6e8d4.f5ffc","4c4069c5.e84c38"]]},{"id":"f05aa3b6.aa445","type":"function","z":"117ae75e.a5f4b9","name":"Set light amount ","func":"\nglobal.set(\"light_amount_livingroom\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1100,"wires":[[]]},{"id":"148f668e.b854e1","type":"function","z":"ebed6492.dd9558","name":"Livingroom lightning","func":"\nmsg.payload = global.get(\"light_amount_livingroom\") || 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":520,"wires":[["7465616.21b242"]]},{"id":"7465616.21b242","type":"switch","z":"ebed6492.dd9558","name":"Light threshold","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":520,"wires":[["e190d33f.e2bd58","d5417207.7c2a7"]]},{"id":"e190d33f.e2bd58","type":"ifttt out","z":"ebed6492.dd9558","eventName":"livingroom_on","key":"dab75ed.980752","x":940,"y":480,"wires":[]},{"id":"d05927ef.6c313","type":"debug","z":"117ae75e.a5f4b9","name":"Received msg: light amount","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":560,"y":860,"wires":[]},{"id":"655e7a2a.e6b76c","type":"json","z":"117ae75e.a5f4b9","name":"Json converter","property":"payload","action":"","pretty":false,"x":260,"y":920,"wires":[["d05927ef.6c313","17307404.62e40c","46673997.207908","f05aa3b6.aa445"]]},{"id":"4c4069c5.e84c38","type":"debug","z":"bf97828f.e0d5","name":"Further checks","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1120,"y":840,"wires":[]},{"id":"23ae531b.65f60c","type":"mqtt in","z":"2159e868.08f748","name":"Cristina presence","topic":"presence_detection/cristina","qos":"2","broker":"e67c6dfd.2c6b98","x":170,"y":480,"wires":[["7d6fd9e5.99b2d8","dd329880.bb98d8"]]},{"id":"7d6fd9e5.99b2d8","type":"function","z":"2159e868.08f748","name":"Set payload Cris","func":"\nvar datetime = new Date()\n\nglobal.set(\"last_detection_cris\", datetime)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":580,"wires":[["a174ad79.3acee"]]},{"id":"e531f37a.06057","type":"inject","z":"2159e868.08f748","name":"Periodical trigger","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":true,"onceDelay":"1","x":150,"y":800,"wires":[["7537c237.da364c","97ff935d.fc163"]]},{"id":"a174ad79.3acee","type":"function","z":"2159e868.08f748","name":"Check payload Cris","func":"var datetime = new Date()\n\nvar last_detection = global.get(\"last_detection_cris\") || 0;\nvar detection_threshold = global.get(\"detection_threshold\") || 0;\n\nvar time_since_last_detection = datetime - last_detection\nnode.error(time_since_last_detection)\n\nif( time_since_last_detection > detection_threshold )\n{\n    msg.payload = false\n    msg.topic = \"Exit: \"\n    global.set(\"presence_cris\",false)\n}\nelse\n{\n    msg.payload = true\n    msg.topic = \"Came: \"\n    global.set(\"presence_cris\",true)\n}\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":640,"wires":[["95381fe2.77e998","4bdf1aa7.04fa2c"]]},{"id":"4bdf1aa7.04fa2c","type":"ui_switch","z":"2159e868.08f748","name":"","label":"Cristina","tooltip":"","group":"c086012c.2407d8","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":830,"y":640,"wires":[[]]},{"id":"97ff935d.fc163","type":"exec","z":"2159e868.08f748","command":"/home/pi/Projects/presence_detection_node/presence_detection_safe","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Test exec python","x":480,"y":1320,"wires":[["9629243a.357b4"],["9629243a.357b4"],[]]},{"id":"9629243a.357b4","type":"debug","z":"2159e868.08f748","name":"Presence detector: Script output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":1320,"wires":[]},{"id":"95381fe2.77e998","type":"switch","z":"2159e868.08f748","name":"Event at change","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":860,"y":580,"wires":[["92173b4.7e4a048"]]},{"id":"8cd3f97a.0ece5","type":"ifttt out","z":"2159e868.08f748","eventName":"cris_at_home","key":"dab75ed.980752","x":1290,"y":440,"wires":[]},{"id":"50736ad7.194944","type":"inject","z":"2159e868.08f748","name":"Triger once at start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":100,"wires":[["ff29f6b0.14a5e"]]},{"id":"ff29f6b0.14a5e","type":"function","z":"2159e868.08f748","name":"Set initial values","func":"\nvar datetime = new Date()\nvar detection_threshold = 120000\n\nglobal.set(\"last_detection_cris\", datetime - detection_threshold)\nglobal.set(\"last_detection_raul\", datetime - detection_threshold)\nglobal.set(\"last_entrance_cris\", datetime - detection_threshold)\nglobal.set(\"last_entrance_raul\", datetime - detection_threshold)\n\nglobal.set(\"presence_raul\",false)\nglobal.set(\"presence_cris\",false)\nglobal.set(\"detection_threshold\", detection_threshold)\n\nglobal.set(\"advertisement_done\",0);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[[]]},{"id":"92173b4.7e4a048","type":"switch","z":"2159e868.08f748","name":"Decide IN/OUT","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":580,"wires":[["8cd3f97a.0ece5","39a494ba.8b5db4","3bd9c0a9.da2f98"],["203ef608.48d912","39a494ba.8b5db4"]]},{"id":"4b889642.5ca4f8","type":"debug","z":"2159e868.08f748","name":"Presence detector: Raul presence msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":340,"wires":[]},{"id":"27e74b14.c15394","type":"mqtt in","z":"2159e868.08f748","name":"Raul presence","topic":"presence_detection/raul","qos":"2","broker":"e67c6dfd.2c6b98","x":170,"y":340,"wires":[["f906dfbd.a19478","4b889642.5ca4f8"]]},{"id":"f906dfbd.a19478","type":"function","z":"2159e868.08f748","name":"Set payload Raul","func":"\nvar datetime = new Date()\n\nglobal.set(\"last_detection_raul\", datetime)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":400,"wires":[["e0f78272.3b36f"]]},{"id":"203ef608.48d912","type":"ifttt out","z":"2159e868.08f748","eventName":"cris_left_home","key":"dab75ed.980752","x":1290,"y":700,"wires":[]},{"id":"39a494ba.8b5db4","type":"ui_text","z":"2159e868.08f748","group":"c086012c.2407d8","order":2,"width":0,"height":0,"name":"Last entrance","label":"{{msg.topic}}","format":"{{msg.timestamp}}","layout":"row-spread","x":1300,"y":580,"wires":[]},{"id":"e0f78272.3b36f","type":"function","z":"2159e868.08f748","name":"Check payload Raul","func":"var datetime = new Date()\n\nvar last_detection = global.get(\"last_detection_raul\") || 0;\nvar detection_threshold = global.get(\"detection_threshold\") || 0;\n\nvar time_since_last_detection = datetime - last_detection\nnode.error(time_since_last_detection)\n\nif( time_since_last_detection > detection_threshold )\n{\n    msg.payload = false\n    msg.topic = \"Exit: \"\n    global.set(\"presence_raul\",false)\n}\nelse\n{\n    msg.payload = true\n    msg.topic = \"Came: \"\n    global.set(\"presence_raul\",true)\n}\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":980,"wires":[["1e715a44.ae3406","c7f2a410.f87d98"]]},{"id":"c7f2a410.f87d98","type":"ui_switch","z":"2159e868.08f748","name":"","label":"Raul","tooltip":"","group":"c086012c.2407d8","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":860,"y":980,"wires":[[]]},{"id":"1e715a44.ae3406","type":"switch","z":"2159e868.08f748","name":"Event at change","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":860,"y":920,"wires":[["4cf56a45.3215e4","ab3cdef8.bd3c38"]]},{"id":"4cf56a45.3215e4","type":"switch","z":"2159e868.08f748","name":"Decide IN/OUT","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":920,"wires":[["3baea57d.279b9a","2cd7df9b.240538"],["2cd7df9b.240538"]]},{"id":"4a73f0eb.a54dc8","type":"ifttt out","z":"2159e868.08f748","eventName":"raul_at_home","key":"59f1345a.5292fc","x":1290,"y":780,"wires":[]},{"id":"d3a72d5d.144ba8","type":"ifttt out","z":"2159e868.08f748","eventName":"raul_left_home","key":"59f1345a.5292fc","x":1290,"y":1040,"wires":[]},{"id":"2cd7df9b.240538","type":"ui_text","z":"2159e868.08f748","group":"c086012c.2407d8","order":4,"width":0,"height":0,"name":"Last entrance","label":"{{msg.topic}}","format":"{{msg.timestamp}}","layout":"row-spread","x":1280,"y":920,"wires":[]},{"id":"e94c5c21.2aa738","type":"mqtt out","z":"117ae75e.a5f4b9","name":"Lamp intensity request","topic":"livingroom_node/light_intensity","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":580,"y":300,"wires":[]},{"id":"714c5b33.9a7d14","type":"mqtt out","z":"117ae75e.a5f4b9","name":"Lamp color request","topic":"livingroom_node/light_color","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":610,"y":100,"wires":[]},{"id":"3baea57d.279b9a","type":"function","z":"2159e868.08f748","name":"Set greet message Raul","func":"var datetime = new Date()\n\nvar detection_threshold = global.get(\"detection_threshold\") || 0;\nvar entrance_detection_time = global.get(\"entrance_detection_time\") || 0;\n\nvar timedif = datetime - entrance_detection_time\n\nnode.error(timedif)\n\nvar new_msg = {payload: \"\", greet: false}\n\n\nif(timedif < detection_threshold)\n{\n    new_msg.greet = true;\n}\n\nglobal.set(\"last_entrance_raul\", datetime)\n\nnew_msg.payload = \" -e hello -p raul\"\n\nreturn new_msg;","outputs":1,"noerr":0,"x":1490,"y":820,"wires":[["754dcbb5.b7d90c","ab3cdef8.bd3c38"]]},{"id":"754dcbb5.b7d90c","type":"switch","z":"2159e868.08f748","name":"Decide to greet","property":"greet","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1730,"y":820,"wires":[["ab3cdef8.bd3c38","70da5525.02f034"]]},{"id":"6747c69a.a341b","type":"switch","z":"ebed6492.dd9558","name":"Greet Raul","property":"greet_raul","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":780,"wires":[["cce373dc.a3d11"]]},{"id":"e99de301.15d258","type":"exec","z":"ebed6492.dd9558","command":"xset -display :0 dpms force on","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Activate display","x":680,"y":260,"wires":[[],[],[]]},{"id":"db81b180.12ebe8","type":"delay","z":"ebed6492.dd9558","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":260,"wires":[["e99de301.15d258"]]},{"id":"803e423d.d06828","type":"switch","z":"2159e868.08f748","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":1320,"wires":[["97ff935d.fc163"]]},{"id":"f53b4f52.67e86","type":"debug","z":"ebed6492.dd9558","name":"Entrance detected msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":520,"y":340,"wires":[]},{"id":"5ab38fbc.273dd","type":"switch","z":"2159e868.08f748","name":"Decide to greet","property":"greet","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1730,"y":500,"wires":[["70da5525.02f034"]]},{"id":"3bd9c0a9.da2f98","type":"function","z":"2159e868.08f748","name":"Set greet message Cris","func":"var datetime = new Date()\n\nvar detection_threshold = global.get(\"detection_threshold\") || 0;\nvar entrance_detection_time = global.get(\"entrance_detection_time\") || 0;\n\nvar timedif = datetime - entrance_detection_time\n\nvar new_msg = {payload: \"\", greet: false}\n\n\nif(timedif < detection_threshold)\n{\n    new_msg.greet = true;\n}\n\nglobal.set(\"last_entrance_cris\", datetime)\n\n\nnew_msg.payload = \" -e hello -p cris \"\n\n\nreturn new_msg;","outputs":1,"noerr":0,"x":1510,"y":500,"wires":[["5ab38fbc.273dd"]]},{"id":"c398ba15.9f2f2","type":"inject","z":"474b74d5.8d1c2c","name":"Periodical trigger","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"1","x":130,"y":520,"wires":[["3e3075e8.5acb3a"]]},{"id":"1ada0611.9932ea","type":"function","z":"474b74d5.8d1c2c","name":"Set flow temperature variable","func":"\nflow.set(\"current_temperature\", msg.payload)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":40,"wires":[[]]},{"id":"20a2754e.2bab2a","type":"debug","z":"117ae75e.a5f4b9","name":"Livingroom: humidity msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":640,"wires":[]},{"id":"680b43a5.2dd734","type":"function","z":"117ae75e.a5f4b9","name":"Parse message","func":"\nmsg = {payload:\n      {\n        req:msg.payload\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["d9336c96.4edb88"]]},{"id":"25695241.b6e586","type":"function","z":"117ae75e.a5f4b9","name":"Parse message","func":"\nmsg = {payload:\n      {\n        req:msg.payload\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":300,"wires":[["e94c5c21.2aa738"]]},{"id":"d5417207.7c2a7","type":"function","z":"ebed6492.dd9558","name":"Generate lamp message","func":"\nmsg = {payload:\n      {\n        req:1\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":560,"wires":[["f8f85077.00b9f"]]},{"id":"f8f85077.00b9f","type":"mqtt out","z":"ebed6492.dd9558","name":"Lamp state request","topic":"livingroom_node/light_state","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":1230,"y":560,"wires":[]},{"id":"e5703fdc.bf47b","type":"function","z":"bf97828f.e0d5","name":"Parse message. Switch ON","func":"\nmsg = {payload:\n      {\n        req:1\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":840,"wires":[["4a594d6.64fb9b4"]]},{"id":"4a594d6.64fb9b4","type":"mqtt out","z":"bf97828f.e0d5","name":"Lamp state request","topic":"livingroom_node/light_state","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":650,"y":840,"wires":[]},{"id":"afd09a9c.5ab258","type":"function","z":"bf97828f.e0d5","name":"Parse message. Blue light","func":"\nmsg = {payload:\n      {\n        r:0,\n        g:0,\n        b:255\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":900,"wires":[["18e6ef68.0e8281","1f113c19.9a5364"]]},{"id":"18e6ef68.0e8281","type":"mqtt out","z":"bf97828f.e0d5","name":"Lamp color request","topic":"livingroom_node/light_color","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":650,"y":900,"wires":[]},{"id":"3b6ee168.bf286e","type":"delay","z":"bf97828f.e0d5","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":900,"wires":[["afd09a9c.5ab258"]]},{"id":"1b6ae8b0.65b627","type":"function","z":"bf97828f.e0d5","name":"Parse message. Red light","func":"\nmsg = {payload:\n      {\n        r:255,\n        g:0,\n        b:0\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":720,"wires":[["f6543187.cd9e"]]},{"id":"f6543187.cd9e","type":"mqtt out","z":"bf97828f.e0d5","name":"Lamp color request","topic":"livingroom_node/light_color","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":1530,"y":720,"wires":[]},{"id":"ac787a8c.502568","type":"ifttt out","z":"bf97828f.e0d5","eventName":"washmachine_finished","key":"dab75ed.980752","x":1550,"y":800,"wires":[]},{"id":"81124780.ffe058","type":"ui_text","z":"1b65d287.8b524d","group":"fc022518.d7bc5","order":2,"width":0,"height":0,"name":"Last message","label":"Last msg received","format":"{{msg.timestamp}}","layout":"row-spread","x":760,"y":240,"wires":[]},{"id":"60d7a150.b2922","type":"function","z":"1b65d287.8b524d","name":"Set payload","func":"var datetime = new Date()\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nvar count = flow.get(\"num_messages\") || 0;\n\n\nmsg.payload = count + 1\n\nflow.set(\"num_messages\",msg.payload)\n\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":240,"wires":[["81124780.ffe058","a21e7dfb.30781"]]},{"id":"5bce80bf.404458","type":"mqtt in","z":"1b65d287.8b524d","name":"Door status","topic":"test_node/alive_check","qos":"2","broker":"e67c6dfd.2c6b98","x":290,"y":300,"wires":[["e93a6d82.08b85","60d7a150.b2922"]]},{"id":"e93a6d82.08b85","type":"debug","z":"1b65d287.8b524d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":360,"wires":[]},{"id":"a21e7dfb.30781","type":"ui_text","z":"1b65d287.8b524d","group":"fc022518.d7bc5","order":3,"width":0,"height":0,"name":"Num messages","label":"Num messages","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":300,"wires":[]},{"id":"6bb8364c.d444b","type":"inject","z":"1b65d287.8b524d","name":"Triger once at start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":330,"y":480,"wires":[["d6b4a310.31a3c","b24a3b4f.300408"]]},{"id":"d6b4a310.31a3c","type":"function","z":"1b65d287.8b524d","name":"Set initial values","func":"\nflow.set(\"num_messages\",0);\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":480,"wires":[["60d7a150.b2922"]]},{"id":"86f6fd1c.b34688","type":"ui_button","z":"1b65d287.8b524d","name":"Reset","group":"fc022518.d7bc5","order":4,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"remove_circle","payload":"-1","payloadType":"num","topic":"","x":290,"y":580,"wires":[["d6b4a310.31a3c","b24a3b4f.300408"]]},{"id":"b9b7d351.746f1","type":"mqtt in","z":"474b74d5.8d1c2c","name":"Door status","topic":"attic_node/door_status","qos":"2","broker":"e67c6dfd.2c6b98","x":140,"y":1080,"wires":[["389fa415.2c9c14","7f2524e0.3ee86c","80fc9511.8371b8"]]},{"id":"7f2524e0.3ee86c","type":"switch","z":"474b74d5.8d1c2c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":1000,"wires":[["f0e68611.aada","69302bb7.907d8c","3a1c218c.52f42e"],["fa2cdda.048aa2","f291f4b3.18162"]]},{"id":"f0e68611.aada","type":"function","z":"474b74d5.8d1c2c","name":"Get light amount","func":"\nmsg.payload = flow.get(\"light_amount_attic\") || 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":900,"wires":[["a83c212e.c3bfb","a1ebe83e.9fa508"]]},{"id":"a1ebe83e.9fa508","type":"debug","z":"474b74d5.8d1c2c","name":"Computed payload: light amount","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":880,"wires":[]},{"id":"a83c212e.c3bfb","type":"switch","z":"474b74d5.8d1c2c","name":"Switch lights ON","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":940,"wires":[["27a79364.f1ee04","80e98b96.f73bd8"]]},{"id":"27a79364.f1ee04","type":"ifttt out","z":"474b74d5.8d1c2c","eventName":"attic_light_on","key":"dab75ed.980752","x":1210,"y":960,"wires":[]},{"id":"389fa415.2c9c14","type":"function","z":"474b74d5.8d1c2c","name":"Set payload","func":"\n\nif(msg.payload == \"1\") msg.payload = \"CLOSED\"\nelse if(msg.payload == \"0\") msg.payload = \"OPEN\"\nelse msg.payload = \"ERROR\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1220,"wires":[["3ff225e1.4285ea"]]},{"id":"3ff225e1.4285ea","type":"ui_switch","z":"474b74d5.8d1c2c","name":"Door UI","label":"Door Status","tooltip":"","group":"f933085d.8cad7","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"OPEN","onvalueType":"str","onicon":"","oncolor":"","offvalue":"CLOSED","offvalueType":"str","officon":"","offcolor":"","x":720,"y":1220,"wires":[[]]},{"id":"80fc9511.8371b8","type":"debug","z":"474b74d5.8d1c2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":1280,"wires":[]},{"id":"40cde5b6.6afc2c","type":"mqtt in","z":"474b74d5.8d1c2c","name":"Light amount","topic":"attic_node/light","qos":"2","broker":"e67c6dfd.2c6b98","x":130,"y":1440,"wires":[["9d36233a.e5b7d8"]]},{"id":"9d36233a.e5b7d8","type":"json","z":"474b74d5.8d1c2c","name":"Json converter","property":"payload","action":"","pretty":false,"x":320,"y":1440,"wires":[["e9086c.e03b8f98","3ac98cc6.48cac4","6b42f25a.ef459c","92ffcb25.dd0258"]]},{"id":"3ac98cc6.48cac4","type":"ui_gauge","z":"474b74d5.8d1c2c","name":"Light amount","group":"f933085d.8cad7","order":1,"width":"4","height":"3","gtype":"wave","title":"Light amount","label":"Lx","format":"{{value}}","min":0,"max":"5000","colors":["#50b500","#e6df00","#ca3838"],"seg1":"","seg2":"","x":570,"y":1440,"wires":[]},{"id":"e9086c.e03b8f98","type":"debug","z":"474b74d5.8d1c2c","name":"Received msg: light amount","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":620,"y":1380,"wires":[]},{"id":"6b42f25a.ef459c","type":"function","z":"474b74d5.8d1c2c","name":"Set light amount ","func":"\nflow.set(\"light_amount_attic\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1640,"wires":[[]]},{"id":"fa2cdda.048aa2","type":"ifttt out","z":"474b74d5.8d1c2c","eventName":"attic_light_off","key":"dab75ed.980752","x":530,"y":1160,"wires":[]},{"id":"66301bf4.a20ba4","type":"mqtt in","z":"ebed6492.dd9558","name":"Exit detected","topic":"entrance_node/exit_detected","qos":"2","broker":"e67c6dfd.2c6b98","x":270,"y":1040,"wires":[["a6093774.479a68","6c35e958.3fd8f"]]},{"id":"672ff9fc.aedb88","type":"inject","z":"ebed6492.dd9558","name":"Triger once at start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":60,"wires":[["497dbc37.43a664","420e4ed9.762a"]]},{"id":"497dbc37.43a664","type":"function","z":"ebed6492.dd9558","name":"Set initial values","func":"\nglobal.set(\"entrance_detection_time\",0);\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":60,"wires":[[]]},{"id":"420e4ed9.762a","type":"exec","z":"ebed6492.dd9558","command":"/home/pi/Projects/configure_wakeup.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Setup display","x":450,"y":140,"wires":[[],[],[]]},{"id":"6cf44f39.ae3cb","type":"mqtt in","z":"ebed6492.dd9558","name":"Door status","topic":"entrance_node/door_status","qos":"2","broker":"e67c6dfd.2c6b98","x":170,"y":1420,"wires":[["c769c234.0c9c8","6c46fc6e.0263d4"]]},{"id":"c769c234.0c9c8","type":"function","z":"ebed6492.dd9558","name":"Set payload","func":"\n\nif(msg.payload == \"1\") msg.payload = \"CLOSED\"\nelse if(msg.payload == \"0\") msg.payload = \"OPEN\"\nelse msg.payload = \"ERROR\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1420,"wires":[["9d98466c.6da4e8"]]},{"id":"9d98466c.6da4e8","type":"ui_switch","z":"ebed6492.dd9558","name":"Door UI","label":"Door Status","tooltip":"","group":"7c5067fd.67b7d8","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"OPEN","onvalueType":"str","onicon":"","oncolor":"","offvalue":"CLOSED","offvalueType":"str","officon":"","offcolor":"","x":740,"y":1420,"wires":[[]]},{"id":"6c46fc6e.0263d4","type":"debug","z":"ebed6492.dd9558","name":"Door status msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":380,"y":1500,"wires":[]},{"id":"cce373dc.a3d11","type":"function","z":"ebed6492.dd9558","name":"Create greet command Raul","func":"\nmsg.payload = \" -e hello -p raul\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":780,"wires":[["deac84a9.4d6a"]]},{"id":"a6093774.479a68","type":"debug","z":"ebed6492.dd9558","name":"Exit detected msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":230,"y":1120,"wires":[]},{"id":"68a6b468.0c3afc","type":"mqtt in","z":"ebed6492.dd9558","name":"Pressure detected","topic":"entrance_node/pressure_detected","qos":"2","broker":"e67c6dfd.2c6b98","x":230,"y":1960,"wires":[["f66468fa.103f2"]]},{"id":"f66468fa.103f2","type":"debug","z":"ebed6492.dd9558","name":"Pressure detected msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":1960,"wires":[]},{"id":"1c92f1f0.1a2706","type":"ui_text","z":"1b65d287.8b524d","group":"fc022518.d7bc5","order":1,"width":0,"height":0,"name":"First message","label":"First msg received","format":"{{msg.timestamp}}","layout":"row-spread","x":760,"y":580,"wires":[]},{"id":"b24a3b4f.300408","type":"function","z":"1b65d287.8b524d","name":"Set payload","func":"var datetime = new Date()\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nvar count = flow.get(\"num_messages\") || 0;\n\n\nmsg.payload = count + 1\n\nflow.set(\"num_messages\",msg.payload)\n\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":580,"wires":[["1c92f1f0.1a2706"]]},{"id":"9b2fee55.40d438","type":"function","z":"ebed6492.dd9558","name":"Check presence detection","func":"var datetime = new Date();\n\nvar greeting_done = global.get(\"advertisement_done\") || 0;\nvar last_detection_raul = global.get(\"last_detection_raul\") || 0;\nvar last_detection_cris = global.get(\"last_detection_cris\") || 0;\nvar detection_threshold = global.get(\"detection_threshold\") || 0;\n\nvar timedif_raul = datetime - last_detection_raul;\nvar timedif_cris = datetime - last_detection_cris;\n\nvar new_msg = {payload: \"\", greet_raul: false, greet_cris: false}\n\n\nif(timedif_raul < detection_threshold)\n{\n    new_msg.greet_raul = true;\n}\n\nif(timedef_cris < detection_threshold)\n{\n    new_msg.greet_cris = true;\n}\n\nmsg.timestamp = 0\n\nif(greeting_done)\n{\n    global.set(\"advertisement_done\",0)\n    node.error(\"Greeting done: Entrance\")\n}\n\nelse\n{\n    if(timedif < 60000)\n    {\n        msg.timestamp = 1\n        global.set(\"advertisement_done\",1)\n        node.error(\"Doing advertisement: Entrance\")\n    }\n    else\n    {\n        node.error(\"Timedif too large: Entrance\")\n    }\n}\n\n\nglobal.set(\"entrance_detection_time\", datetime)\n\n\nmsg.payload = \"Bienvenido a casa Raúl. Tù dime un nombre, el que quieras, y yo lo mato por tí. \"\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":620,"wires":[[]]},{"id":"c1efedcc.2e5b2","type":"switch","z":"ebed6492.dd9558","name":"Greet Cris","property":"greet_cris","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":900,"wires":[["b68eff01.757ce8"]]},{"id":"b68eff01.757ce8","type":"function","z":"ebed6492.dd9558","name":"Create greet command Cris","func":"\nmsg.payload = \" -e hello -p cris\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":900,"wires":[["deac84a9.4d6a"]]},{"id":"6c35e958.3fd8f","type":"function","z":"ebed6492.dd9558","name":"Check presence status","func":"var datetime = new Date();\n\nvar presence_raul = global.get(\"presence_raul\") || 0;\nvar presence_cris = global.get(\"presence_cris\") || 0;\n\n\nvar new_msg = {payload: \"\", farewell_type: \"GENERIC\"}\n\n\nif( (presence_raul==true && presence_cris==true) || (presence_raul==false && presence_cris==false) )\n{\n    new_msg.farewell_type = \"GENERIC\"\n}\n\nelse if( presence_raul==true && presence_cris==false )\n{\n    new_msg.farewell_type = \"RAUL\"\n}\n\nelse\n{\n    new_msg.farewell_type = \"CRIS\"\n}\n\n\nreturn new_msg;","outputs":1,"noerr":0,"x":540,"y":1040,"wires":[["401b534e.7af5a4","4053ffa2.6d4c78"]]},{"id":"401b534e.7af5a4","type":"switch","z":"ebed6492.dd9558","name":"Select farewell type","property":"farewell_type","propertyType":"msg","rules":[{"t":"eq","v":"GENERIC","vt":"str"},{"t":"eq","v":"CRIS","vt":"str"},{"t":"eq","v":"RAUL","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":770,"y":1040,"wires":[["777b6dd9.0192cc"],["120f8e62.a6f0da"],["9e2b0674.9d7718"]]},{"id":"777b6dd9.0192cc","type":"function","z":"ebed6492.dd9558","name":"Create goodbye command generic","func":"\nmsg.payload = \" -e goodbye -p generic\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":980,"wires":[["deac84a9.4d6a"]]},{"id":"120f8e62.a6f0da","type":"function","z":"ebed6492.dd9558","name":"Create goodbye command Cris","func":"\nmsg.payload = \" -e goodbye -p cris\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1040,"wires":[["deac84a9.4d6a"]]},{"id":"9e2b0674.9d7718","type":"function","z":"ebed6492.dd9558","name":"Create goodbye command Raul","func":"\nmsg.payload = \" -e goodbye -p raul\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1100,"wires":[["deac84a9.4d6a"]]},{"id":"d1abd7bb.a7ff78","type":"mqtt in","z":"2159e868.08f748","name":"Entrance detected","topic":"entrance_node/entrance_detected","qos":"2","broker":"e67c6dfd.2c6b98","x":80,"y":1320,"wires":[["803e423d.d06828","e3a8cc4b.28196"]]},{"id":"ab3cdef8.bd3c38","type":"debug","z":"2159e868.08f748","name":"Presence detector: Cristina presence msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2060,"y":960,"wires":[]},{"id":"4053ffa2.6d4c78","type":"debug","z":"ebed6492.dd9558","name":"Exit detected msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":1180,"wires":[]},{"id":"e3a8cc4b.28196","type":"delay","z":"2159e868.08f748","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":940,"wires":[["a174ad79.3acee","e0f78272.3b36f"]]},{"id":"7537c237.da364c","type":"delay","z":"2159e868.08f748","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":800,"wires":[["a174ad79.3acee","e0f78272.3b36f"]]},{"id":"2bbb5601.618a22","type":"switch","z":"ebed6492.dd9558","name":"Greet Generic","property":"greet_generic","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":660,"wires":[["4727fe80.14bbe"]]},{"id":"4727fe80.14bbe","type":"function","z":"ebed6492.dd9558","name":"Create greet command Generic","func":"\nmsg.payload = \" -e hello -p generic\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":660,"wires":[["deac84a9.4d6a"]]},{"id":"70da5525.02f034","type":"exec","z":"2159e868.08f748","command":"/home/pi/Projects/audio_node/audio_node_offline","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2060,"y":680,"wires":[[],[],[]]},{"id":"69302bb7.907d8c","type":"function","z":"474b74d5.8d1c2c","name":"Create attic open command","func":"\nmsg.payload = \" -t \\\"Puerta del ático abierta\\\"\"\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":960,"wires":[["ed44b118.d7267"]]},{"id":"f291f4b3.18162","type":"function","z":"474b74d5.8d1c2c","name":"Create attic closed command","func":"\n\nmsg.payload = \" -t \\\"Puerta del ático cerrada\\\"\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1080,"wires":[["ed44b118.d7267"]]},{"id":"ed44b118.d7267","type":"exec","z":"474b74d5.8d1c2c","command":"/home/pi/Projects/audio_node/audio_node_offline","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1430,"y":1160,"wires":[[],[],[]]},{"id":"ece832a8.c99bd","type":"function","z":"bf97828f.e0d5","name":"Create washmachine finished command","func":"\nmsg.payload = \" -t \\\"La lavadora ha terminado\\\"\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":880,"wires":[["4b19cd74.df786c"]]},{"id":"4b19cd74.df786c","type":"exec","z":"bf97828f.e0d5","command":"/home/pi/Projects/audio_node/audio_node_offline","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1980,"y":880,"wires":[[],[],[]]},{"id":"80e98b96.f73bd8","type":"function","z":"474b74d5.8d1c2c","name":"Create attic light command","func":"\nmsg.payload = \" -t \\\"Hay poca luz en el ático. Encendiendo luces\\\"\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":1040,"wires":[["ed44b118.d7267"]]},{"id":"92ffcb25.dd0258","type":"ui_chart","z":"474b74d5.8d1c2c","name":"Light  graph","group":"fb91ed0a.105588","order":2,"width":"12","height":"6","label":"Light chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":570,"y":1540,"wires":[[],[]]},{"id":"3a1c218c.52f42e","type":"function","z":"474b74d5.8d1c2c","name":"Create attic temperature command","func":"var temperature = flow.get(\"current_temperature\") || 0;;\n\n\n\nmsg.payload = \" -t \\\"La temperatura del ático es de \"\nmsg.payload += temperature\nmsg.payload += \" grados \\\"\"\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1020,"wires":[["ed44b118.d7267"]]},{"id":"66b28c1d.9b13c4","type":"ui_button","z":"fd1f9f53.46937","name":"","group":"4e2cd84b.024548","order":2,"width":0,"height":0,"passthru":false,"label":"Generate messages","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":460,"wires":[["aa565f42.c607f"]]},{"id":"aa565f42.c607f","type":"exec","z":"fd1f9f53.46937","command":"/home/pi/Projects/audio_node/audio_node_offline -d","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":460,"wires":[[],[],[]]}]
