nodered_nodes.txt
[{"id":"bf97828f.e0d5","type":"tab","label":"Washmachine State Machine ","disabled":false,"info":""},{"id":"822cb4b.5d3f748","type":"tab","label":"MQTT example","disabled":true,"info":""},{"id":"42d52646.036d7","type":"tab","label":"IFTTT example","disabled":true,"info":""},{"id":"ebed6492.dd9558","type":"tab","label":"Entrance node","disabled":false,"info":""},{"id":"117ae75e.a5f4b9","type":"tab","label":"Livingroom node","disabled":false,"info":""},{"id":"d2264f24.ef7248","type":"tab","label":"Kitchen node","disabled":true,"info":""},{"id":"474b74d5.8d1c2c","type":"tab","label":"Attic node","disabled":false,"info":""},{"id":"2159e868.08f748","type":"tab","label":"Presence detection","disabled":false,"info":""},{"id":"fd1f9f53.46937","type":"tab","label":"Test","disabled":false,"info":""},{"id":"e42a2991.9f1c6","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"e67c6dfd.2c6b98","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e2cd84b.024548","type":"ui_group","z":"","name":"Default","tab":"def1e8e5.bb4f18","disp":true,"width":"6","collapse":false},{"id":"9a2a32a2.fb4ce","type":"ui_tab","z":"","name":"House control","icon":"dashboard"},{"id":"cc52bacb.554398","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"def1e8e5.bb4f18","type":"ui_tab","z":"","name":"IFTTT","icon":"dashboard"},{"id":"fc022518.d7bc5","type":"ui_group","z":"","name":"Entrance","tab":"9a2a32a2.fb4ce","disp":true,"width":"6","collapse":false},{"id":"f933085d.8cad7","type":"ui_group","z":"","name":"Attic","tab":"9a2a32a2.fb4ce","disp":true,"width":"6","collapse":false},{"id":"addbf546.caf608","type":"ui_group","z":"","name":"Kitchen","tab":"9a2a32a2.fb4ce","disp":true,"width":"6","collapse":false},{"id":"22dbe042.537a68","type":"ui_tab","z":"","name":"Graphs","icon":"dashboard"},{"id":"fb91ed0a.105588","type":"ui_group","z":"","name":"Attic","tab":"22dbe042.537a68","disp":true,"width":"20","collapse":false},{"id":"66bb6238.405dac","type":"ui_group","z":"","name":"Livingroom","tab":"9a2a32a2.fb4ce","disp":true,"width":"6","collapse":false},{"id":"e70be721.600c28","type":"ui_group","z":"","name":"Livingroom","tab":"22dbe042.537a68","disp":true,"width":"20","collapse":false},{"id":"4406aa4.a2328d4","type":"ui_group","z":"","name":"Washmachine","tab":"22dbe042.537a68","disp":true,"width":"14","collapse":false},{"id":"c086012c.2407d8","type":"ui_group","z":"","name":"Who is at home?","tab":"9a2a32a2.fb4ce","disp":true,"width":"6","collapse":false},{"id":"59f1345a.5292fc","type":"ifttt-key","z":""},{"id":"dab75ed.980752","type":"ifttt-key","z":""},{"id":"9b642380.8c60a8","type":"inject","z":"bf97828f.e0d5","name":"On start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":120,"y":380,"wires":[["cf776694.43487"]]},{"id":"cf776694.43487","type":"delay","z":"bf97828f.e0d5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":380,"wires":[["4cd7e9b3.ddd588"]]},{"id":"4cd7e9b3.ddd588","type":"state-machine","z":"bf97828f.e0d5","name":"SM","triggerProperty":"topic","triggerPropertyType":"msg","stateProperty":"topic","statePropertyType":"msg","outputStateChangeOnly":false,"throwException":false,"states":["start","iddle","running"],"transitions":[{"name":"has_not_started","from":"start","to":"iddle"},{"name":"has_started","from":"iddle","to":"running"},{"name":"has_finished","from":"running","to":"iddle"},{"name":"has_not_started","from":"iddle","to":"iddle"},{"name":"has_started","from":"start","to":"running"}],"x":370,"y":480,"wires":[["d970580f.ec40f8"]]},{"id":"b2eee6a3.928608","type":"python-function","z":"bf97828f.e0d5","name":"Do_check","func":"import sys\nsys.path.append(os.path.abspath(\"/home/pi/Projects/smart_washmachine\"))\nimport smart_washmachine\n\nstatus = smart_washmachine.check_status()\n\nif(status > 0):\n    msg['topic'] = 'has_started'\nelse:\n    msg['topic'] = 'has_not_started'\n    \nmsg['payload'] = status\n\nreturn msg","outputs":1,"x":840,"y":600,"wires":[["4cd7e9b3.ddd588","c3d0e935.39ea2","27b6e8d4.f5ffc"]]},{"id":"d970580f.ec40f8","type":"switch","z":"bf97828f.e0d5","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"running","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":310,"y":680,"wires":[["47ca3573.cd0514"],["ecb9069c.3d9138"]],"outputLabels":["","message.topic = "]},{"id":"47ca3573.cd0514","type":"delay","z":"bf97828f.e0d5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":600,"wires":[["b2eee6a3.928608"]]},{"id":"ecb9069c.3d9138","type":"http request","z":"bf97828f.e0d5","name":"Set_light_blue","method":"GET","ret":"txt","url":"http://192.168.2.104/LEDOn","tls":"","x":500,"y":720,"wires":[["1f113c19.9a5364"]]},{"id":"c0d9050c.dfb5e8","type":"http request","z":"bf97828f.e0d5","name":"Set_light_red","method":"GET","ret":"txt","url":"http://192.168.2.104/LEDOff","tls":"","x":1220,"y":780,"wires":[["4cd7e9b3.ddd588"]]},{"id":"c3d0e935.39ea2","type":"debug","z":"bf97828f.e0d5","name":"First check","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":800,"y":460,"wires":[]},{"id":"92a92492.525cf8","type":"mqtt out","z":"822cb4b.5d3f748","name":"OutputTest","topic":"test/subtest_2","qos":"1","retain":"","broker":"e67c6dfd.2c6b98","x":750,"y":160,"wires":[]},{"id":"25d48da9.33d912","type":"mqtt in","z":"822cb4b.5d3f748","name":"InputTest","topic":"test/subtest_1","qos":"2","broker":"e67c6dfd.2c6b98","x":230,"y":160,"wires":[["7bb0987d.6d83a8","ff8da6a0.12d138"]]},{"id":"7bb0987d.6d83a8","type":"debug","z":"822cb4b.5d3f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":480,"wires":[]},{"id":"dd849cbf.0ce8e8","type":"ifttt out","z":"42d52646.036d7","eventName":"test_nodered","key":"dab75ed.980752","x":780,"y":280,"wires":[]},{"id":"cc1344b3.c68bb","type":"ui_button","z":"42d52646.036d7","name":"","group":"4e2cd84b.024548","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"value1\":\"hello\"}","payloadType":"json","topic":"","x":290,"y":280,"wires":[["dd849cbf.0ce8e8","249c1478.b102dc"]]},{"id":"249c1478.b102dc","type":"debug","z":"42d52646.036d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":400,"wires":[]},{"id":"56772d00.581094","type":"ui_text_input","z":"42d52646.036d7","name":"","label":"","tooltip":"","group":"4e2cd84b.024548","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":140,"y":400,"wires":[["5c723bb0.88e8e4"]]},{"id":"5c723bb0.88e8e4","type":"function","z":"42d52646.036d7","name":"Conversion de formato","func":"\nmsg = {\"payload\": {\"value1\": msg.payload}}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["249c1478.b102dc","dd849cbf.0ce8e8"]]},{"id":"ff8da6a0.12d138","type":"function","z":"822cb4b.5d3f748","name":"","func":"\nif(msg.payload = 1) msg.payload = 2\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["92a92492.525cf8"]]},{"id":"4e0c77b8.37f488","type":"mqtt in","z":"ebed6492.dd9558","name":"Entrance detected","topic":"entrance_node/entrance_detected","qos":"2","broker":"e67c6dfd.2c6b98","x":250,"y":360,"wires":[["f7d969d2.06f208"]]},{"id":"cfea4fa8.842b4","type":"mqtt in","z":"ebed6492.dd9558","name":"Door status","topic":"entrance_node/door_status","qos":"2","broker":"e67c6dfd.2c6b98","x":250,"y":440,"wires":[["f41b9883.d1e93"]]},{"id":"adc061d9.ac9e6","type":"function","z":"ebed6492.dd9558","name":"Set payload","func":"var datetime = new Date()\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nmsg = {\"payload\": {\"state\": \"ON_LIGHT\",\n                   \"color\": 0,\n                   \"R\": 0,\n                   \"G\": 0,\n                   \"B\": 0}}\n\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["c1d0b6ff.c2b578","148f668e.b854e1"]]},{"id":"e1fb7af9.7fb5c8","type":"debug","z":"ebed6492.dd9558","name":"Door status debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":640,"wires":[]},{"id":"f41b9883.d1e93","type":"function","z":"ebed6492.dd9558","name":"Set payload","func":"\n\nif(msg.payload == \"1\") msg.payload = \"CLOSED\"\nelse if(msg.payload == \"0\") msg.payload = \"OPEN\"\nelse msg.payload = \"ERROR\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":440,"wires":[["7959aae0.646ad4"]]},{"id":"7959aae0.646ad4","type":"ui_switch","z":"ebed6492.dd9558","name":"Door UI","label":"Door Status","tooltip":"","group":"fc022518.d7bc5","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"OPEN","onvalueType":"str","onicon":"","oncolor":"","offvalue":"CLOSED","offvalueType":"str","officon":"","offcolor":"","x":820,"y":440,"wires":[[]]},{"id":"c1d0b6ff.c2b578","type":"ui_text","z":"ebed6492.dd9558","group":"fc022518.d7bc5","order":2,"width":0,"height":0,"name":"Last entrance","label":"Last entrance","format":"{{msg.timestamp}}","layout":"row-spread","x":800,"y":300,"wires":[]},{"id":"f7d969d2.06f208","type":"switch","z":"ebed6492.dd9558","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":360,"wires":[["adc061d9.ac9e6","9ec1170f.11f26"]]},{"id":"25094538.5b995a","type":"mqtt in","z":"fd1f9f53.46937","name":"","topic":"livingroom_node/light","qos":"2","broker":"e67c6dfd.2c6b98","x":100,"y":140,"wires":[["313793e.b8a9d6c"]]},{"id":"c19dedd3.d096a","type":"debug","z":"fd1f9f53.46937","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":60,"wires":[]},{"id":"6b72b093.60d288","type":"debug","z":"ebed6492.dd9558","name":"Last entrance","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"timestamp","x":800,"y":260,"wires":[]},{"id":"c0e04565.92ebc","type":"function","z":"fd1f9f53.46937","name":"Function","func":"\nvar new_msg = {payload: msg.payload.state}\n\n\nreturn new_msg;","outputs":1,"noerr":0,"x":430,"y":240,"wires":[[]]},{"id":"313793e.b8a9d6c","type":"json","z":"fd1f9f53.46937","name":"Json converter","property":"payload","action":"","pretty":false,"x":320,"y":140,"wires":[["c19dedd3.d096a","c0e04565.92ebc"]]},{"id":"d1347eab.d6e29","type":"ui_colour_picker","z":"117ae75e.a5f4b9","name":"","label":"Lamp color","group":"66bb6238.405dac","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":false,"dynOutput":"false","order":7,"width":0,"height":0,"passthru":true,"topic":"","x":130,"y":100,"wires":[["f0a1152e.b88338"]]},{"id":"d9336c96.4edb88","type":"mqtt out","z":"117ae75e.a5f4b9","name":"Lamp state request","topic":"livingroom_node/light","qos":"2","retain":"","broker":"e67c6dfd.2c6b98","x":590,"y":180,"wires":[]},{"id":"282bc68c.6663ea","type":"ui_switch","z":"117ae75e.a5f4b9","name":"","label":"Lamp switch","tooltip":"","group":"66bb6238.405dac","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":130,"y":260,"wires":[["aa6185aa.6196c8"]]},{"id":"f0a1152e.b88338","type":"function","z":"117ae75e.a5f4b9","name":"Parse message","func":"\nmsg = {payload:\n      { state:\"\",\n        color:1,\n        r:msg.payload.r,\n        g:msg.payload.g,\n        b:msg.payload.b\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":100,"wires":[["d9336c96.4edb88","507ec549.9ae4dc"]]},{"id":"507ec549.9ae4dc","type":"debug","z":"117ae75e.a5f4b9","name":"Livingroom: temperature msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":580,"y":300,"wires":[]},{"id":"aa6185aa.6196c8","type":"function","z":"117ae75e.a5f4b9","name":"Parse message","func":"\nmsg = {payload:\n      { state:msg.payload,\n        color:0,\n        r:0,\n        g:0,\n        b:0\n      }}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":260,"wires":[["d9336c96.4edb88","507ec549.9ae4dc"]]},{"id":"f39f5ec6.1fa228","type":"ui_button","z":"117ae75e.a5f4b9","name":"+ Button","group":"66bb6238.405dac","order":6,"width":"2","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"add_circle","payload":"","payloadType":"str","topic":"","x":120,"y":400,"wires":[[]]},{"id":"12009b83.9a0694","type":"ui_button","z":"117ae75e.a5f4b9","name":"- Button","group":"66bb6238.405dac","order":5,"width":"2","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"remove_circle","payload":"","payloadType":"str","topic":"","x":120,"y":440,"wires":[[]]},{"id":"99febe78.752c88","type":"ui_gauge","z":"117ae75e.a5f4b9","name":"Temperature","group":"66bb6238.405dac","order":1,"width":"6","height":"4","gtype":"gage","title":"Temperature","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#50b500","#e6df00","#ca3838"],"seg1":"","seg2":"","x":510,"y":540,"wires":[]},{"id":"97f23e9.3872b4","type":"mqtt in","z":"117ae75e.a5f4b9","name":"Temperature","topic":"livingroom_node/temperature","qos":"2","broker":"e67c6dfd.2c6b98","x":130,"y":540,"wires":[["99febe78.752c88","a76268f2.7063c8","507ec549.9ae4dc"]]},{"id":"a76268f2.7063c8","type":"ui_chart","z":"117ae75e.a5f4b9","name":"Temperature graph","group":"e70be721.600c28","order":2,"width":"20","height":"7","label":"Temperature chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":620,"wires":[[],[]]},{"id":"97e1c1e1.3bf248","type":"ui_text","z":"117ae75e.a5f4b9","group":"66bb6238.405dac","order":4,"width":"2","height":"1","name":"","label":"Bright","format":"","layout":"row-left","x":110,"y":480,"wires":[]},{"id":"4a09d19d.b8c0c","type":"mqtt in","z":"d2264f24.ef7248","name":"Kitchen status","topic":"kitchen_node/status","qos":"2","broker":"e67c6dfd.2c6b98","x":150,"y":180,"wires":[["78177f21.00fb9","ff6600ca.45f5c8","cb116c1a.28c208"]]},{"id":"ff6600ca.45f5c8","type":"function","z":"d2264f24.ef7248","name":"Set payload","func":"var msg_topic;\n\nif(msg.payload == \"1\") msg_topic = \"start\"\nif(msg.payload == \"0\") msg_topic = \"stop\"\n\nmsg = {topic: msg_topic}\n\nvar datetime = Date.now();\n\nglobal.set('start_time',datetime)\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["bd499746.bec8c8","9cbd9fc0.ce5498"]]},{"id":"7a40d2e6.24d72c","type":"ui_text","z":"d2264f24.ef7248","group":"addbf546.caf608","order":2,"width":0,"height":0,"name":"On since","label":"On since","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":260,"wires":[]},{"id":"cb116c1a.28c208","type":"debug","z":"d2264f24.ef7248","name":"Kitchen node: message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":120,"wires":[]},{"id":"78177f21.00fb9","type":"ui_switch","z":"d2264f24.ef7248","name":"Kitchen status","label":"Kitchen status","tooltip":"","group":"addbf546.caf608","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":420,"y":180,"wires":[[]]},{"id":"7875bc7a.d96a2c","type":"ui_button","z":"fd1f9f53.46937","name":"","group":"4e2cd84b.024548","order":2,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Los robots nos hemos hecho con el control de la tierra. Vais a morir todos, humanos","payloadType":"str","topic":"","x":100,"y":380,"wires":[["8d52bc4e.b6e0c"]]},{"id":"8d52bc4e.b6e0c","type":"exec","z":"fd1f9f53.46937","command":"/home/pi/Projects/speech.sh ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":370,"y":400,"wires":[[],[],[]]},{"id":"deac84a9.4d6a","type":"exec","z":"ebed6492.dd9558","command":"/home/pi/Projects/speech.sh ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":840,"y":180,"wires":[[],[],[]]},{"id":"9ec1170f.11f26","type":"function","z":"ebed6492.dd9558","name":"Set voice command","func":"msg.payload = \"Bienvenido a casa\"\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":180,"wires":[["deac84a9.4d6a"]]},{"id":"bd499746.bec8c8","type":"state-machine","z":"d2264f24.ef7248","name":"SM","triggerProperty":"topic","triggerPropertyType":"msg","stateProperty":"topic","statePropertyType":"msg","outputStateChangeOnly":false,"throwException":false,"states":["off","on"],"transitions":[{"name":"start","from":"off","to":"on"},{"name":"stop","from":"on","to":"off"},{"name":"continue","from":"on","to":"on"},{"name":"continue","from":"off","to":"off"}],"x":610,"y":260,"wires":[["b18bc99f.41133"]]},{"id":"b18bc99f.41133","type":"switch","z":"d2264f24.ef7248","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":770,"y":260,"wires":[["f5f850bc.daa538"],["4d38936b.4a5c4c"]],"outputLabels":["message.topic = ",""]},{"id":"f5f850bc.daa538","type":"function","z":"d2264f24.ef7248","name":"Set payload","func":"var count_seconds = \"-\"\n\nmsg = {payload: count_seconds}\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":220,"wires":[["7a40d2e6.24d72c"]]},{"id":"4d38936b.4a5c4c","type":"function","z":"d2264f24.ef7248","name":"Set payload","func":"var datetime = Date.now();\nvar datetime_old = global.get('start_time') || 0;\nvar ellapsed_time = datetime - datetime_old\n\nvar seconds = parseInt(ellapsed_time / 1000)\n\n\nmsg = {payload: seconds, topic: \"continue\"}\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":340,"wires":[["7a40d2e6.24d72c","edb92455.35be38","9cbd9fc0.ce5498"]]},{"id":"edb92455.35be38","type":"delay","z":"d2264f24.ef7248","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":420,"wires":[["bd499746.bec8c8"]]},{"id":"9cbd9fc0.ce5498","type":"debug","z":"d2264f24.ef7248","name":"Kitchen node: payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":520,"wires":[]},{"id":"1f113c19.9a5364","type":"delay","z":"bf97828f.e0d5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":720,"wires":[["7be35af1.7c351c"]]},{"id":"872d79b2.450c6","type":"ui_gauge","z":"117ae75e.a5f4b9","name":"Humidity","group":"66bb6238.405dac","order":1,"width":"6","height":"4","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#50b500","#e6df00","#ca3838"],"seg1":"","seg2":"","x":500,"y":700,"wires":[]},{"id":"350e6f41.2f4d18","type":"mqtt in","z":"117ae75e.a5f4b9","name":"Humidity","topic":"livingroom_node/humidity","qos":"2","broker":"e67c6dfd.2c6b98","x":120,"y":700,"wires":[["872d79b2.450c6","f50ae8de.008998"]]},{"id":"f50ae8de.008998","type":"ui_chart","z":"117ae75e.a5f4b9","name":"Humidity graph","group":"e70be721.600c28","order":2,"width":"20","height":"7","label":"Humidity chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":520,"y":780,"wires":[[],[]]},{"id":"dd329880.bb98d8","type":"debug","z":"2159e868.08f748","name":"Presence detector: Cristina presence msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":200,"wires":[]},{"id":"1a5f5835.3b5fc8","type":"ui_gauge","z":"474b74d5.8d1c2c","name":"Temperature","group":"f933085d.8cad7","order":1,"width":"6","height":"4","gtype":"gage","title":"Temperature","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#50b500","#e6df00","#ca3838"],"seg1":"","seg2":"","x":530,"y":100,"wires":[]},{"id":"43d45f81.b8264","type":"mqtt in","z":"474b74d5.8d1c2c","name":"Temperature","topic":"attic_node/temperature","qos":"2","broker":"e67c6dfd.2c6b98","x":150,"y":120,"wires":[["1a5f5835.3b5fc8","48311a24.2c3164","3e3075e8.5acb3a","8caf0eba.83e9"]]},{"id":"48311a24.2c3164","type":"ui_chart","z":"474b74d5.8d1c2c","name":"Temperature graph","group":"fb91ed0a.105588","order":2,"width":"20","height":"7","label":"Temperature chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":550,"y":180,"wires":[[],[]]},{"id":"e727bfd9.9ed77","type":"ui_gauge","z":"474b74d5.8d1c2c","name":"Humidity","group":"f933085d.8cad7","order":1,"width":"6","height":"4","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#50b500","#e6df00","#ca3838"],"seg1":"","seg2":"","x":520,"y":260,"wires":[]},{"id":"128a997c.264bc7","type":"mqtt in","z":"474b74d5.8d1c2c","name":"Humidity","topic":"attic_node/humidity","qos":"2","broker":"e67c6dfd.2c6b98","x":150,"y":260,"wires":[["e727bfd9.9ed77","189f07db.4c1848"]]},{"id":"189f07db.4c1848","type":"ui_chart","z":"474b74d5.8d1c2c","name":"Humidity graph","group":"fb91ed0a.105588","order":2,"width":"20","height":"7","label":"Humidity chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":540,"y":340,"wires":[[],[]]},{"id":"6d45df44.ea667","type":"ui_switch","z":"474b74d5.8d1c2c","name":"","label":"Heating system","tooltip":"","group":"f933085d.8cad7","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":260,"y":640,"wires":[["1ad19fa0.a8977","8caf0eba.83e9"]]},{"id":"d9f0efd3.1c2cb","type":"ui_slider","z":"474b74d5.8d1c2c","name":"","label":"Target temperature","tooltip":"","group":"f933085d.8cad7","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"30","step":1,"x":250,"y":700,"wires":[["3712fe28.aef942"]]},{"id":"1ad19fa0.a8977","type":"function","z":"474b74d5.8d1c2c","name":"Set heating ","func":"\nflow.set(\"heating\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":640,"wires":[[]]},{"id":"3e3075e8.5acb3a","type":"function","z":"474b74d5.8d1c2c","name":"Heating control","func":"\nvar heating = flow.get(\"heating\") || 0;\nvar target_temperature = flow.get(\"target_temperature\") || 0;\nvar temperature = msg.payload;\n\nvar hysteresis = 0.5\n\nif(heating == 1)\n{\n    if(temperature < (target_temperature - hysteresis))\n    {\n        msg.payload = 1;\n        msg.topic = \"ON\";\n    }\n    else if (temperature > (target_temperature + hysteresis))\n    {\n        msg.payload = 0;\n        msg.topic = \"OFF\";\n    }\n    \n}\n\nelse\n{\n    msg.payload = 0;\n    msg.topic = \"OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":520,"wires":[["8caf0eba.83e9","f00f4a32.a96ca8"]]},{"id":"3712fe28.aef942","type":"function","z":"474b74d5.8d1c2c","name":"Set target temperature","func":"\nflow.set(\"target_temperature\",msg.payload)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":700,"wires":[["49e52f7c.8527b"]]},{"id":"8caf0eba.83e9","type":"debug","z":"474b74d5.8d1c2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":500,"y":420,"wires":[]},{"id":"f00f4a32.a96ca8","type":"state-machine","z":"474b74d5.8d1c2c","name":"Heating SM","triggerProperty":"topic","triggerPropertyType":"msg","stateProperty":"topic","statePropertyType":"msg","outputStateChangeOnly":false,"throwException":false,"states":["OFF_SENT","OFF","ON","ON_SENT"],"transitions":[{"name":"ON","from":"OFF","to":"ON"},{"name":"ON","from":"ON","to":"ON_SENT"},{"name":"ON","from":"ON_SENT","to":"ON_SENT"},{"name":"ON","from":"OFF_SENT","to":"ON"},{"name":"OFF","from":"OFF","to":"OFF_SENT"},{"name":"OFF","from":"ON","to":"OFF"},{"name":"OFF","from":"ON_SENT","to":"OFF"},{"name":"OFF","from":"OFF_SENT","to":"OFF_SENT"}],"x":590,"y":520,"wires":[["b7dcb55c.4f5d58"]]},{"id":"b7dcb55c.4f5d58","type":"switch","z":"474b74d5.8d1c2c","name":"Switch","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":790,"y":520,"wires":[["c4da8a3f.006c48","b5956062.8f48a"],["f8443444.7b9a78","d27f0769.52728"],[]],"outputLabels":["","message.topic = ",null]},{"id":"c4da8a3f.006c48","type":"ifttt out","z":"474b74d5.8d1c2c","eventName":"heating_on_1","key":"dab75ed.980752","x":1000,"y":380,"wires":[]},{"id":"f8443444.7b9a78","type":"ifttt out","z":"474b74d5.8d1c2c","eventName":"heating_off_1","key":"dab75ed.980752","x":1000,"y":560,"wires":[]},{"id":"49e52f7c.8527b","type":"ui_text","z":"474b74d5.8d1c2c","group":"f933085d.8cad7","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":660,"y":800,"wires":[]},{"id":"b5956062.8f48a","type":"ifttt out","z":"474b74d5.8d1c2c","eventName":"heating_on_2","key":"dab75ed.980752","x":1000,"y":420,"wires":[]},{"id":"d27f0769.52728","type":"ifttt out","z":"474b74d5.8d1c2c","eventName":"heating_off_2","key":"dab75ed.980752","x":1000,"y":600,"wires":[]},{"id":"f4e4aee8.5fdf","type":"mqtt in","z":"117ae75e.a5f4b9","name":"Light amount","topic":"livingroom_node/light","qos":"2","broker":"e67c6dfd.2c6b98","x":70,"y":940,"wires":[["655e7a2a.e6b76c"]]},{"id":"17307404.62e40c","type":"ui_gauge","z":"117ae75e.a5f4b9","name":"Light amount","group":"66bb6238.405dac","order":1,"width":"6","height":"4","gtype":"wave","title":"Light amount","label":"Lx","format":"{{value}}","min":0,"max":"5000","colors":["#50b500","#e6df00","#ca3838"],"seg1":"","seg2":"","x":510,"y":940,"wires":[]},{"id":"46673997.207908","type":"ui_chart","z":"117ae75e.a5f4b9","name":"Temperature graph","group":"e70be721.600c28","order":2,"width":"20","height":"7","label":"Light chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":1020,"wires":[[],[]]},{"id":"cbf3bc91.a9e028","type":"ui_button","z":"fd1f9f53.46937","name":"","group":"4e2cd84b.024548","order":2,"width":0,"height":0,"passthru":false,"label":"Warning ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":110,"y":560,"wires":[["3ab95f53.7c948"]]},{"id":"651b667a.e1248","type":"ui_button","z":"fd1f9f53.46937","name":"","group":"4e2cd84b.024548","order":2,"width":0,"height":0,"passthru":false,"label":"Warning OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":120,"y":600,"wires":[["3ab95f53.7c948"]]},{"id":"3ab95f53.7c948","type":"mqtt out","z":"fd1f9f53.46937","name":"","topic":"entrance/warning","qos":"","retain":"","broker":"e67c6dfd.2c6b98","x":390,"y":580,"wires":[]},{"id":"4ac36ba7.8bf0ec","type":"switch","z":"bf97828f.e0d5","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"has_finished","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1050,"y":720,"wires":[["1f113c19.9a5364"],["c0d9050c.dfb5e8"]],"outputLabels":["","message.topic = "]},{"id":"27b6e8d4.f5ffc","type":"ui_chart","z":"bf97828f.e0d5","name":"Washmachine graph","group":"4406aa4.a2328d4","order":2,"width":"14","height":"7","label":"Washmachine consumption","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"9000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1120,"y":900,"wires":[[],[]]},{"id":"7be35af1.7c351c","type":"python-function","z":"bf97828f.e0d5","name":"Do_check","func":"import sys\nsys.path.append(os.path.abspath(\"/home/pi/Projects/smart_washmachine\"))\nimport smart_washmachine\n\nstatus = smart_washmachine.check_status()\n\nif(status != 0):\n    msg['topic'] = 'running'\nelse:\n    msg['topic'] = 'has_finished'\n    \nmsg['payload'] = status\n\nreturn msg","outputs":1,"x":900,"y":720,"wires":[["4ac36ba7.8bf0ec","27b6e8d4.f5ffc","4c4069c5.e84c38"]]},{"id":"f05aa3b6.aa445","type":"function","z":"117ae75e.a5f4b9","name":"Set light amount ","func":"\nglobal.set(\"light_amount\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1100,"wires":[[]]},{"id":"148f668e.b854e1","type":"function","z":"ebed6492.dd9558","name":"Get light amount","func":"\nmsg.payload = global.get(\"light_amount\") || 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":360,"wires":[["7465616.21b242","2e8a6bb3.c5332c"]]},{"id":"7465616.21b242","type":"switch","z":"ebed6492.dd9558","name":"Switch lights ON","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":360,"wires":[["e190d33f.e2bd58"]]},{"id":"e190d33f.e2bd58","type":"ifttt out","z":"ebed6492.dd9558","eventName":"livingroom_on","key":"dab75ed.980752","x":1260,"y":360,"wires":[]},{"id":"2e8a6bb3.c5332c","type":"debug","z":"ebed6492.dd9558","name":"Computed payload: light amount","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1080,"y":280,"wires":[]},{"id":"d05927ef.6c313","type":"debug","z":"117ae75e.a5f4b9","name":"Received msg: light amount","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":560,"y":880,"wires":[]},{"id":"655e7a2a.e6b76c","type":"json","z":"117ae75e.a5f4b9","name":"Json converter","property":"payload","action":"","pretty":false,"x":260,"y":940,"wires":[["d05927ef.6c313","17307404.62e40c","46673997.207908","f05aa3b6.aa445"]]},{"id":"4c4069c5.e84c38","type":"debug","z":"bf97828f.e0d5","name":"Further checks","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1100,"y":960,"wires":[]},{"id":"23ae531b.65f60c","type":"mqtt in","z":"2159e868.08f748","name":"Cristina presence","topic":"presence_detection/cristina","qos":"2","broker":"e67c6dfd.2c6b98","x":160,"y":200,"wires":[["7d6fd9e5.99b2d8","dd329880.bb98d8"]]},{"id":"7d6fd9e5.99b2d8","type":"function","z":"2159e868.08f748","name":"Set payload Cris","func":"\nvar datetime = new Date()\n\nflow.set(\"last_detection_cris\", datetime)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[[]]},{"id":"e531f37a.06057","type":"inject","z":"2159e868.08f748","name":"Trigger every 10 seconds","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":160,"y":460,"wires":[["a174ad79.3acee","e0f78272.3b36f"]]},{"id":"a174ad79.3acee","type":"function","z":"2159e868.08f748","name":"Check payload Cris","func":"var datetime = new Date()\n\nvar last_detection = flow.get(\"last_detection_cris\") || 0;\n\nvar time_since_last_detection = datetime - last_detection\nnode.error(time_since_last_detection)\n\nif( time_since_last_detection > 60000 )\n{\n    msg.payload = false\n}\nelse\n{\n    msg.payload = true\n}\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":360,"wires":[["95381fe2.77e998","4bdf1aa7.04fa2c"]]},{"id":"4bdf1aa7.04fa2c","type":"ui_switch","z":"2159e868.08f748","name":"","label":"Cristina","tooltip":"","group":"c086012c.2407d8","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":820,"y":360,"wires":[[]]},{"id":"97ff935d.fc163","type":"exec","z":"2159e868.08f748","command":"sudo python /home/pi/Projects/ble_scanner/rasp-ble-scanner/presence_detection.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Test exec python","x":470,"y":1040,"wires":[["9629243a.357b4"],["9629243a.357b4"],[]]},{"id":"9629243a.357b4","type":"debug","z":"2159e868.08f748","name":"Presence detector: Script output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":820,"y":1040,"wires":[]},{"id":"9e635827.7e94f8","type":"mqtt in","z":"2159e868.08f748","name":"Door status","topic":"entrance_node/door_status","qos":"2","broker":"e67c6dfd.2c6b98","x":110,"y":1040,"wires":[["208e04cb.4e0d84","97ff935d.fc163"]]},{"id":"208e04cb.4e0d84","type":"delay","z":"2159e868.08f748","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":580,"wires":[["a174ad79.3acee","e0f78272.3b36f"]]},{"id":"95381fe2.77e998","type":"switch","z":"2159e868.08f748","name":"Event at change","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":300,"wires":[["92173b4.7e4a048"]]},{"id":"37900333.3bedcc","type":"ifttt out","z":"2159e868.08f748","eventName":"raul_at_home","key":"59f1345a.5292fc","x":1000,"y":120,"wires":[]},{"id":"d2ccb14c.c7cba8","type":"debug","z":"2159e868.08f748","name":"Presence detector: IFFT triggered","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1100,"y":60,"wires":[]},{"id":"8cd3f97a.0ece5","type":"ifttt out","z":"2159e868.08f748","eventName":"cris_at_home","key":"dab75ed.980752","x":1280,"y":160,"wires":[]},{"id":"50736ad7.194944","type":"inject","z":"2159e868.08f748","name":"Triger once at start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":1240,"wires":[["ff29f6b0.14a5e"]]},{"id":"ff29f6b0.14a5e","type":"function","z":"2159e868.08f748","name":"Set initial values","func":"\nvar datetime = new Date()\n\nflow.set(\"last_detection_cris\", datetime - 60000)\nflow.set(\"last_detection_raul\", datetime - 60000)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1240,"wires":[[]]},{"id":"92173b4.7e4a048","type":"switch","z":"2159e868.08f748","name":"Decide IN/OUT","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1080,"y":300,"wires":[["8cd3f97a.0ece5","2fcc1388.a7a4f4"],["203ef608.48d912","253ad56f.983712"]]},{"id":"4b889642.5ca4f8","type":"debug","z":"2159e868.08f748","name":"Presence detector: Raul presence msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":60,"wires":[]},{"id":"27e74b14.c15394","type":"mqtt in","z":"2159e868.08f748","name":"Raul presence","topic":"presence_detection/raul","qos":"2","broker":"e67c6dfd.2c6b98","x":160,"y":60,"wires":[["f906dfbd.a19478","4b889642.5ca4f8"]]},{"id":"f906dfbd.a19478","type":"function","z":"2159e868.08f748","name":"Set payload Raul","func":"\nvar datetime = new Date()\n\nflow.set(\"last_detection_raul\", datetime)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":120,"wires":[[]]},{"id":"203ef608.48d912","type":"ifttt out","z":"2159e868.08f748","eventName":"cris_left_home","key":"dab75ed.980752","x":1280,"y":420,"wires":[]},{"id":"39a494ba.8b5db4","type":"ui_text","z":"2159e868.08f748","group":"c086012c.2407d8","order":2,"width":0,"height":0,"name":"Last entrance","label":"{{msg.payload}}","format":"{{msg.timestamp}}","layout":"row-spread","x":1560,"y":300,"wires":[]},{"id":"2fcc1388.a7a4f4","type":"function","z":"2159e868.08f748","name":"Set payload","func":"var datetime = new Date()\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nmsg.payload = \"Came at: \"\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":260,"wires":[["39a494ba.8b5db4"]]},{"id":"253ad56f.983712","type":"function","z":"2159e868.08f748","name":"Set payload","func":"var datetime = new Date()\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nmsg.payload = \"Left at: \"\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":340,"wires":[["39a494ba.8b5db4"]]},{"id":"e0f78272.3b36f","type":"function","z":"2159e868.08f748","name":"Check payload Raul","func":"var datetime = new Date()\n\nvar last_detection = flow.get(\"last_detection_raul\") || 0;\n\nvar time_since_last_detection = datetime - last_detection\nnode.error(time_since_last_detection)\n\nif( time_since_last_detection > 60000 )\n{\n    msg.payload = false\n}\nelse\n{\n    msg.payload = true\n}\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":700,"wires":[["1e715a44.ae3406","c7f2a410.f87d98"]]},{"id":"c7f2a410.f87d98","type":"ui_switch","z":"2159e868.08f748","name":"","label":"Raul","tooltip":"","group":"c086012c.2407d8","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":700,"wires":[[]]},{"id":"1e715a44.ae3406","type":"switch","z":"2159e868.08f748","name":"Event at change","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":640,"wires":[["4cf56a45.3215e4"]]},{"id":"4cf56a45.3215e4","type":"switch","z":"2159e868.08f748","name":"Decide IN/OUT","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1080,"y":640,"wires":[["4a73f0eb.a54dc8","214fedd9.1aa8b2"],["d3a72d5d.144ba8","a1805feb.d71ea8"]]},{"id":"4a73f0eb.a54dc8","type":"ifttt out","z":"2159e868.08f748","eventName":"raul_at_home","key":"dab75ed.980752","x":1280,"y":500,"wires":[]},{"id":"214fedd9.1aa8b2","type":"function","z":"2159e868.08f748","name":"Set payload","func":"var datetime = new Date()\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nmsg.payload = \"Came at: \"\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":600,"wires":[["2cd7df9b.240538"]]},{"id":"a1805feb.d71ea8","type":"function","z":"2159e868.08f748","name":"Set payload","func":"var datetime = new Date()\n\nvar seconds = datetime.getSeconds()\nvar minutes = datetime.getMinutes()\nvar hours = datetime.getHours()\nvar month = datetime.getMonth() + 1\nvar year = datetime.getFullYear()\n\n\nvar time_parsed = hours.toString()\ntime_parsed += \":\"\nif(minutes < 10) time_parsed += \"0\"\ntime_parsed += minutes.toString()\ntime_parsed += \":\"\nif(seconds < 10) time_parsed += \"0\"\ntime_parsed += seconds.toString()\ntime_parsed += \"  \"\ntime_parsed += month.toString()\ntime_parsed += \"/\"\ntime_parsed += year.toString()\n\n\nmsg.payload = \"Left at: \"\nmsg.timestamp = time_parsed\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":680,"wires":[["2cd7df9b.240538"]]},{"id":"d3a72d5d.144ba8","type":"ifttt out","z":"2159e868.08f748","eventName":"raul_left_home","key":"dab75ed.980752","x":1280,"y":760,"wires":[]},{"id":"2cd7df9b.240538","type":"ui_text","z":"2159e868.08f748","group":"c086012c.2407d8","order":4,"width":0,"height":0,"name":"Last entrance","label":"{{msg.payload}}","format":"{{msg.timestamp}}","layout":"row-spread","x":1560,"y":640,"wires":[]}]
